<% if @responses.length > 0 %>
  <div class='personal'>
    <% @responses.each do |response| %>
      <%= render 'talks/response_list', :object => response, :current_user => @current_user %>
    <% end %>
  </div>
<% end %>