<% unless @root.name.blank? %>
  <h2 class="titleC">
    <%= @root.name %>
  </h2>
<% end %>

<%#= render "#{@root._type.pluralize.underscore}/teaser_#{session[:feed_filters][:layout]}", :object => @root %>