<% if @responses.length > 0 %>
  <div class='personal'>
    <% if @personal_count && @root.class.name != 'Topic' %>
      <a href="<%= url_for @root %>" class="talking">
        <%= pluralize(@personal_count, 'friend') %> <%= @personal_count > 1 || @personal_count == 0 ? 'are' : 'is' %> talking about this
      </a>
    <% end %>
    <% @responses.each do |response| %>
      <%= render 'talks/response_column', :object => response, :current_user => @current_user %>
    <% end %>
  </div>
<% end %>