<% if session[:tutorial] == :on %>

  <% if params[:tutorial] == 'feed' %>
    <div id='tutorial-show-feed'></div>
  <% end %>

  <div class="hf" id='hf-sort'>
    <div class="num">1</div>
    <div class="c">
      <div>Sort</div>
      <ul>
        <li>Sort feeds by newest posts or post popularity over time.</li>
      </ul>
    </div>
  </div>
  <div class="hf" id='hf-filter'>
    <div class="num">2</div>
    <div class="c">
      <div>Filters</div>
      <ul>
        <li>Toggle filters to include only the post types you want to see.</li>
      </ul>
    </div>
  </div>
  <div class="hf left" id="hf-view">
    <div class="num">3</div>
    <div class="c">
      <div>Views</div>
      <ul>
        <li class='b'>View feeds in list, grid, or column format.</li>
        <li>List is great for small screens, while grid and column are better for larger screens.</li>
      </ul>
    </div>
  </div>
  <div class="hf" id="hf-interact">
    <div class="num">4</div>
    <div class="c">
      <div>Interact</div>
      <ul>
        <li class="b">Navigate feeds with your keyboard or mouse.</li>
        <li class="b">
          <div class="icon">
            <div class="plus-grey-icon"></div>
          </div>
          Vote on a post to indicate wether you think it's worthy.
        </li>
        <li class="b">
          <div class="icon">
            <div class="heart-grey-icon"></div>
          </div>
          Favorite a post to find it later in your favorites.
        </li>
        <li class="b">
          <div class="icon">
            <div class="repost-grey-icon"></div>
          </div>
          Repost a post and it will show up in the feeds of your followers.
        </li>
        <li>
          <div class="icon">
            <div class="share-grey-icon"></div>
          </div>
          Share a post with specific users and they'll be notified.
        </li>
      </ul>
    </div>
  </div>
<% end %>