<% if session[:tutorial] == :on %>
  <div id='hp'>
    <div class="master ">
      <div class="head">Limelight Tutorials</div>
      <div class="sub">Choose a tutorial from below to get started</div>
      <div class="tutorials">
        <div id='hp-up'>User Panel</div>
        <!--<div id='hp-topics'>Topics</div>-->
        <div id='hp-contrib'>Contributing</div>
        <div id='hp-feed'>Feeds</div>
        <div id='hp-topic'>Topics</div>
      </div>
    </div>
    <div class="up hide">
      <div class="head">User Panel - Limelight Tutorials</div>
      <div class="sub">Mouse over any of the items below</div>
      <div class="tutorials">
        <div data-t='#hf-fol'>1. Following</div>
        <div data-t='#hf-pop'>2. Popularity</div>
        <div data-t='#hf-mf'>3. My Feed</div>
        <div data-t='#hf-contrib'>4. Contributions</div>
      </div>
      <div class="more">More Tutorials /</div>
    </div>
    <div class="contrib hide">
      <div class="head">Contribute - Limelight Tutorials</div>
      <div class="sub">Mouse over any of the items below</div>
      <div class="tutorials">
        <div data-t='#hf-ptype'>1. Post Types</div>
        <div data-t='#hf-mention'>2. Mentions</div>
        <div data-t='#hf-ooc'>3. Out of Context Mentions</div>
      </div>
      <div class="more">More Tutorials /</div>
    </div>
    <div class="feed hide">
      <div class="head">Feeds - Limelight Tutorials</div>
      <div class="sub">Mouse over any of the items below</div>
      <div class="tutorials">
        <div data-t='#hf-sort'>1. Sort</div>
        <div data-t='#hf-filter'>2. Filter</div>
        <div data-t='#hf-view'>3. View</div>
        <div data-t='#hf-interact'>4. Interact</div>
      </div>
      <div class="more">More Tutorials /</div>
    </div>
    <div class="topic hide">
      <div class="head">Topics - Limelight Tutorials</div>
      <div class="sub">Mouse over any of the items below</div>
      <div class="tutorials">
        <div data-t='#hf-types'>1. Types</div>
        <div data-t='#hf-follow'>2. Follow</div>
        <div data-t='#hf-popularity'>3. Popularity</div>
        <div data-t='#hf-aliases'>4. Aliases</div>
        <div data-t='#hf-connections'>5. Connections</div>
      </div>
      <div class="more">More Tutorials /</div>
    </div>
    <div class="close ac" data-url='<%= tutorial_off_path %>' data-m='put'>Close Tutorials</div>
  </div>
<% end %>