<% if session[:tutorial] == :on %>
  <div class="hf left" id='hf-types'>
    <div class="num">1</div>
    <div class="c">
      <div>Types</div>
      <ul>
        <li class='b'>Much of the time, topics are types of other topics.</li>
        <li>Assigning types to topics helps Limelight organize topic feeds.</li>
      </ul>
    </div>
  </div>
  <div class="hf left" id='hf-popularity'>
    <div class="num">2</div>
    <div class="c">
      <div>Popularity</div>
      <ul>
        <li>We need to fill this tutorial in!</li>
      </ul>
    </div>
  </div>
  <div class="hf left" id="hf-follow">
    <div class="num">3</div>
    <div class="c">
      <div>Follow</div>
      <ul>
        <li>Follow topics and posts mentioning the topic will be added to your feed.</li>
      </ul>
    </div>
  </div>
  <div class="hf left" id="hf-aliases">
    <div class="num">4</div>
    <div class="c">
      <div>Aliases</div>
      <ul>
        <li class="b">Topics often have a few names.</li>
        <li>Aliases allow users to mention topics in different ways.</li>
      </ul>
    </div>
  </div>
  <div class="hf left" id="hf-connections">
    <div class="num">5</div>
    <div class="c">
      <div>Connections</div>
      <ul>
        <li class="b">Connections create a web of related topics on Limelight.</li>
        <li>
          Limelight uses connections to intelligently pull relevant posts into topic feeds.
          For example, the Apple topic will pull posts mentioning Apple and posts mentioning Apple
          products like the iPhone.
        </li>
      </ul>
    </div>
  </div>
<% end %>