<li class="con-sug teaser">
  <div class="topic1"><%= sug.topic1_name %></div>
  <div class="inline"><%= sug.inline %></div>
  <div class="topic2"><%= sug.topic2_name %></div>

  <div class="sug-a-small one"></div>
  <div class="sug-a-small two rev"></div>
</li>