<h2>Suggest a New Connection</h2>
<%= render "form", :connections => @connections %>

<h2 id="sugs-title">Pending Suggestions
  <span class="for hide">for</span>
  <span class="t1"></span>
  <span class="and hide">and</span>
  <span class="t2"></span>
</h2>
<div class="subheader">A connection is accepted when enough users indicate that it is correct.</div>
<div id="sug-list-c"></div>