<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<p>Hey There,</p>

<p>
  Thanks for signing up! We're currently collecting emails for our private Beta. Once we hit our target number, we'll send everyone a link
  so you can sign up and use Limelight all at once! We can't wait, and we hope you can't either.
</p>

<p>
  In the meantime, you can help spread the Limelight love by liking us on <a href="http://www.facebook.com/DiscoverLimelight">Facebook</a> and following us on <a href="https://twitter.com/#!/limelight_team">Twitter</a>.
</p>