<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<p>Hey There!</p>

<p>
  Welcome to Limelight, you're awesome!
</p>

<p>
  Limelight is a new way to discuss the topics you care about.
  Basically it's the coolest thing since Myspace.
  You follow the topics and users you're interested in,
  and we show you content we think you'll like.
  But wait, that's just the tip of the iceberg!
  There are lots of ways to share, rate, organize, discuss,
  and generally lose yourself in Limelight.
  If you want to find out more about how it all works, log in and click Tutorials on the bottom left.
</p>
<p>
  Honestly, we could talk about Limelight all day, but it'd be much better for you to just play around with the site.
</p>
<p>
  ...Or we can literally talk about Limelight all day: hit us up @<a href="<%= base %>/users/marc" target="_blank">marc</a> and @<a href="<%= base %>/users/matt" target="_blank">matt</a>.
</p>