<p>Hey There!</p>

<p>
  Welcome to Limelight! You probably already know a bit about the site, but here are a few quick tips to get you started.
</p>

<p>
  Limelight is a social site where posts are shared around topics. Every type of post can be tagged with the topics it's about. This allows you to share, find, rate and discuss content relevant to you simply by following the topics and users that interest you. If you want to find out more about how it all works, just log in to Limelight and click Tutorials on the bottom left!
</p>