<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<div align="center"><a href="<%= base %>">
  <%= image_tag base + image_path('logo_black.gif'), :style => 'max-width: 259px; max-height: 61px;', :alt => "" %>
</a></div>

<p>Hey There, and welcome to Limelight!</p>

<p>We're glad you've decided to join! Here are a few tips to get you started.</p>

<table>
  <tr>
    <td>
      <h3>1</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Connect with your friends</div>
      <div>Do connecting stuff</div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>2</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Contribute</div>
      <div>Find something cool on the web you want to share? That's what Limelight is for! Just click "Contribute" up top!</div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>3</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Check back often</div>
      <div>Posts are constantly being submitted, allowing you to get the lastest on all your favorite topics</div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>4</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Use the tutorials</div>
      <div>Click "Tutorials" on the bottom left after logging in. There's tons of info on how to use the site!</div>
    </td>
  </tr>
</table>

<p>If you want to find out more about how it all works, log in and click Tutorials on the bottom left.</p>