<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<p>Hey There, and welcome to Limelight!</p>

<p>We're glad you've decided to join! Here are a few tips to get you started.</p>

<table>
  <tr>
    <td>
      <h3 style="margin-right: 10px;">1</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Follow Some Topics</div>
      <div>Go find topics that interest you! Then follow them and have related posts show up in your feed.</div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>2</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Contribute</div>
      <div>Find something cool on the web that you want to share? Have something to say? That's what Limelight is for, just click "+Post" up top!</div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>3</h3>
    </td>
    <td>
      <div style="font-weight: bold;">Interact</div>
      <div>Join the discussion - like, repost, and comment on posts. Talk with friends and people with similar interests about topics you like.</div>
    </td>
  </tr>
</table>

<p>If you have any questions or comments simply add the "Limelight Feedback" topic to a post. You can also reach us directly on Limelight @Marc and @Matt.</p>