<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
    <%= f.text_field :login, :id => 'user-login', :autocomplete => :off, :placeholder => 'Email or Username...' %>
  </div>
  <div>
    <%= f.password_field :password, :id => 'user-password', :autocomplete => :off, :placeholder => 'Password...' %>
  </div>
  <input type="submit" value="Log In" class="btn btn-success">
<% end %>