<form action="<%= add_topic_alias_path %>" id="add-alias-form" method="POST" class="ajax">

  <div class="lClear required">
    <%= text_area_tag "new_aliases", topic.also_known_as, :id => "new-aliases" %>
  </div>

  <div class="actions">
    <%= submit_tag "Add", :class => "submit" %>
  </div>
</form>