<form action="<%= add_topic_alias_path %>" id="add-alias-form" method="POST" class="ajax">

  <div>
    <label>Name</label>
    <%= text_field_tag "alias[name]", '' %>
  </div>
  <div>
    <label>One of a kind?</label>
    <%= check_box_tag "alias[ooac]", '' %>
  </div>

  <div class="actions">
    <%= submit_tag "Add", :class => "submit" %>
  </div>
</form>