<div class="pull-from-c">
  <h2>The <%= topic.name %> topic includes content from <%= pull_from_ids.length %> other <%= pull_from_ids.length > 1 ? 'topics' : 'topic' %></h2>
  
  <div class="help">
    Topic feeds often include content from other related topic feeds.
    For example the Baseball Team topic includes posts from the Red Sox topic.
    The Baseball topic includes posts from the Baseball Team topic.
    The Sports topic includes posts from the Baseball topic.
  </div>
  
  <div class="topics">
    <% pull_from_topics.each do |topic| %>
      <%= topic_link(topic) %>
    <% end %>
  </div>
</div>