<div class="tag topic <%= 'with-image' if include_image == true %>">
  <% if include_image == true %>
    <%= image_tag topic_default_picture(topic, image_d, image_d, 'fillcropmid'), :style => "max-width: 30px;", :alt => "" %>
  <% end %>
  <%= topic_link topic %>
</div>