<% content_for :page_header do %>
  <h1><%= @title %></h1>
<% end %>

<% content_for :sidebar_right do %>
  <%= render_cell(:topic, :sidebar_right, current_user, @topic, @connections) %>
<% end %>

<div class="topic-con-full">
  <% @connections.each do |con_id, connection| %>
    <h4><%= connection[:name] %>:</h4>
    <ul class="alt-list">
      <li class="labels">
        <div>Topic</div>
        <div>Popularity</div>
        <div>Followers</div>
      </li>
      <% connection[:data].each do |data| %>
        <%= render 'topics/teaser', :topic => data[:topic] %>
      <% end %>
    </ul>
  <% end %>
</div>