<% content_for :page_header do %>
  <h1><%= @topic.name %> followers</h1>
<% end %>

<% content_for :sidebar_right do %>
  <%= render_cell(:topic, :sidebar_right, current_user, @topic) %>
<% end %>

<% if !@followers.empty? %>
  <ul class="alt-list">
      <li class="labels">
        <div>User</div>
        <div>Popularity</div>
        <div>Followers</div>
      </li>
    <% @followers.each do |follower| %>
      <%= render 'users/teaser', :user => follower %>
    <% end %>
  </ul>
<% else %>
  <div class="empty">This topic has no followers!</div>
<% end %>