<%= form_for InviteCode.new, :url => :check_invite_code, :html => { :class => 'ajax' } do |f| %>
  <div class='errors'></div>
  <div>
    <%= f.label :code, "Type Invite Code And Press Enter" %>
    <%= f.text_field :code, :autocomplete => :off, :placeholder => "Paste yo invite code here..." %>
  </div>
  <input type='submit' value='Use Invite Code' class="btn btn-success" />
<% end %>