<%= form_for InviteCode.new, :url => :check_invite_code, :html => { :class => 'ajax' } do |f| %>
  <div class="errors"></div>

  <div class="field lClear">
    <%= f.label :code, "Invite Code" %>
    <%= f.text_field :code, %>
  </div>

  <div class="actions">
    <%= f.submit "Redeem Code", :class => "submit" %>
  </div>
<% end %>