<%= form_for InviteCode.new, :url => :check_invite_code, :html => { :class => 'ajax' } do |f| %>
  <% if flash[:register_fail] %>
    <div class="invite-errors errors showem">
      <div class="error"><%= flash[:register_fail] %></div>
    </div>
  <% end %>
  <div class="field lClear">
    <%= f.label :code, "Type Invite Code And Press Enter" %>
    <%= f.text_field :code, %>
  </div>
<% end %>