<%= form_for InviteCode.new, :url => :check_invite_code, :html => { :class => 'ajax' } do |f| %>
  <div class='errors'></div>
  <%= f.text_field :code, :autocomplete => :off, :placeholder => "Invite code..." %>
  <input type='submit' value='Use Invite Code' class="btn btn-success" />
<% end %>