<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<p>Hi <%= @user.first_or_username %>, you have a new notification:</p>

<div style="padding: 0 10px 10px 10px;">
  <a href="<%= base + user_path(@notification.triggered_by) %>" target="_blank"><%= @notification.triggered_by.first_or_username %></a>
  <%= action_text(@notification, base) %>
</div>
