<div class="notification mentioned <%= is_first %> <%= 'unread' unless notification.read %>">
  <div class="at-grey-icon icon"></div>
  <%= triggered_users_text_list(notification.triggered_by, base) %>
  <%= action_text(notification, base) %>
</div>