<div class="notification reply <%= is_first %> <%= 'unread' unless notification.read %>">
  <div class="chat-grey-icon icon"></div>
  <%= triggered_users_text_list(notification.triggered_by) %>
  <%= action_text(notification) %>
</div>