<div class="notification share <%= is_first %> <%= 'unread' unless notification.read %>">
  <%= triggered_users_text_list(notification.triggered_by, base) %>
  <%= action_text(notification, base) %>
</div>