<% content_for :page_header do %>
  <h1>notifications</h1>
<% end %>

<% if !@notifications.empty? %>
  <% current_time = nil %>
  <% @notifications.each do |notification| %>
    <% if pretty_time(notification.updated_at) != current_time %>
      <% current_time = pretty_time(notification.updated_at) %>
      <h4><%= pretty_time(notification.updated_at) %></h4>
    <% end %>
    <%= render "notifications/#{notification.type.to_s.underscore}_notification", :notification => notification %>
  <% end %>
<% else %>
  <div class="empty">You have no notifications!</div>
<% end %>