<% content_for :page_header do %>

<% end %>

<div class="objectContent">
  <%= markdown(parse_mentions(@talk.content, @talk)) %>
</div>

<%= render 'favorites/btn', :object => @talk, :user => current_user %>
<%= render 'reposts/btn', :object => @talk, :user => current_user %>

<%= render_cell :comment, :thread, @talk.id, true %>