<div class="beta-login">
  <a href="<%= user_omniauth_authorize_path(:facebook) %>" class='facebook'>
    <%= image_tag('facebook-login-button.gif') %>
  </a>
  <div class="foot">We do not share your information.</div>
  <div class="foot">We do not abuse your wall.</div>

  <div class='divider'>
    <div>OR</div>
  </div>

  <div class="foot">Login directly with Limelight.</div>
  <%= render "users/sessions/new" %>
  <div class='back'>
    Back <div class='ll-green-arrow-left'></div>
  </div>
</div>