<% users.each do |user| %>
  <%= render 'users/teaser', :user => user %>
<% end %>

<% unless users.count(true) == 0 %>
  <div id="load-more" class="ac" data-m="get" data-url="<%= @more_path %>">load more</div>
<% end %>