<div id="username_reset_box">
  <h2>Please Confirm Your Username</h2>
  <div class="help">
    We took a best guess, but please update your username below if you'd like.
    <span>Your username is permanent, pick a good one!</span>
  </div>
  <%= render 'users/change_username_form' %>
</div>