<div id="username_reset_box">
  <h2>Please Confirm Your Username</h2>
  <div class="help">
    Please choose a username below.
    <span>Your username is permanent, pick a good one!</span>
  </div>
  <%= render 'users/change_username_form' %>
</div>