<div class="contacts">
  <h2>Contact Error</h2>
  <div>We're sorry, there has been an error retrieving your contacts. Please contact support@projectlimelight.com if this happens again</div>
  <div><a href="/">Home</a></div>
</div>