<% if current_user != @user %>
  <% content_for :sidebar_right do %>
    <%= render_cell(:user, :sidebar_right, @user) %>
  <% end %>
<% end %>

<% if !@followers.empty? %>
  <ul class="alt-list">
    <% @followers.each do |follower| %>
      <%= render 'users/teaser', :user => follower %>
    <% end %>
  </ul>
<% else %>
  <div class="empty">This user has no followers!</div>
<% end %>