<% content_for :page_header do %>
  <h1>Users <%= @user.username %> is following</h1>
<% end %>

<% if current_user != @user %>
  <% content_for :sidebar_right do  %>
    <%= render_cell(:user, :sidebar_right, current_user, @user) %>
  <% end %>
<% end %>

<% if !@following_users.empty? %>
  <ul class="alt-list">
    <li class="labels">
      <div>User</div>
      <div>Popularity</div>
      <div>Followers</div>
    </li>
    <% @following_users.each do |following_user| %>
      <%= render 'users/teaser', :user => following_user %>
    <% end %>
  </ul>
<% else %>
  <div class="empty">This user is not following any users!</div>
<% end %>