<% if current_user != @user %>
  <% content_for :sidebar_right do  %>
    <%= render_cell(:user, :sidebar_right, @user) %>
  <% end %>
<% end %>

<% if !@following_users.empty? %>
  <ul class="alt-list">
    <% @following_users.each do |following_user| %>
      <%= render 'users/teaser', :user => following_user %>
    <% end %>
  </ul>
<% else %>
  <div class="empty">This user is not following any users!</div>
<% end %>