<div id='splash-page'>
  <div class='top'>
    <div class='container'>
      <div class="logo-title">
        <%= image_tag "splash-logo.png", :alt => "", :class => "logo" %>

        <h1>Limelight</h1>
        <h2>It's like tweeting with benefits</h2>
      </div>

      <div class='cheeky-buttons <%= 'hide' if @show == :login || @show == :register %>'>
        <div class='btn btn-success login'>I <b>have</b> an Account</div>
        <div class='btn btn-success register'>I <b>want</b> an Account</div>
      </div>

      <%= render "users/auth_box", :show => @show %>
    </div>
  </div>
  <div class='bottom'>
    <div class='container'>
      <ul class="splash-influence unstyled">
        <li>
          <div class="score-pts"><span>+5</span> pts</div>
          <div class="user">Marc</div>
          <img src="#">
          <div class="topic">Barack Obama</div>
        </li>
        <li>
          <div class="score-pts"><span>+14</span> pts</div>
          <div class="user">Matt</div>
          <img src="#">
          <div class="topic">World of Warcraft</div>
        </li>
        <li>
          <div class="score-pts"><span>+3</span> pts</div>
          <div class="user">Sam</div>
          <img src="#">
          <div class="topic">Farts</div>
        </li>
        <li>
          <div class="score-pts"><span>+8</span> pts</div>
          <div class="user">Marc</div>
          <img src="#">
          <div class="topic">Japan</div>
        </li>
        <li>
          <div class="score-pts"><span>+3</span> pts</div>
          <div class="user">Eric</div>
          <img src="#">
          <div class="topic">Call of Duty: Modern Warfare</div>
        </li>
        <li>
          <div class="score-pts"><span>+7</span> pts</div>
          <div class="user">Matt</div>
          <img src="#">
          <div class="topic">Barack Obama</div>
        </li>

      </ul>
      <div class="left">
        <h2>What's Limelight?</h2>
        <p>On Limelight, you can follow users (what else is new), but you can also follow topics. We show you videos, pictures, links, and discussion from your friends about the topics that interest you.</p>
        <h2>What are topics?</h2>
        <p>A topic on Limelight can be any noun, like “iPhone 5” or “Barack Obama” or “Lolcats”.</p>
      </div>
      <div class="right">
        <h2>What's influence?</h2>
        <p>
          The more people like what you say, the more “influence” you gain toward the topics you talked about. These people are gaining influence right now!
          <%= image_tag "splash-inf-arrow.png", :alt => "", :class => "inf-arrow" %>
        </p>
        <h2>What does influence do?</h2>
        <p>The more you influence you have over a topic, the more likely people are to see what you say about it.</p>
      </div>
    </div>
  </div>
</div>