<div id='splash-page'>
  <div class='top'>
    <div class='container'>
      <div class="logo-title">
        <%= image_tag "splash-logo.png", :alt => "", :class => "logo" %>

        <h1>Limelight</h1>
        <h2>It's like tweeting with benefits</h2>
      </div>

      <div class='cheeky-buttons <%= 'hide' if @show == :login || @show == :register %>'>
        <button class='btn btn-success login'>I <b>have</b> an Account</button>
        <button class='btn btn-success register'>I <b>want</b> an Account</button>
      </div>

      <%= render "users/auth_box", :show => @show %>
    </div>
  </div>
  <div class='bottom'>
    <div class='container'>
      Test Bottom
    </div>
  </div>
</div>