<% content_for :page_header do %>
  <h1>Topic Finder</h1>
  <div class="help">
    The Topic Finder suggests topics we think you might find interesting. If you don't, just click the red X in the
    top right corner of the topic!
  </div>
<% end %>

<div class='topic-cards' data-url='<%= topic_finder_path :theme => 'normal' %>'>
  <% @suggestions.each do |suggestion| %>
    <%= render 'topics/card', :current_user => current_user, :topic => TopicSnippet.new(suggestion) %>
  <% end %>
</div>