<% if show_video %>
  <%= video_embed(object.sources[0], width, height, nil, nil, object.embed_html, autoplay) %>
<% else %>
  <% img = default_image_url(object, width, height, 'fit', false, true) %>
  <% if img %>
    <div class='media play-video' data-embed="<%= video_embed(object.sources[0], width, height, nil, nil, object.embed_html, autoplay) %>">
      <div class='button'>
        <div class='icon play-button'></div>
      </div>
      <%= image_tag img.image_url, :width => width, :height => img.calculate_h(width).to_s %>
    </div>
  <% else %>
    <div class='media play-video no-img' data-embed="<%= video_embed(object.sources[0], width, height, nil, nil, object.embed_html, autoplay) %>">
      <div class='icon play-button'></div>
      Play
    </div>
  <% end %>
<% end %>