<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        <%= image_tag "logo-icon-50.png", :alt => "" %>
        Limelight
      </a>
      <span class='talk btn btn-success'>
        +Share
      </span>
    </div>
  </div>
</header>