<div class="mention-box">
  <%= f.text_area :content, :class => 'content mention iHelp', :title => 'What do you want to talk about?', :spellcheck => false %>
  <%= f.hidden_field :content_raw, :class => 'data' %>
</div>