<div class="mention-ooc">
  <div class="field lClear auto" data-tip="If a relevant topic does not fit naturally into the content you can mention it out of context. Max 5.">
    <label for="ooc_ac_<%= f.object.class.name.underscore %>">Mention out of context</label>
    <input type="text" id="ooc_ac_<%= f.object.class.name.underscore %>" />
  </div>
</div>