<div class="mention-box">
  <%= f.text_area :content, :class => 'mention', :spellcheck => false, :autocomplete => :off %>
  <%= f.hidden_field :content_raw, :class => 'data', :autocomplete => :off %>
</div>