<%# Allows topic tagging. Should be inserted as a sibling of the desired
 text area, and its parent should only include fields to be scanned%>

<div class = "tagDisplay" data-tip="News Story Topics">
  <input autocomplete="off" type="text">
  <input autocomplete="off" type="text">
  <input autocomplete="off" type="text">
  <input autocomplete="off" type="text">
  <input autocomplete="off" type="text">
  <%= text_field_tag :tagged_topics, nil, :type => 'hidden', :class => 'formTagged' %>
</div>