<div class="content">
  <h2 class="titleC">
    <%= title if title %>
  </h2>

  <div class="createdC">
    <div class="time"><%= created_by if created_by %></div>
  </div>

  <%= content if content %>
</div>