<div class="object-show-responses">
  <% if responses.length == 0 %>
    <div class="none">This post is lonely, add a response!</div>
  <% end %>
  
  <% responses.each do |core_object| %>
    <div class='teaser list <%= core_object.class.name.downcase %>'>
      <%= render_cell :core_object, :teaser_root_list, current_user, core_object %>
      <%= render_cell :core_object, "teaser_personal_list", current_user, [] %>
    </div>

    <%= render_cell :comment, :thread, core_object.id, false %>
  <% end %>
</div>