<div id="response-divider">
  <h3>Responses</h3>
  <div id="add_response" data-target="#response-contribute" class="<%= 'auth' unless signed_in? %>">+ Add Response</div>
  <div class="clear"></div>
  <%= render "shared/contribute", :id => 'response-contribute', :responding => object, :allowed => [] %>
</div>

<%#= render 'core_objects/feed_filters' %>

<div class="hide" id="response_form">
  <%= render "comments/form", :reply => true %>
</div>