<div class="object-show-responses">
  <% if object.response_count == 0 %>
    <div class="none">This <%= object.class.name.downcase %> is lonely, add a response!</div>
  <% end %>
  
  <% responses.each do |core_object| %>
    <% next if core_object.id == object.id %>
    <div class='teaser list <%= core_object.class.name.downcase %>'>
      <%#= render_cell :core_object, :teaser_root_list, current_user, core_object %>
      <%#= render_cell :core_object, :teaser_personal_list, current_user, core_object, [] %>
      <%#= render_cell :comment, :thread, core_object.id, false, 4 %>
    </div>
  <% end %>
</div>