<div id="responses">
  <% if responses.length == 0 %>
    <div class="none">This post is lonely, add a response!</div>
  <% end %>
  
  <% responses.each do |core_object| %>
    <%= render "#{core_object._type.pluralize.underscore}/teaser_list", :object => core_object, :style => :list, :response => true %>
    <%= render_cell :comment, :thread, core_object.id, false %>
  <% end %>
</div>