<script>
  $(function() {
    var news_image_uploader = new plupload.Uploader({
      runtimes : "gears,html5,flash,silverlight",
      browse_button : 'news_uploadB',
      max_file_size : '2mb',
      url : "<%= upload_tmp_path %>",
      flash_swf_url: "/assets/javascripts/plupload/plupload.flash.swf",
      silverlight_xap_url: "/assets/javascripts/plupload/plupload.silverlight.xap",
      multipart: true,
      multipart_params: {
        "authenticity_token" : '<%= form_authenticity_token %>'
      }
    });

    news_image_uploader.bind('Init', function(up, params) {
      $('#debug-upload-runtime').html("<div>Current runtime: " + params.runtime + "</div>");
    });

    news_image_uploader.bind('FilesAdded', function(up, files) {
    });

    news_image_uploader.bind('QueueChanged', function() {
      console.log('File Added');
      news_image_uploader.start();
    })

    news_image_uploader.bind('UploadProgress', function(up, file) {
      console.log(file.percent + "%");
    });

    news_image_uploader.bind("FileUploaded", function(up, file, data) {
      params = $.parseJSON(data.response);
      console.log(params);
      $('#new_news .image-preview .default').hide();
      $('#news_asset_image_image_cache').val(params.image_location);
      $('#new_news .image-preview .upload').html('<img src="'+params.image_location+'" />');
      var parent = $('#new_news')
      parent.find('.field.image .choices .upload').addClass('on').siblings().removeClass('on')
      parent.find('.image-preview .fetch').hide()
      parent.find('.image-preview .upload').show()
      parent.find('.image-preview .default').hide()
      parent.find('.remote_image_url').val('')
    })

    news_image_uploader.init();
  });
</script>