<div class="comment-thread c_<%= @talk_id %> <%= 'hide' if @comments.length == 0 && !@with_forms %>" data-d='{"talk_id":"<%= @talk_id %>"}'>
  <div class="comments">
    <% @comments.each do |comment| %>
      <%= render "comments/comment", :comment => comment, :current_user => @user %>
    <% end %>
  </div>
</div>