<h1>
  <%= @current_user.username %>, welcome to Limelight!
  Since this is your first time, we'll lead you through a few quick steps to get you set up.
</h1>
<div class='next ac' data-url='<%= user_tutorial_path :step => 2 %>' data-m='get'>Start</div>