<h2>
  Limelight posts come in four types:
  <span class='talk'>Talk</span>,
  <span class='link'>Links</span>,
  <span class='picture'>Pictures</span>, and
  <span class='video'>Videos</span>.
  Below is an sample video post and some explanation on how it's organized.
</h2>

<%= image_tag('post-anatomy.gif', :class => 'post-anatomy') %>

<div class='next ac' data-url='<%= user_tutorial_path :step => 0 %>' data-m='get'>Done - Take Me To Limelight!</div>