<h1>
  One of the most basic (and important!) actions on Limelight is following topics.
  Based on the topics you follow, we'll show you posts you'll like* and suggest other topics!
</h1>
<div class='next ac' data-url='<%= user_tutorial_path :step => 4 %>' data-m='get'>Next</div>
<div class='footnote'>
  *probably. hopefully. maybe just pretend you do, to be polite.
</div>