<% content_for :page_header do %>
  <h1>About Project Limelight</h1>
<% end %>

<p>Limelight is a new social media site which allows sharing of content around topics. Users can submit "posts" of
  various types (currently Talk, News, Picture, and Video), which are then available to other Limelight users.
  <p>Viewing and organizing these posts
  is accomplished through various feeds, which display content according to a user's preference. For example, the
  "My Feed" page displays posts about topics followed by the user, as well as posts submitted by followed users. Topic Feeds
  display all posts related to the given topic. Posts can also be filtered by popularity, time submitted, and type.
  </p>
  <p>This system allows users to custom-tailor their experience on the site, quickly finding the content most relevant to them.</p>