<div class="content-tile">
  <div class="section static-page">
    <div class="top">
      <h3>About</h3>
    </div>
    <div class="meat">
      <p>
        Limelight is a new way to share and discover content. At Limelight we're organizing content on the web around specific topics, much like Wikipedia organizes
        static dictionary information around topics.
      </p>

      <p>
        "The Social Web" is great, but it created a new problem - information overload. People share links and media
        on Google+, Twitter, Facebook, and Pinterest, just to name a few. All of this shared content is organized around the
        user who posted it. Limelight aims to change the status quo and organize the web around both users and topics.
      </p>

      <p>
        There are all sorts of interesting things you can do when content is organized around topics.
        For now, we're starting with the basics - follow the topics and users you're interested in, and we show you content you'll like!
      </p>
    </div>
  </div>
</div>