<% content_for :page_header do %>
  <h1>I'm an admin, bitch!</h1>
<% end %>

<h3>Links</h3>
<ul>
  <li>
    <a href="<%= new_topic_path %>">New Topic</a>
  </li>
  <li>
    <a href="<%= new_topic_connection_path %>">New Topic Connection</a>
  </li>
</ul>