<% content_for :page_header do %>
  <h1>I'm an admin, bitch!</h1>
<% end %>

<div class="static-page">
  <h3>Links</h3>
  <ul>
    <li>
      <a href="<%= new_topic_path %>">New Topic</a>
    </li>
    <li>
      <a href="<%= new_topic_connection_path %>">New Topic Connection</a>
    </li>
    <li>
      <a href="<%= topics_by_health_path %>">Topics by Health</a>
    </li>
  </ul>
</div>