<div class='content-tile'>
  <div class="section static-page">
    <div class="top">
      <h3>I'm an admin, bitch!</h3>
    </div>
    <div class="meat">
      Admin Stats / Stuff...
    </div>
  </div>
</div>