<div class="content-tile">
  <div class="section static-page">
    <div class="top">
      <h3>Contact</h3>
    </div>
    <div class="meat">
      <p>Help + Support: support@projectlimelight.com</p>
      <p>Security Issues: security@projectlimelight.com</p>
    </div>
  </div>
</div>