<% content_for :page_header do %>
  <h1><%= @title %></h1>
<% end %>

<p>Feedback: <%= link_to "Limelight Feedback", @feedback_topic %></p>
<p>Help + Support: support@projectlimelight.com</p>
<p>Security Issues: security@projectlimelight.com (please do not post publicly - contact us directly!)</p>