<div class="content-tile">
  <div class="section static-page">
    <div class="top">
      <h3>Help</h3>
    </div>
    <div class="meat">
      <p>
        We'll have a help page soon!
      </p>

      <p>
        If you have questions, shoot us an email at support@projectlimelight.com.
        We'll make an FAQ based on your questions.
      </p>
    </div>
  </div>
</div>