<% content_for :page_header do %>
  <h1><%= @title %></h1>
<% end %>

<p>
  We need some help creating this help page!
</p>

<p>
  If you have questions, mention <%= link_to "Limelight Feedback", @feedback_topic %> in your post.
  We'll make an FAQ based on your questions.
</p>

<p>
  For a basic overview, login and click the tutorials button on the bottom left.
</p>