<h2 xmlns="http://www.w3.org/1999/html">Privacy</h2>

<div class="content-tile">
  <section class="static-page">
    <h3>1. Information you provide to us:</h3>

    <p>
      <span>Information About Yourself.</span> When you sign up for Limelight using Facebook or Google, you provide us with information you have provided to that service. You are also able to add a picture of yourself. In some cases we may ask for additional information for security reasons, or to provide specific services to you.
    </p>

    <p>
      <span>Content.</span> One of the primary reasons people use Limelight is to share content with others. Examples include when you contribute a post (which may contain text, picture, or video content) or submit a comment. If you do not want us to store metadata associated with content you share on Limelight (such as photos), please remove the metadata before uploading the content.
    </p>

    <p>
      <span>Transactional Information.</span> We may retain the details of transactions or payments you make on Limelight. All information will be kept securely and will not under any circumstances be redistributed. Transactional information is kept strictly for the benefit of return users making repeat transactions.
    </p>

    <p>
      <span>Friend Information.</span> We offer contact importer tools to help you upload your friends’ addresses. This allows you to find your friends on Limelight, and invite your contacts who do not have Limelight accounts to join. If you give us your password to retrieve those contacts, we will not store your password after you have uploaded your contacts’ information.
    </p>

    <p>
      <span>Information we collect when you interact with Limelight:</span>
    </p>

    <p>
      <span>Site activity information.</span> We keep track of some of the actions you take on Limelight, such as voting, favoriting, liking, or sharing a post, following users or topics, and creating content.
    </p>

    <p>
      <span>Access Device and Browser Information.</span> When you access Limelight from a computer, mobile phone, or other device, we may collect information from that device about your browser type, location, and IP address, as well as the pages you visit.
    </p>

    <p>
      <span>Cookie Information.</span> We use "cookies" (small pieces of data we store for an extended period of time on your computer, mobile phone, or other device) to make Limelight easier to use, to make our advertising better, and to protect both you and Limelight. For example, we use them to store your login ID (but never your password) to make it easier for you to login whenever you come back to Limelight. We also use them to confirm that you are logged into Limelight, and to know when you are interacting with Limelight Platform applications and websites, our widgets and Share buttons, and our advertisements. You can remove or block cookies using the settings in your browser, but in some cases that may impact your ability to use Limelight.
    </p>

    <p>
      <span>Information we receive from third parties:</span>
    </p>

    <p>
      <span>Information from other websites.</span> We may institute programs with advertising partners and other websites in which they share information with us:
      We may ask advertisers to tell us how our users responded to the ads we showed them (and for comparison purposes, how other users who didn’t see the ads acted on their site). This data sharing, commonly known as “conversion tracking,” helps us measure our advertising effectiveness and improve the quality of the advertisements you see.
      We may receive information about whether or not you’ve seen or interacted with certain ads on other sites in order to measure the effectiveness of those ads.
    </p>



    <h3>2. Sharing information on Limelight.</h3>

    <p>
      This section explains how privacy settings work, and how your information is shared on Limelight. You should always consider the privacy of your information before sharing on Limelight.
    </p>

    <p>
      <span>Name and Profile Picture.</span> Limelight allows you to sign up using a username of your choosing, which is always public. For this reason, your username does not have a privacy setting. We do not require your first name, last name, or profile picture. Therefore, if you are uncomfortable with sharing these items publicly, please do not add them to your profile.
      <span>Other.</span> All posts, comments and other actions taken on Limelight are fully viewable by all visitors to Limelight.
    </p>

    <h3>3. Information You Share With Third Parties.</h3>

    <p>
      <span>Advertisements.</span> Sometimes the advertisers who present ads on Limelight use technological methods to measure the effectiveness of their ads and to personalize advertising content. You may also use your browser cookie settings to limit or prevent the placement of cookies by advertising networks. Limelight does not share personally identifiable information with advertisers unless we get your permission.
    </p>

    <p>
      <span>Links.</span> When you click on links on Limelight you may leave our site. We are not responsible for the privacy practices of other sites, and we encourage you to read their privacy statements.
    </p>

    <h3>4. How We Use Your Information</h3>

    <p>
      We use the information we collect to try to provide a safe, efficient, and customized experience. Here are some of the details on how we do that:
    </p>

    <p>
      <span>To manage the service.</span> We use the information we collect to provide our services and features to you, to measure and improve those services and features, and to provide you with customer support. We use the information to prevent potentially illegal activities. We also use a variety of technological systems to detect and address anomalous activity and screen content to prevent abuse such as spam. These efforts may on occasion result in a temporary or permanent suspension or termination of some functions for some users.
    </p>

    <p>
      <span>To contact you.</span> We may contact you with service-related announcements from time to time. You may opt out of all communications except essential updates on your account settings page. We may include content you see on Limelight in the emails we send to you.
    </p>

    <p>
      <span>To serve personalized advertising to you.</span> We don’t share your information with advertisers without your consent. We allow advertisers to choose the characteristics of users who will see their advertisements and we may use any of the non-personally identifiable attributes we have collected to select the appropriate audience for those advertisements. For example, we might use the fact that you are following a given topic to show you ads relevant to that topic, but we do not tell the advertiser who you are. Even though we do not share your information with advertisers without your consent, when you click on or otherwise interact with an advertisement there is a possibility that the advertiser may place a cookie in your browser and note that it meets the criteria they selected.
    </p>

    <h3>5. How We Share Information</h3>

    <p>
      <span>When you invite a friend to join.</span> When you ask us to invite a friend to join Limelight, we will send your friend a message on your behalf using your name. We may also send up to two reminders to them in your name.
    </p>

    <p>
      <span>When you choose to share your information with marketers.</span> You may choose to share information with marketers or electronic commerce providers that are not associated with Limelight through on-site offers. This is entirely at your discretion and we will not provide your information to these marketers without your consent.
    </p>

    <p>
      <span>To advertise our services.</span> We may ask advertisers outside of Limelight to display ads promoting our services. We may ask them to deliver those ads based on the presence of a cookie, but in doing so will not share any other information with the advertiser.
    </p>

    <p>
      <span>To offer joint services.</span> We may provide services jointly with other companies. If you use these services, we may share your information to facilitate that service.
    </p>

    <p>
      <span>Transfer in the Event of Sale or Change of Control.</span> If the ownership of all or substantially all of our business changes, we may transfer your information to the new owner so that the service can continue to operate. In such a case, your information would remain subject to the promises made in any pre-existing Privacy Policy.
    </p>

    <h3>6. How We Protect Information</h3>

    <p>
      <span>Risks inherent in sharing information.</span> Although we allow you to set privacy options that limit access to your information, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you share your information. We cannot guarantee that only authorized persons will view your information. We cannot ensure that information you share on Limelight will not become publicly available. We are not responsible for third party circumvention of any privacy settings or security measures on Limelight. You can reduce these risks by using common sense security practices such as choosing a strong password, using different passwords for different services, and using up to date antivirus software.
    </p>

    <p>
      <span>Report Violations.</span> You should report any security violations to us at security@projectlimelight.com.
    </p>

    <h3>7. Other Terms</h3>

    <p>
      <span>Changes.</span> We may change this Privacy Policy at any time for the reason of creating a better service for our users. Unless stated otherwise, our current privacy policy applies to all information that we have about you and your account. If we make changes to this Privacy Policy we will notify you by publication on Limelight. If the changes are material, we will provide you additional, prominent notice as appropriate under the circumstances.
    </p>

    <p>
      <span>Consent to Collection and Processing in the United States.</span> By using Limelight, you consent to having your personal data transferred to and processed in the United States.
    </p>
  </section>
</div>