<script>
  $(function() {
    var picture_image_uploader = new plupload.Uploader({
      runtimes : "html5,flash,gears,silverlight",
      browse_button : 'picture_uploadB',
      max_file_size : '2mb',
      url : "<%= upload_tmp_path %>",
      flash_swf_url: "/assets/javascripts/plupload/plupload.flash.swf",
      silverlight_xap_url: "/assets/javascripts/plupload/plupload.silverlight.xap",
      multipart: true,
      multipart_params: {
        "authenticity_token" : '<%= form_authenticity_token %>'
      }
    });

    picture_image_uploader.bind('Init', function(up, params) {
      $('#debug-upload-runtime').html("<div>Current runtime: " + params.runtime + "</div>");
    });

    picture_image_uploader.bind('FilesAdded', function(up, files) {
    });

    picture_image_uploader.bind('QueueChanged', function() {
      console.log('File Added');
      picture_image_uploader.start();
    })

    picture_image_uploader.bind('UploadProgress', function(up, file) {
      console.log(file.percent + "%");
    });

    picture_image_uploader.bind("FileUploaded", function(up, file, data) {
      params = $.parseJSON(data.response);
      console.log(params);

      $('#new_picture .contribute_picture_image_data').data('params', params).click();
    })

    picture_image_uploader.init();
  });
</script>