<% if current_user != @user %>
  <% content_for :sidebar_right do %>
    <%= render_cell(:user, :sidebar_right, @user) %>
  <% end %>
<% end %>

<% if !@following_topics.empty? %>
  <ul class="user-list">
    <% @following_topics.each do |following_topic| %>
      <%= render 'topics/teaser', :topic => following_topic %>
    <% end %>
  </ul>
<% else %>
  <div class="empty">This user is not following any topics!</div>
<% end %>