/*
    Document   : _object
    Created on : Apr 14, 2011, 4:59:22 PM
    Author     : Marc
    Description:
        Handles anything that deals with manipulating objects in general.
*/

// QTip for sharing a core object with friends
.coreShareTip {
  .ui-tooltip-content {
    background-color: #F2F8E4;
    border-color: #CAE09D;

    form {
      margin-top: 3px;
    }
    input {
      font-size: 10px;
      margin: 5px 5px 5px 0;
    }
    .core_object_share_receivers,
    .actions {
      float: left;
    }
  }
}

form.core_object {
  $form-width: 500px;
  $tag-width: 130px;
  position: relative;

  h3 {

  }
  .help {
    font-size: 12px;
    font-style: italic;
    margin: 5px 10px;
    span {
      color: #CD070E;
    }
  }
  .errors {
    margin: 0 10px 7px 10px;
  }
  // adds to .lClear styling in utilities.scss
  .field {
    input,
    textarea {
      width: $form-width;
      font-size: 15px;
    }
    textarea {
      height: 175px;
      width: $form-width - ($tag-width + 10);
    }
    .tagDisplay {
      left: $form-width - $tag-width;
      input {
        z-index: 130;
        width: $tag-width;
      }
    }
  }
  .group {
    @include border-radius(2px);
    border: 1px solid #89ABC3;
    width: $form-width + 14;
    label {
      top: 7px;
    }
    input,
    textarea {
      margin: 0;
      border: none;
    }
    .bottom {
      border-bottom: 2px dotted #CCC;
    }
    .important input {
      font-weight: bold;
    }
    .actions {
      background: #F1F1F1;
      border-top: 2px dotted #CCC;

      input {
        @include green-conservative-button(15px, 0, 0);
        padding: 7px 0;
        width: 160px;
        text-align: center;
      }
      input.disabled {
        @include opacity(.65);
        cursor: default;
      }
    }
  }
  .field.image {
    font-weight: bold;
    color: #62728F;
  }
  .choices {
    float: left;
    width: 160px;
    padding: 0;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    .upload,
    .fetch {
      padding: 8px;

      &.on {
        background: #62728F;
        color: #FFF;
      }
    }
    .upload {

    }
    .fetch {
      border-top: 1px solid #EEE;
    }
  }
  .image-preview {
    border-left: 2px dotted #CCC;
    width: 352px;
    min-height: 15px;
    float: left;
    padding: 40px 40px 15px 40px;
    width: 270px;
    text-align: center;
    font-size: 16px;
    position: relative;

    .default {
      font-size: 14px;
      font-style: italic;
      cursor: default;
      margin: -13px 0 0 0;
    }
    .upload {
      text-align: center;
      width: 270px;
      text-align: center;
      margin-top: -25px;
      img {
        max-width: 210px;
        margin: auto;
        display: block;
      }
    }
    .fetch {
      display: none;

      .field {
        @include border-radius(2px);
        margin: -35px 0 0 -35px;
        width: 340px;
        border: 1px solid #EEE;

        input {
          font-size: 12px;
          width: 320px;
        }
      }
      .left,
      .right {
        position: absolute;
        top: 40px;
        cursor: pointer;
      }
      .left {
        left: 10px;
      }
      .right {
        right: 10px;
      }
      .images {
        @include clearfix();
        margin: 5px 0 0 0;
        img {
          @include border-radius(3px);
          max-width: 270px;
        }
      }
    }
  }
  .upload_image {
    @include border-radius(2px);
    font-size: 18px;
    padding: 15px 0;
    cursor: pointer;
  }
  .preview {
    display: none;
    width: 230px;
    position: absolute;
    left: $form-width + 30;
    top: 0px;

    h4 {
      color: #AAA;
      margin: 0 0 0 5px;
    }
    .content {
      margin: 10px 0 0 0;
    }
  }
}

.objectContent {
    padding: 0px 20px 20px;
}

.followB ,
.unfollowB {
    @include green-button(4px, 13px);
    margin: 5px 10px;
    padding: 5px 10px 3px 27px;
    display: block;

    .icon {
        position: absolute;
        top: 6px; left: 8px;
    }
}

// Styling for temporary favorite / repost buttons
.favB,
.unfavB,
.repostB,
.unrepostB,
.coreShareB
 {
    float: left;
    font-size: 12px;
    margin: 2px 2px;
    display: block;
}

// Styling for btnps that swap
.followB,
.favB,
.repostB {
  .triggered {
    display: none;
  }
}
.unfollowB,
.unfavB,
.unrepostB {
  .default {
    display: none;
  }
}

.object-feed {
    @include clearfix();
    padding: 5px 0 35px 0;
    li {
        padding: 0px
    }
}

.score-C { }
.score-C .on { font-weight: bold; color: green; }

// Object Teasers
$teaser-padding: 10px;
.teaser {
    position: relative;

    .titleC {
        font-size: 20px;
        overflow: hidden;
        max-height: 22px;
    }

    .tType {
        font-size: 12px;
        position: relative;
        top: -2px;
    }

    img {
        @include border-radius(3px);
        clear: left;
        display: block;
        float: left;
    }

    .createdC {
        color: #999;
        font-size: 9px;
        margin: 0 0 0 1px;

        .tag {
            position: relative;
            top: -2px;
            margin-left: 5px;
        }
    }

    p {
        font-size: 14px;
        margin: 5px 0 0 0;
        a {
            text-decoration: none;
        }
    }
    
    .tag.user,
    .time { float: left; }

    .scoreBox {
        @include opacity(.5);
    }

    .connectionsC {
        @include opacity(.5);
        font-size: 10px;
        font-weight: bold;
        border-bottom: 3px solid #CCC;
        width: 100%;
        .wrapper {
            padding: 7px $teaser-padding 0 $teaser-padding;
            position: relative;
        }

        .tag {
            float: left;
            margin: 0 5px 8px 0;
        }
    }

    .oType {
        float: left;
        font-size: 11px;
        cursor: default;
        font-weight: bold;
        position: relative;
        top: 2px;
    }
    
    .commentC {
        display: block;
        float: left;
        font-size: 10px;
        margin: 3px 15px 2px 0;
        .comment-icon {
            float: left;
            margin: 1px 5px 0 0;
        }
    }
    
    .related-topics {
        @include border-radius(3px);
        height: 16px;
        border: 1px solid transparent;
        position: absolute;
        top: 3px;
        overflow: hidden;
        padding: 3px;
        margin: 0 0 0 96px;
        z-index: 75;
        
        &.hover {
            background: #FFF;
            overflow: none;
            border-color: #CCC;
            height: auto;
            z-index: 125;
        }
    }

    &.hover {
        .connectionsC,
        .scoreBox {
            @include opacity(1);
        }
    }
}

// Grid Teaser
.teaser.grid {
    width: 200px;
    height: 250px;
    float: left;
    border-right: 1px solid #EFEFEF;
    padding-top: $teaser-padding / 2;
    
    .titleC {
        padding: 0 $teaser-padding 0 $teaser-padding;
        margin-bottom: -2px;
    }
    .oType {
        padding: 0 10px 0 0;
    }
    .createdC {
        @include clearfix();
    }
    .scoreBox {
        display: none;
    }
    .bodyC {
        float: left;
        padding: 0 $teaser-padding;
        a {
            text-decoration: none;
        }
    }
    .connectionsC {
        position: absolute;
        bottom: 0;
    }
}

// List Teaser
$scoreBox-width: 160px;
.teaser.list {
    @include clearfix();
    padding: 5px 0 30px 0;
    .scoreBox {
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -33px;
    }
    .content {
        margin: 0 $scoreBox-width + $teaser-padding * 2 + 2 0 $teaser-padding;
    }
    img,
    .videoC {
        margin:  0 $teaser-padding 0 0;
    }
    .createdC {
        @include clearfix();
    }
    .bodyC {
        font-size: 14px;
        padding-top: 2px;
        float: left;
    }
    .oType { width: 55px; }
    .connectionsC {
        @include clearfix();
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}

// Score Box formatting
.scoreBox {
    @include border-radius(5px);
    border: 1px solid transparent;
    background-color: #F2F8E4;
    width: $scoreBox-width;
    clear: left;
    .controlsC {
        @include clearfix();
        padding: 5px 0px 5px 0px;

        .link-icon, .fav, .repost-icon {
            float: left;
            margin-left: 10px;
        }
        .link-icon {
            margin-top: 3px;
        }
        .fav {
            display: block;
            margin-left: 38px;
        }
    }
    &:hover {
        border-color: #CAE09D;
    }
    
    .scoreC.large {
        text-align: center;
        color: #686868;
        font-weight: bold;
        font-size: 28px;
        position: relative;

        .v {
            position: absolute;
            top: 4px;
        }
        .thumbs-up-icon {
            left: 5px;
        }
        .thumbs-down-icon {
            right: 5px;
        }
    }

    .scoreC.small {
        color: #686868;
        font-weight: bold;
        font-size: 22px;

        .v {
            position: absolute;
            top: 6px;
        }
        .thumbs-up-small-icon {
            left: 1px;
            top: 35px;
        }
        .thumbs-down-small-icon {
            right: 1px;
            top: 35px;
        }
    }
}

// Objects that have the mouse score menu available
.oS.scoring {
    background-color: #F3F3F3;
}

#mouse-score {
    @include border-radius(3px);
    @include opacity(.85);
    position: absolute;
    z-index: 125;
    font-weight: bold;
    font-size: 22px;
    background: #F2F8E4;
    border: 1px solid #CAE09D;
    color: #686868;

    .s {
        padding: 17px 10px 17px 30px;
    }
    .thumbs-up-small-icon {
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .thumbs-down-small-icon {
        position: absolute;
        left: 5px;
        bottom: 5px;
    }

}

// the score qtip for grid view
.scoreQ {
    .ui-tooltip-content { padding: 7px; }
    .scoreC {
        @include clearfix();
        div {
            text-align: center;
            display: block;
            font-size: 28px;
            font-weight: bold;
            margin: 4px 0px 13px 0px;
        }
        .thumbs-up-icon {
            float: left;
        }
        .thumbs-down-icon { float: right; }
    }
    .controlsC {
        margin: 10px 0px;
        .link-icon, .fav, .repost-icon {
            float: left;
            margin-left: 10px;
        }
        .link-icon {
            margin-top: 3px;
        }
        .fav {
            display: block;
            margin-left: 1px;
        }
    }
}

// Right Object Sidebar
.sbrC { 
    .scoreBox {
        margin: 20px 0px 20px 35px;
    }
    .connectionsC {
        @include clearfix();
        text-align: center;
        padding: 20px 5px 20px;
        border-top: 1px solid #CAE09D;
        .tag {
            float: left;
            margin: 2px;
            font-size: 11px;
        }
    }
}

#load-more {
  @include link;
  text-align: center;
  margin: 5px;
  font-size: 12px;
}

#feed-filters {
    height: 30px;
    padding: 4px 0 4px 10px;

    .feed-display,
    .feed-sort,
    .feed-layout {
        position: relative;
        float: left;

        h5 {
            padding: 8px 0 0 0;
            color: #B0AEAE;
            cursor: default;
        }

        > h5,
        > div {
            float: left;
        }
        ul {
            @include border-radius(4px);
            margin: 3px 0 0 10px;
            float: left;
        }
        .opt {
            color: #CFCFCF;
            font-weight: bold;
            text-decoration: none;
            display: block;
            padding: 3px 8px;
            font-size: 12px;
            cursor: pointer;
        }
        .opt.on {
            color: #444;
        }
    }
    
    .feed-display {
        li {
            margin: 0 3px;
            float: left;
        }
    }

    .feed-layout {
        float: right;
        margin-right: 8px;

        ul {
        }
        li {
            @include border-radius(2px);
            border: 1px solid #DDD;
            margin: 0 3px;
            float: left;
        }
        .opt {
            padding: 4px 5px;
        }
    }

    .feed-sort {
        width: 200px;

        .arrow-small {
            position: absolute; top: 12px; right: 35px;
            z-index: 10;
        }

        ul {
            @include border-radius(2px);
            background-color: #EFEFEF;
            border: 1px solid #DDD;
            position: absolute; top: 0px; left: 51px;
            z-index: 5;

            .opt {
                width: 95px;
            }
            .opt.on:hover {
                cursor: default;
            }
        }
    }
}
// Styling for node-type buttons, (feed filters, contribute, etc)
#feed-filters {
    .feed-display {
        .opt, > div {
            @include border-radius(2px);
            background-color: #EFEFEF;
            border: 1px solid #DDD;
            color: #999;
        }
        .on.talk {
            border-color: adjust-lightness($talk-color, 15);
            background-color: adjust-lightness($talk-color, 38);
            color: adjust-lightness($talk-color, -7);
        }
        .on.news {
            border-color: adjust-lightness($news-color, 15);
            background-color: adjust-lightness($news-color, 38);
            color: adjust-lightness($news-color, -7);
        }
        .on.picture {
            border-color: adjust-lightness($picture-color, 15);
            background-color: adjust-lightness($picture-color, 38);
            color: adjust-lightness($picture-color, -7);
        }
        .on.video {
            border-color: adjust-lightness($video-color, 15);
            background-color: adjust-lightness($video-color, 38);
            color: adjust-lightness($video-color, -7);
        }
    }
}

#contributeC {
  @include border-radius(0 0 3px 3px);
  @include single-box-shadow(#AAA, 1px, 1px, 3px);

  position: absolute;
  top: 0px;
  left: 225px;
  z-index: 200;
  background: #FEFEFE;
  border: 2px solid #94C530;
  border-top: none;
  padding: 0;
  display: none;

  .icon {
    display: none;
    position: absolute;
    top: 11px;
    right: 20px;
  }
  .options {
    float: left;
    width: 130px;
    padding: 50px 0 0 15px;
    .option {
      font-size: 20px;
      padding: 10px 0;
      color: #888;
      position: relative;
      &:hover {
        cursor: pointer;
        .arrow-r-2424 {
          display: block;
        }
      }
      &.on {
        .arrow-g-r-2424 {
          display: block;
        }
      }
      &.on:hover {
        cursor: default;
        .arrow-r-2424 {
          display: none;
        }
      }
      &.talk.on {
        color: $talk-color;
      }
      &.picture.on {
        color: $picture-color;
      }
      &.video.on {
        color: $video-color;
      }
      &.news.on {
        color: $news-color;
      }
    }
  }
  .forms {
    float: left;

    form {
      margin: 8px 0 0 0;
      .group {
        @include border-radius(2px 0 0 0);
        border-bottom: none;
        border-color: #CCC;
        margin-right: -1px;
      }
    }
  }
}

.edit-panel {
    position: relative;

    h4 {
    }

    .cancel {
        @include background-image(linear-gradient(#FD4E21, #E0230B));
        background-color: #E0230B;
        @include border-radius(3px);
        position: absolute; top: 7px; right: 7px;
        padding: 3px 12px;
        font-size: 13px;
        font-weight: bold;
        color: #FFF;
        cursor: pointer;
    }

    .section {
        @include clearfix();
        border-bottom:  2px solid #F3F3F3;
        padding:  5px 0;
    }

    input {
        float: left;
        margin-bottom: 3px;
    }

    .submit {
        @include green-button(3px, 13px);
        padding:  3px 12px;
        display: block;
        float: left;
    }

    .update {
        margin:  5px 0 0 0;
    }

    .add { margin: 2px 0 0 5px;}
}