/*
    Document   : _list
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

#list-lists,#list-topics,#list-users {
    height: 100%;
    width: 125px;
    border-right: 1px solid #CAE09D;
    border-top: 1px solid #CAE09D;
    background-color: #F2F8E4;
    h3 {
        text-align: center;
        padding: 3px 2px 1px;
        border-bottom: 1px solid #CFCFCF;
    }
    .empty {
        font-style: italic;
        padding: 2px 0 5px 4px;
        text-align: center;
    }
    ul {
        padding: 2px 2px;
        font-size: 12px;
        li {
            @include border-radius(4px);
            display: block;
            position: relative;
            padding: 2px 0 3px 4px;
            a:hover { text-decoration: none; }
            .teaser {
                display: block;
            }
            .del {
                display: none;
                position: absolute;
                right: 7px;
                top: 2px;
                font-weight: bold;
                color: red;
            }
            &:hover {
                background: #D2EC9F;
                .del {
                    display: block;
                }
            }
        }
    }
}
#list-lists {
    border-left: 1px solid #CAE09D;
}
.add-to-list {
    padding: 2px 5px;
    label, input {
        display: block;
        margin-bottom: 5px;
    }
}

.sidebar-list {
  margin: 15px 0 0 0;
  padding: 0 10px;

  h5 {
    float: left;
    cursor: default;
    margin: 0 0 0 1px;
    color: #666;
  }
  .list-createB {
    font-size: 13px;
    margin: 0 0 0 2px;
  }

  ul {
    border-top: 1px solid #F3F3F3;
    padding: 5px 0 0 0;
  }

  li {
    font-size: 13px;
    @include border-radius(4px);
    display: block;
    position: relative;
    padding: 3px 6px;

    .delete {
      display: none;
      position: absolute;
      right: 10px;
      top: 3px;
      font-weight: bold;
      color: red;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    &:hover {
      background: #F3F3F3;
      text-decoration: none;
      .delete {
        display: block;
      }
    }

    &.first { border-top: none; }
    &.last { border-bottom: none; }
    &.none {
      border: none;
      font-style: italic;
    }
  }
  .list-view {
    float: right;
    display: block;
    font-size: 12px;
    margin: 0;
    position: relative;
    bottom: 1px;
  }
}

.list_new {

    &.small {
        input {
            border: none;
            width: 60px;
            margin: 3px 0 0 3px;
            font-size: 12px;
        }
        .submit {
            border: 1px solid #CCC;
            font-size: 10px;
            width: 40px;
            margin: 0;
            padding: 0;
        }
    }
    &.normal {
        .submit {
            @include green-button(3px, 14px);
            margin: 10px 0 0 0;
        }
    }
}