/*
    Document   : _utilities
    Created on : May 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

// Dragging handles.
.handle-small { cursor: move; }

// Arrows
.arrow-small { cursor: default; }

.hide { display: none; }
.clear { clear: both; }

#ajax-loading {
    @include border-radius(2px);
    display:  none;
    padding: 3px 10px;
    font-weight: bold;
    background: #FFF;
    color: #1A5199;
    position: fixed;
    top: 6px;
    left: 50%;
    z-index: 175;
    margin:  0 0 0 -5px;

    &.floating {
        top: 12px;
    }
}

#form-submitting {
    @include opacity(.8);
    @include border-radius(2px);
    display: none;
    background: #FC770D;
    color: #FFF;
    border: 4px solid #FCC190;
    padding: 3px 8px;
    font-size: 15px;
    position: fixed;
    bottom: 75px;
    left: 50%;
    margin-left: -110px;
    cursor: default;
    z-index: 10000;
    font-size: 24px;
}

.lClear {
  @include clearfix();
  position: relative;
  label {
    position: absolute;
    top: 8px;
    left: 7px;
    font-style: italic;
    font-size: 13px;
    color: #666;
  }
  input,
  textarea {
    @include border-radius(2px);
    padding: 5px 7px;
  }
  input {
    border: 1px solid #89ABC3;
    margin-bottom: 10px;
  }
  &.required label {
    color: #CD070E;
  }
  .tagDisplay {
    position: absolute;
    top: 0px;

    input {
      background: #F2F8E4;
      z-index: 130;
    }
  }
}
.group {
  @include border-radius(2px);
  border: 1px solid #89ABC3;

  label {
    top: 7px;
  }
  input,
  textarea {
    margin: 0;
    border: none;
  }
  .bottom {
    border-bottom: 2px dotted #CCC;
  }
  .important input {
    font-weight: bold;
  }
  .actions {
    background: #F1F1F1;
    border-top: 2px dotted #CCC;

    input {
      @include green-conservative-button(15px, 0, 0);
      padding: 7px 0;
      width: 160px;
      text-align: center;
    }
    input.disabled {
      @include opacity(.65);
      cursor: default;
    }
  }
}

// Input clearning (on click for instance)
.iclear {

    // White text
    &.w {
        color: #FFF !important;

        &.active {
            color: #A3B9D7 !important;
        }
    }
    // Black text
    &.b {
        color: #000 !important;

        &.active {
            color: #BBB !important;
        }
    }
}

// Autocomplete results
.ac_results {
  z-index: 15000;
  background: #F2F8E4;
  //border: 1px solid #CAE09D;
}

// Hovering on buttons and enlargable images
.btn.hover,
.enlarge:hover,
.enlarge.hover {
    @include single-box-shadow(#999, 1px, 1px, 3px);
    border-color:  #888 !important;
    text-decoration: none;
    z-index: 200;
}

// Hovering on img
.enlarge {
}
.enlarge.hover {
    @include border-radius(5px);
    border: 2px solid #999;
    background: #FFF;
    padding:  2px;
}