/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require normalize
 *= require qtip
 *= require colorbox
 *= require jquery.autocomplete
 *= require_self
 * require_tree .
*/

// Default theme variables
@import "themes/_default";

// Import compass mixins
@import "compass";
@import "compass/utilities";

html, body {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    background: image-url("bg_textured.jpg") repeat;
    position: relative;
    z-index: 0;
    min-width: $min-width;
    font-family: "lucida grande", Tahoma, Verdana, Arial, sans-serif;
    line-height: 1.231 !important;
}

h1,h2,h3,h4,h5,h6,p,div,span {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Helvetica Neue", Arial, Tahoma, Verdana, serif;
}
h1 {
  font-size: 25px;
}

a {
    color: $url-color;
    text-decoration: none;
    border: none;

    &:hover {
      text-decoration: none;
    }
    &:visited {
      color: $url-color;
    }
}

ol,ul,li { list-style: none; margin: 0; padding: 0; }

form {
  .errors {
    display: none;
    font-size: 12px;
    color: #CD070E;
    padding: 0 5px;
    border: 2px solid #D16A67;
    background: #FFF9F6;
    .error {
      margin: 3px 0;
    }
  }
}

input,
textarea,
select {
    @include border-radius(3px);
    padding: 3px 6px;
    font-size: 14px;
    border:  1px solid #BBB;
    font-family: "lucida grande", Tahoma, Verdana, Arial, sans-serif;
    line-height: 1.231;
    &:focus {
      outline: none;
    }
}

button {
  background: transparent;
  border: none;
}

#flash_notice {
  display: none;
}

#header {
    @include single-box-shadow(#AAA, 1px, 1px, 3px);
    background-color: #2061B6;
    @include background-image(linear-gradient(#1B59AE, #2664B2 25%, #1B59AE 75%, #124895));
    height: 40px; width: 100%;
    border-bottom: 1px solid #003277;
    position: relative;

    .logo {
        padding: 0 35px 0 6px;
        position: relative;
        top: 2px;

        img { border: none; }
    }
}

#flash_alert {
  @include border-radius(2px);
  text-align: center;
  padding: 5px 0;
  background: #d45946;
  color: #fff;
}

#contribute {
    @include green-button(2px, 16px);
    padding: 4px 10px 5px 30px;
    top: 5px;
    left: 240px;
    position: absolute;
    z-index: 210;

    .plus-white-icon {
        position: absolute;
        top: 5px; left: 7px;
    }
}

#search {
    border-right: 1px solid #08192E;
    position: absolute;
    top: 4px;
    right: 180px;
    input {
        @include border-radius(2px);
        background-color: #EFEFEF;
        border: none;
        border-top: 1px solid #163967;
        border-bottom: 1px solid #4075BC;
        font-size: 16px;
        padding: 5px 8px;
        height: 20px;
        color: #333;
        display: block;
        margin: 0px 28px 0 0;
        width: 150px;
    }
    &.logged {
      right: 95px;
    }
}

#login,
#logout,
#register {
    font-size: 16px;
    color: #FFF;
    border-left: 1px solid #4A8BDD;
    padding: 6px 20px 7px 20px;
    position: absolute;
    top: 4px;
}

#register {
    border-right: 1px solid #08192E;
    right: 81px;
}
#login,
#logout {
  right: 0px;
}

#content {
  height: 100%;
  width: 100%;
  min-width: $min-width;
}
#page {
    height: 100%;
    position: relative;
    margin-left: $sidebar_width+($sidebar_border_width*2)+$sidebar-margin;
    padding-top: 45px;
    padding-bottom: 75px;

    &.minimized-sidebar {
        margin-left: $sidebar-minimized-width+($sidebar_border_width*2)+$sidebar-margin;
    }
}

#page_header {
    position: absolute;
    margin-left: $sidebar_width+($sidebar_border_width*2)+$sidebar-margin;
    color: #000;
    top: 47px;
    z-index: 150;

    &.minimized-sidebar {
        margin-left: $sidebar-minimized-width+($sidebar_border_width*2)+$sidebar-margin;
    }

    .wrap {
        @include border-radius(4px);
        margin:  0 9px 5px;
        border: 1px solid transparent;
    }

    h1 {
      text-align: center;
      margin: 0 0 2px;
      text-align: center;
      border-bottom: double #CCC;
    }

    &.floating {
        position: fixed;
        top: 0px;
        padding-top: $sidebar-margin;

        .wrap {
            @include single-box-shadow(#DDD, 0px, 2px, 5px);
            border: 1px solid #CCC;
            background: #FFF;
        }
    }
}
#page-sb1,
#page-sb2,
#page-sb3 {
    float: left;
    height: 100%;
    padding-bottom: $footer_height;
    overflow-x: hidden;
    overflow-y: auto;
}
#page_content {
    color: $page_content_color;
    position: relative;
    > h1 {
      margin: 0 0 5px 10px;
    }
    .wrap {
        padding-bottom: 2px;
    }
    .empty {
        margin-left: 10px;
    }
}
#sidebar {
  @include single-box-shadow(#CCC, 1px, 1px, 2px);
  @include border-radius(4px);
  height: 100%;
  position: relative;
  border: $sidebar_border_width solid #CCC;
  background: $sidebar_background-color;
  position: absolute;
  top: 42px + $sidebar-margin;
  left: $sidebar-margin;
  padding-bottom: 20px;

  .panel-close-left-icon {
    position: absolute; top: 10px; right: 10px;
    cursor: pointer;
  }

  &.floating {
    position: fixed;
    top: $sidebar-margin;
    left: $sidebar-margin;
  }

  .btn {
    color: #444;
  }

  .full {
    width: $sidebar_width;
  }
  .minimized {
    width: $sidebar-minimized-width;

    .panel-open-left-icon {
      margin:  5px 0 3px 14px;
      cursor: pointer;
    }
    .profile-image {
      @include border-radius(2px);
      margin:  5px 0 2px 5px;
    }
    .btn {
      @include border-radius(3px);
      border:  1px solid transparent;
      display: block;
      clear: both;
      padding: 5px;
      margin:  0 0 0 6px;
      float: left;
    }
    .pop {
      padding:  2px 0;
      width: 40px;
      color: #666;
      text-align: center;
      cursor: pointer;
    }
    .notifications {
      padding:  2px 0;
      width: 26px;
      color: #666;
      text-align: center;
    }
  }
  .empty {
    margin: 8px 20px 0 10px;
    font-size: 12px;
  }
  #static-links {
    position: fixed;
    width: 185px;
    bottom: $footer-height + 16;
    left: 16px;
    text-align: center;
    font-size: 11px;
    color: $url-color;
    cursor: pointer;
    .dot {
      position: relative;
      top: -3px;
    }
  }
  .sidenote {
    position: fixed;
    width: $sidebar_width - 10;
    bottom: 90px;
    left: 23px;
    font-size: 12px;
  }
}
#sidebar-right {
    float: right;
    height: 100%;
    position: relative;
    z-index: 170;

    .sbrC {
        @include border-radius(4px);
        background-color: #FFF;
        width: $sidebar_right_width;
        position: relative;
        border: $sidebar_border_width solid #CCC;
        margin: $sidebar-margin $sidebar-margin 0 0;

        .edit {
            @include link;
        }
    }

    .edit-panel {
        @include border-radius(4px);
        background-color: #FFF;
        width: $sidebar_right_width+150;
        position: relative;
        border: $sidebar_border_width solid #CCC;
        margin: $sidebar-margin $sidebar-margin 0 0;
    }

    .footer {
        border-top: 2px solid #F3F3F3;
        margin-top: 10px;
        width: 100%;
        padding: 0;
        margin:  0;

        .content {
            padding:  5px 10px;
        }
    }

    &.floating {
        position: fixed;
        top: 0px;
        right: 0px;
    }
}

#footer {
  @include single-box-shadow(#AAA, 1px, -1px, 3px);
  background-color: #2061B6;
  @include background-image(linear-gradient(#124895, #1B59AE 25%,#2664B2 75%, #1B59AE));
  position: fixed; left: 0px; bottom: 0px; height: $footer_height;  width: 100%;
  z-index: 190;
  color: #AAE929;
  font-weight: bold;
  font-size: 11px;
  padding: 2px 5px;

  li {
    display: block;
    float: left;
  }
  // Trending topics
  #trending-topics {
    margin: 11px 285px 0 10px;
    overflow: hidden;
    height: 15px;

    a {
      margin-left: 10px;
      color: white;
    }
  }
  #twitter-footer {
    position: absolute;
    right: 115px;
    top: 10px;
  }
  #fb-footer {
    position: absolute;
    right: 15px;
    top: 10px;
    .fb_edge_comment_widget {
      margin-top: -190px;
      margin-left: -310px;
    }
    .nub {
      display: none;
    }
  }
}

/* Move rails-footnotes up a little bit */
#footnotes_holder {
  float: left;
  padding: 15px;
}

/* Page load time */
#plt {
  position: absolute;
  right: 15px;
  top: -22px;
  font-size: 9px;
  color: #999;
  font-weight: normal;
  cursor: default;
}

#admin_link {
  position: absolute;
  left: 380px;
  top: 11px;
  color: #FFF;
}

#resque_link {
  position: absolute;
  left: 445px;
  top: 11px;
  color: #FFF;
}

#hints {
  position: relative;
  padding: 0px 0 0 15px;
  margin: 0 0 0 20px;

  .info-grey-icon {
    position: absolute;
    left: 0px;
    top: -2px;
  }
  .hint {
    font-size: 12px;
    color: #666;
    cursor: default;
  }
  span {
    color: $url-color;
  }
}

.hover-tab {
  position: relative;
  margin: 5px 0 0 0;

  .pop {
    @include border-radius(2px);
    border: 1px solid #666;
    position: absolute;
    top: -3px;
    left: -7px;
    background: #FFF;
    padding: 3px 5px;
    font-weight: bold;
    z-index: 10;
  }
  .head {
    position: relative;
    padding: 2px 0 0 70px;
    min-height: 55px;
  }
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #999;
  }
  a {
    font-size: 16px;
    color: #444;
    display: block;
    padding: 1px 0 8px 0;
  }
  .types {
    font-size: 11px;
    cursor: default;
    margin: -7px 0 0 0;
    color: #999;
    span {
      margin: 0 8px 0 0;
    }
  }
  .fol {
    @include clearfix();
    margin: 2px 0 0 -2px;
  }
  .folC {
    font-size: 11px;
    color: #555;
    margin: 3px 0 0 2px;
    float: left;
    cursor: default;
  }
  .followB,
  .unfollowB {
    margin: 0 3px 0 0;
    float: left;
  }
  .summary {
    margin: 10px 0 0 0;
    cursor: default;
  }
}

@import "library";
@import "sprites";
@import "mentions";
@import "help";
@import "core_objects";
@import "users";
@import "topics";
@import "talks";
@import "pictures";
@import "videos";
@import "links";
@import "list";
@import "utilities";
@import "comment";
@import "notifications";
@import "pages";