/*
    Document   : _comment
    Created on : Jun 8, 2011, 2:16:23 PM
    Author     : Matt
    Description:
        Handles css for comments
*/

$big-image-width: 50px;
$small-image-width: 30px;
$scoreC-width: 50px;
$indent: 20px;

.comment_form {
  @include border-radius(2px);
  @include single-box-shadow(#888, 1px, 1px, 3px);
  background: #FFF;
  width: 400px;
  z-index: 210;
  border: 1px solid #94C530;

  h4 {
    padding: 5px 0 6px 8px;
    border-bottom: 1px solid #CCC;
  }
  .field {
    margin: 0px;
    textarea {
      border: none;
      height: 100px;
      width: 385px;
    }
  }
  .actions {
    background: #F9F9F9;
    border-top: 1px solid #CCC;
    position: relative;

    .submit {
      @include grey-rollover(12px);
      margin: 7px;
    }
    .comment-cancel {
      @include link();
      position: absolute;
      top: 11px;
      left: 150px;
      font-size: 12px;
    }
  }
}

.comment-thread {
    padding: 2px 0 0 34px;

    .comment_reply {
        padding: 15px 0 10px 10px;
        clear: left;
    }
    .comments {

    }
    .comment {
      position: relative;
      margin: 5px 10px 0 0;
      border-top: 1px solid #EFEFEF;
      min-height: 37px;

      .wrapper {
        padding: 0 $scoreC-width+20 0 37px;
        position: relative;
      }
      img {
          position: absolute;
          top: 6px;
          left: 0;
          width: 30px;
          height: 30px;
      }
      .ulink {
        color: #333;
        font-weight: bold;
      }
      p {
          font-size: 12px;
          padding: 6px 0 1px 0;
          clear: left;
      }
      .actions {
        font-size: 10px;
        .comment-response {
          @include link();
          margin: 0 10px 0 10px;
        }
        .when {

        }
        .delete {
          cursor: pointer;
          display: none;
        }
      }
      &.d-0 {
        margin-left: 0px;
      }
      &.d-1 { margin-left: $indent; }
      &.d-2 {
        margin-left: $indent*2;
        .wrapper {
          /*max-width: $max-width - $indent;*/
        }
      }
      &.d-3 {
        margin-left: $indent*3;
        .wrapper {
          /*max-width: $max-width - $indent*2;*/
        }
      }
      &.d-4 {
        margin-left: $indent*4;
        .wrapper {
          /*max-width: $max-width - $indent*3;*/
        }
      }
      &.d-5 {
        margin-left: $indent*5;
        .wrapper {
          /*max-width: $max-width - $indent*4;*/
        }
      }
      &.d-6 {
        margin-left: $indent*6;
        .wrapper {
          /*max-width: $max-width - $indent*5;*/
        }
      }
    }
}

