.comment-list {
  @include clearfix();
  background: #F9F9F9;
  padding: 10px 0 0 0;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  display: none;
  position: relative;

  .ll-white-arrow-down {
    position: absolute;
    top: -1px;
    left: 15px;
  }
  li {
    position: relative;
    padding: 10px 0 10px 50px;
    min-height: 30px;
    border-bottom: 1px solid #DDD;

    img {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
    }
    .ulink {
      color: #444;
      font-weight: bold;
    }
    .when {
      font-size: 11px;
      color: #999;
      font-weight: normal;
    }
    p {
      font-size: 14px;
      padding: 0;
    }
  }
}