/*
    Document   : _comment
    Created on : Jun 8, 2011, 2:16:23 PM
    Author     : Matt
    Description:
        Handles css for comments
*/

$big-image-width: 50px;
$small-image-width: 30px;
$scoreC-width: 50px;
$indent: 20px;

.comment_form {
    @include clearfix();
    display: block;
    width: 400px;

    .mention-box {
      height: 65px;
      width: 380px;
      .under,
      .mention {
        height: 50px;
        width: 380px;
        margin: 0;
        border-color: #CCC;
      }
    }
    .submit,
    .comment_reply_cancel {
        @include green-button(2px, 12px);
        margin: 5px 10px 0;
        float: right;
        padding: 4px 9px;
    }
    .comment_reply_cancel {
      padding: 3px 9px;
    }
    input {
      float: left;
    }
    padding-bottom: 10px;
}

.comment-thread {
    padding: 10px 0 0 20px;

    .comment_reply {
        padding: 15px 0 10px 10px;
        clear: left;
    }
    .commentCount {
        margin: 10px 0 5px 0;
    }
    .comments {

    }
    .comment {
      $max-width: 800px;
        position: relative;
        border: 1px solid #CCC;
        margin-top: -1px;
        margin-right: 5px;
        background: #FFF;

        .wrapper {
          padding: 2px $scoreC-width+20 5px $small-image-width+13;
          max-width: $max-width;
          min-height: 60px;
          position: relative;
        }
        .comment_form {
            padding-bottom: 0px;
        }
        .profileImage {
            position: absolute;
            top: 9px;
            left: 7px;
        }
        .reply-show {
            @include link();
            float: left;
            font-size: 10px;
            margin: 0px;
        }
        .createdC {
            float: left;
            font-size: 12px;
            padding: 1px 0 0 10px;
        }
        p {
            font-size: 14px;
            padding: 5px 0 0 10px;
            clear: left;
        }
        .scoreC {
          position: absolute;
          right: 0;
          top: 0;
          .up {
            position: absolute;
            top: 10px;
            right: 5px;
          }
          .down {
            position: absolute;
            top: 35px;
            right: 5px;
          }
        }
        .pop {
          position: absolute;
          font-size: 26px;
          color: #555;
          right: 35px;
          top: 16px;
          cursor: default;
        }
        .reply {
          margin: 0 0 0 10px;
          font-size: 14px;
        }
        &.d-0 {
            margin-left: 0px;
            .wrapper {
              padding: 2px $scoreC-width+20 5px $big-image-width+14;
            }
        }
        &.d-1 { margin-left: $indent; }
        &.d-2 {
          margin-left: $indent*2;
          .wrapper {
            max-width: $max-width - $indent;
          }
        }
        &.d-3 {
          margin-left: $indent*3;
          .wrapper {
            max-width: $max-width - $indent*2;
          }
        }
        &.d-4 {
          margin-left: $indent*4;
          .wrapper {
            max-width: $max-width - $indent*3;
          }
        }
        &.d-5 {
          margin-left: $indent*5;
          .wrapper {
            max-width: $max-width - $indent*4;
          }
        }
        &.d-6 {
          margin-left: $indent*6;
          .wrapper {
            max-width: $max-width - $indent*5;
          }
        }

        &.hover-0 {
            border-left-color: $picture-color;
        }
        &.hover-1 {
            border-left-color: $news-color;
        }
        &.hover-2 {
            border-left-color: $video-color;
        }
        &.hover-3 {
            border-left-color: $talk-color;
        }
    }
}

