/*
    Document   : _object
    Created on : Apr 14, 2011, 4:59:22 PM
    Author     : Marc
    Description:
        Handles anything that deals with manipulating objects in general.
*/

// QTip for successful object creation
.object-created-tip {
  background-color: #D2EC9F;
  border-color: #A5D93D;
  color: #658A1B;
  font-size: 14px;
}

// QTip for sharing a core object with friends
.coreShareTip {
  .ui-tooltip-content {
    background-color: #F2F8E4;
    border-color: #CAE09D;

    form {
      margin-top: 3px;
    }
    input {
      font-size: 10px;
      margin: 5px 5px 5px 0;
    }
    .actions {
      float: left;
    }
    .cancel-share {
      float: right;
      margin: 5px;
      cursor: pointer;
    }
  }
}

.contributeC {
  @include border-radius(0 0 3px 3px);
  @include single-box-shadow(#AAA, 1px, 1px, 3px);

  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 210;
  background: #FEFEFE;
  border: 2px solid #94C530;
  border-top: none;
  padding: 0;
  display: none;

  .responding {
    color: #333;
    font-size: 16px;
    margin: 5px 0 5px 14px;
    width: 500px;
    cursor: default;
  }
  .errors {
    margin: 0 8px 9px 8px;
    font-size: 11px;
  }
  .options {
    @include clearfix();
    padding: 30px 0 0 0;

    .option {
      @include link();
      position: absolute;
      padding: 5px 0 0 18px;
      top: 3px;

      .icon {
        position: absolute;
        left: 0px;
        top: 6px;
      }
      .cancel {
        @include link();
        font-size: 11px;
        position: absolute;
        right: -80px;
        top: 6px;
        display: none;
      }
      &.picture {
        left: 17px;
      }
      &.link {
        left: 150px;
      }
      &.on {
        left: 17px;
        cursor: default;
        color: #222;
        text-decoration: none;
      }
    }
  }
  .picture_options {
    @include clearfix();
    @include border-radius(2px);
    margin: 0 0 8px 13px;

    > div {
      float: left;
      padding: 3px 5px;
      background: #659FC6;
      font-size: 11px;
      color: #FFF;
      cursor: pointer;
      position: relative;
      z-index: 0;
      &:hover {
        background: #5687A7;
      }
    }
    .first {
      border-right: 1px solid #FFF;
    }
  }
  .url {
    margin: 1px 0 8px 13px;
    position: relative;

    label {
      font-size: 11px;
      top: 3px;
    }
    input {
      @include border-radius(2px);
      border-color: #AAA;
      font-size: 11px;
      padding: 2px 3px;
      width: 200px;
      margin: 0;
    }
    .fetch,
    .cancel {
      @include link();
      position: absolute;
      top: 3px;
      font-size: 11px;
    }
    .fetch {
      left: 218px;
    }
    .cancel {
      left: 259px;
    }
    .dot {
      position: absolute;
      top: -1px;
      left: 250px;
      font-weight: bold;
      cursor: default;
    }
  }
  .forms {
    width: 525px;
  }
  .shared {
    @include clearfix();
    border-bottom: 1px dashed #aaaaaa;
    position: relative;
    padding: 7px 0 8px 0;

    .preview {
      float: left;
      width: 130px;
      .images {
        img {
          max-width: 120px;
        }
      }
      .none {
        text-align: center;
        font-size: 11px;
        color: #999;
        cursor: default;
        padding: 0 10px;
        width: 110px;
      }
    }
    .info {
      float: left;
    }
    &.with-preview {
      .info {
        width: 228px;
        .under,
        .mention {
          width: 205px;
        }
      }
    }
    .title {
      min-height: 65px;
      label {
        top: 2px;
        left: 0;
      }
      .mention,
      .under {
        padding: 0 4px 0 0 !important;
        height: 65px;
        font-size: 13px;
        width: 347px;
        border: none;
        margin: 0;
        resize: none;

        &:hover,
        &:focus {
          background: #FEFF97;
        }
      }
    }
    .switcher {
      @include clearfix();
      padding: 10px 0 0 0;
      .left,
      .right {
        float: left;
        padding: 1px 4px;
        border: 1px solid #999;
        color: #666;
        font-size: 11px;
        &:hover {
          cursor: pointer;
          color: #000;
        }
      }
      .left {

      }
      .right {
        margin-left: -1px;
      }
      .help {
        float: left;
        font-size: 11px;
        color: #AAA;
        margin: 2px 0 0 10px;
        cursor: default;
      }
    }
    .counter {
      bottom: -27px;
    }
    .cancel {
      position: absolute;
      top: 1px;
      right: 7px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .main_content {
    margin: 0 8px;
    border-top: 1px solid #AAA;
    position: relative;
    padding: 0 150px 0 0;
    overflow: hidden;

    label {
      top: 6px;
    }
    .talk_content {
      .mention-box {
        height: 100px;
      }
      .under,
      .mention {
        height: 86px;
        padding: 6px 3px !important;
        width: 351px;
      }
    }
  }

  .suggestions {
    @include clearfix();
    position: relative;
    padding: 20px 0 5px 0;

    .head {
      font-size: 11px;
      position: absolute;
      top: 5px;
      left: 0px;
    }
    .placeholder {
      @include link();
      font-size: 11px;
      float: left;
      margin: 0 7px 0 0;
      position: relative;
    }
    .suggestion-group {
      background: #FFF;
      position: absolute;
      bottom: -6px;
      left: -6px;
      display: none;
      z-index: 500;
      padding: 5px;
      border: 1px solid #999;

      span {
        display: none;
      }
    }
    .suggestion {
      @include link();
      font-size: 11px;
      white-space: nowrap;
    }
    .none {
      font-style: italic;
      font-size: 11px;
    }
  }

  .tweet_content {
    position: relative;
    border-top: 1px dashed #AAA;
    padding: 15px 0 0 0;
    .head {
      position: absolute;
      cursor: default;
      color: #999;
      font-size: 11px;
      top: 3px;
      left: 7px;
    }
    textarea {
      height: 100px;
      font-size: 13px;
      height: 70px;
      width: 344px;
      resize: none;
      border: none;
    }
  }

  .mention-ooc {
    position: absolute;
    width: 150px;
    top: 0px;
    right: 0px;
    height: 130px;
    border-left: 1px solid #E1E1E1;
    margin-bottom: -999px;
    padding-bottom: 999px;

    .auto {
      label {
        top: 6px;
        left: 10px;
        color: #666666;
        font-size: 11px;
      }
      input {
        border: none;
        border-bottom: 1px solid #E1E1E1;
        width: 136px;
        padding: 6px 5px;
        margin: 0 0 0 5px;
        font-size: 11px;
      }
    }
    .mentions {
      padding: 5px 10px;
      .item {
        @include clearfix();
        position: relative;
        padding: 2px 0;
      }
      img {
        @include border-radius(2px);
        position: absolute;
        top: 3px;
        left: 0;
      }
      .name {
        float: left;
        font-size: 13px;
        overflow: hidden;
        max-width: 93px;
        white-space: nowrap;
        cursor: default;
      }
      .remove {
        float: left;
        font-size: 10px;
        color: red;
        margin: 2px 5px 0 0;
        cursor: pointer;
      }
    }
  }
  .actions {
    background: #F1F1F1;
    border-top: 1px solid #AAA;
    position: relative;

    .submit {
      @include green-conservative-button(14px, 0, 0);
      padding: 5px 0;
      width: 90px;
      text-align: center;
      height: 26px;
    }
    .connect_twitter {
      @include link();
      position: absolute;
      top: 6px;
      left: 105px;
      padding: 0 0 0 23px;
      font-size: 11px;

      .twitter-bird-small {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
    .tweet {
      font-size: 11px;
      cursor: default;
      position: absolute;
      top: 6px;
      left: 110px;
      padding: 0 0 0 18px;

      input {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
    .cancel {
      @include link();
      font-size: 11px;
      position: absolute;
      top: 6px;
      right: 10px;
    }
    input.disabled {
      @include opacity(.65);
      cursor: default;
    }
  }
}

.objectContent {
    padding: 0px 20px 20px;
}

.followB ,
.unfollowB {
    @include green-button(2px, 13px);
    margin: 5px 10px;
    padding: 4px 10px;
    height: 21px;
    display: block;
}

// Styling for btnps that swap
.followB,
.favB,
.repostB,
.voteB,
.primaryB,
.ooacB {
  line-height: 1.0em;
  .triggered {
    display: none;
  }
}
.unfollowB,
.unfavB,
.unrepostB,
.unvoteB,
.unprimaryB,
.unooacB {
  line-height: 1.0em;
  .default {
    display: none;
  }
}

.object-feed {
    @include clearfix();
    padding: 5px 0 35px 0;
    li {
        padding: 0px
    }
}

.score-C { }
.score-C .on { font-weight: bold; color: green; }

// Object Teasers
$teaser-padding: 10px;
.teaser {
  position: relative;
  border: 1px solid #CCC;
  background: #FFF;
  a {
    color: #444;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
  p {
    color: #524D4D;
    .s { // the source link
      text-decoration: underline;
    }
    .tlink,
    .ulink {
      color: #2B3E8E;
    }
  }
  .titleC {
    font-size: 18px;
    span {
      color: #444;
      cursor: default;
      font-size: 12px;
    }
    .r {
      position: relative;
      padding: 0 0 0 18px;
    }
    .icon {
      position: absolute;
      top: 1px;
      left: 0px;
    }
  }

  &:hover {
    .disable {
      display: block;
    }
  }
  .disable {
    z-index: 300;
    position: absolute;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }

  .respond {
    @include link();
    float: left;
    margin: 2px 20px 2px 10px;
  }

  img {
    @include border-radius(3px);
    clear: left;
    display: block;
    float: left;
  }

  .createdC {
    color: #999;
    font-size: 9px;
    margin: 0 0 0 1px;

    .tag {
      position: relative;
      top: -2px;
      margin-left: 5px;
    }
  }

  p {
    font-size: 13px;
    margin: 2px 0 0 0;
    a {
      text-decoration: none;
    }
  }

  .pop {
    div {
      white-space: nowrap;
    }
  }

  .tag.user,
  .time { float: left; }

  .content {
    border-bottom: 1px solid #DCDFD4;
  }

  .connectionsC {
    margin: 0;
    background: #F9F9F9;
    clear: left;
    font-size: 11px;
    position: relative;
    .s {
      @include clearfix();
      display: block;
      padding: 3px 10px;
      overflow: none;
      border-bottom: 1px solid #DCDFD4;
      border-top: 1px solid #F3F3F3;
    }
    .mentions {
      @include clearfix();
      position: relative;
      margin: 0px;
      padding: 2px 0 3px 65px;
      .head {
        position: absolute;
        font-size: 11px;
        color: #666;
        cursor: default;
        position: absolute;
        top: 2px;
        left: 10px;
        font-weight: normal;
      }
    }
  }

  .oType {
    float: left;
    margin: 8px 10px 0 10px;
  }

  .commentC {
    float: left;
    font-size: 10px;
    margin: 5px 10px 0 0;
    .comment-icon {
      float: left;
      margin: 0px 5px 0 0;
    }
  }

  .mentions {
    margin: 0 0 0 85px;
    .tag {
      margin: 5px 10px 0 0;
    }
  }
}

.fab {
  .controlsC {
    position: relative;
    height: 153px;

    .pop {
      font-size: 24px;
      color: #555;
      cursor: default;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    .scoreC {
      .up {
        position: absolute;
        left: 50%;
        margin-left: -14px;
        top: 35px;
      }
      .down {
        position: absolute;
        left: 50%;
        margin-left: -14px;
        top: 60px;
      }
    }
    .favB,
    .unfavB {
      position: absolute;
      left: 50%;
      margin-left: -14px;
      top: 85px;
    }
    .repostB,
    .unrepostB {
      position: absolute;
      left: 50%;
      margin-left: -14px;
      top: 110px;
    }
    .coreShareB {
      position: absolute;
      left: 50%;
      margin-left: -7px;
      top: 135px;
    }
  }
}

// Grid Teaser
.teaser.grid {
  @include single-box-shadow(#888, 0, 1px, 3px);
  $width: 200px;
  $height: 221px;
  $expand-height: 5px;
  float: left;
  width: $width;
  min-height: $height;
  max-height: $height;
  position: relative;
  z-index: 10;
  margin: 7px 4px 7px 10px;

  .wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $width;
    min-height: $height;
    max-height: $height;
    z-index: 10;
  }
  .titleC {
    overflow: hidden;
    margin: 4px 5px 0 5px;
    padding: 0 2px 5px 2px;
    border-bottom: double #DDD;
    font-size: 12px;
    white-space: nowrap;
  }
  .disable {
    bottom: 2px;
    right: 5px;
  }
  .content {
    padding: 1px 0px 0px 0px;
    position: relative;
    height: 198px;

    img,
    .video-embed {
      @include border-radius(0px);
      margin: 3px 0 0 0;
    }
    p {
      max-height: 165px;
      overflow: hidden;
    }
  }
  .createdC {
    margin: 2px 7px 3px 7px;
    overflow: hidden;
    white-space: nowrap;
  }
  .controlsC {
    display: none;
  }
  .oType {
    margin: 0 10px 0 0;
  }
  .commentC {
    margin: 0;
  }
  .connectionsC {
    display: none;
    .tag {
      margin-top: 0px;
    }
  }
  .sourceC {
    color: #666;
    font-size: 11px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
  }
  .mentions {
    @include clearfix();
    clear: both;
  }
  .pc {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 12px;
    background: #FFF;
    padding: 0 4px;
  }
  &.hover {
    z-index: 15;
    overflow: visible;
    max-height: none;

    .wrapper {
      @include single-box-shadow(#999, 1px, 2px, 3px);
      max-height: none;
      position: absolute;
      top: -2px;
      left: -2px;
      border: 2px solid;
      background: #FFF;
    }
    .titleC {
      white-space: normal;
    }
    .content {
      min-height: 198px;
      height: auto;
      p {
        max-height: none;
        overflow: visible;
        clear: both;
      }
    }
    .connectionsC {
      left: 0;
      display: block;
    }
  }
}

// Column Teaser
.teaser.column {
  @include single-box-shadow(#888, 0, 1px, 3px);
  $width: 230px;
  width: $width;
  position: relative;
  z-index: 10;
  display: none;
  .titleC {
    margin: 6px 10px 0 10px;
    padding: 0 3px 5px 3px;
    border-bottom: double #DDD;
    font-size: 14px;
  }
  .disable {
    bottom: 2px;
    right: 6px;
  }
  .content {
    padding: 7px 10px 8px 10px;
    p {
      font-size: 13px;
      margin: 0;
    }
  }
  .img {
    .icon {
      top: 3px;
    }
  }
  img {
    @include border-radius(0px);
    float: none;
  }
  .oType {
    margin: 1px 5px 0 0;
  }
  .commentC {
    margin: 0;
    font-weight: normal;
    font-size: 11px;
  }
  .tag {
    margin: 0px 10px 0 0;
  }
  .response {
    color: #666;
    font-size: 11px;
    padding: 0 0 5px 0;
    margin: 7px 10px -2px 10px;
    border-bottom: medium double #DDDDDD;
    position: relative;

    .r {
      padding-left: 17px;
      display: block;
    }
    span {
      position: absolute;
      top: -1px;
      left: 2px;
      cursor: default;
    }
    .icon {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    a {
      font-weight: normal;
    }
  }
  .video-embed {
    float: none;
  }
  .connectionsC {
  }
  .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 210px;
    height: 14px;
  }
  .createdC {
    color: #666;
    font-size: 11px;
    font-weight: normal;
    white-space: nowrap;
    position: absolute;
    bottom: -30px;
    left: 5px;
    font-weight: bold;
    cursor: default;

    a {
      font-size: 13px;
    }
    .arrow-w-s {
      position: absolute;
      top: -10px;
      left: 5px;
    }
  }
  .sourceC {
    color: #666;
    font-size: 11px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
  }
  .controlsC {
    display: none;
  }
  .pc {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 12px;
    background: #FFF;
    padding: 0 4px;
  }
  &.hover {
    margin-top: -1px;
    margin-left: -1px;
    border: 2px solid;
  }
}

// List Teaser
$scoreBox-width: 160px;
.teaser.list {
  background: transparent;
  margin: 10px 10px 0 10px;
  z-index: 10;
  padding-left: 120px;

  .left {
    @include clearfix();
    float: left;
    width: 120px;
    margin-left: -120px;
    img {
      display: block;
      float: right;
      margin: 0px;
    }
  }
  .wrapper {
    @include single-box-shadow(#888, 1px, 1px, 2px);
    position: relative;
    background: #FFF;
    border: 1px solid #999;
    margin-left: 10px;
    padding: 0;
  }
  .disable {
    bottom: 2px;
    right: 5px;
  }
  .controlsC {
    position: absolute;
    width: 110px;
    height: 100%;
    right: 0px;
    top: 0px;
    .pop {
      position: absolute;
      top: 4px;
      right: 83px;
      font-size: 26px;
      color: #555;
      cursor: default;
    }
    .up,
    .down {
      position: absolute;
    }
    .up {
      top: 12px;
      left: 40px;
    }
    .down {
      left: 74px;
      top: 18px;
    }
    .favB,
    .unfavB,
    .repostB,
    .unrepostB {
      position: absolute;
      top: 42px;
    }
    .coreShareB {
      position: absolute;
      top: 40px;
      left: 80px;
    }
    .favB,
    .unfavB {
      left: 5px;
    }
    .repostB,
    .unrepostB {
      left: 40px;
    }
  }
  .titleC {
    font-size: 14px;
    margin: 4px 0 0 6px;
    .icon {
      top: 6px;
    }
  }
  .pc {
    position: absolute;
    display: none;
    font-size: 12px;
    right: 105px;
    top: 10px;
    padding: 0 3px;
  }
  img,
  .video-embed {
    margin:  0 $teaser-padding 0 0;
  }
  .createdC {
    margin: 1px 0 0 6px;
    color: #999999;
    font-size: 9px;
  }
  p {
    margin: 5px 0 7px 6px;
  }
  .content {
    min-height: 60px;
    padding: 0 120px 0 0;
  }
  .connectionsC {
    @include clearfix();
    min-height: 18px;
    clear: none;
    width: 100%;

    .comment_form {
      clear: left;
      padding: 5px 5px 10px 10px;
    }
  }
  .oType {
    margin: 3px 10px 0 5px;
  }
  .commentC {
    margin: 3px 10px 0 0;
  }
  .mentions {
    padding: 0 0 0 5px;
    position: relative;
    top: 2px;
    .tag {
      float: left;
      margin: 0 10px 3px 0;
    }
  }
  .response {
    font-size: 12px;
    padding: 5px 0 0 5px;
  }
}

.teaser.response {
  padding-left: 65px;
  .left {
    width: 65px;
    margin-left: -65px;
  }
}

.img.expand {
  position: relative;
  .icon {
    @include opacity(.5);
    @include border-radius(3px);
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
    background: #FFF;
    padding: 3px;
    &:hover {
      @include opacity(1);
      cursor: pointer;
    }
  }
  &:hover {
    .icon {
      display: block;
    }
  }
}

// Right Object Sidebar
.sbrC {
  .scoreBox {
    margin: 20px 0px 20px 35px;
  }
  .connectionsC {
    @include clearfix();
    text-align: center;
    padding: 20px 5px 20px;
    border-top: 1px solid #CAE09D;
    .tag {
      float: left;
      margin: 2px;
      font-size: 11px;
    }
  }
}
#core-feed {
  position: relative;
  &.grid {
    display: inline-block;
  }
  .overlay {
    @include opacity(.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    z-index: 100;
    background: #FFF;
    > div {
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -70px;
      font-size: 20px;
      color: #000;
    }
  }
}
#load-more {
  text-align: center;
  padding: 10px 0;
  margin: 0 0 20px;
  font-size: 20px;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 2px solid #ddd;
  clear: both;
  position: relative;
  top: 10px;

  &:hover {
    background: #EFEFEF;
    border-top-color: #DDD;
  }
  &.on {
    background: #EFEFEF;
    border-top-color: #DDD;
    cursor: default;
  }
}

#feed-filters {
    height: 26px;

    .feed-display,
    .feed-sort,
    .feed-layout {
      position: relative;
      float: left;

      h5 {
        padding: 6px 0 0 0;
        color: #888;
        cursor: default;
        margin: 0 0 0 20px;
        font-weight: normal;
        margin-left: 15px;
      }

      > h5,
      > div {
        float: left;
      }

      ul {
        float: left;
      }

      .opt {
        color: #AAA;
        text-decoration: none;
        display: block;
        font-size: 11px;
        cursor: pointer;
        padding-left: 7px;
        padding-right: 7px;
      }
      .opt.on {
        color: #444;
      }
    }

    .feed-sort {
      width: 220px;

      .feed-sort-select {
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #9F9F9F;
        min-height: 16px;
        margin: 0;
        padding: 5px 0;
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 70px;
        background: #FFF;

        .btn {
          cursor: pointer;
        }
        &.closed {
          border-left-color: transparent;
          border-right-color: transparent;
          border-bottom-color: transparent;
          background: transparent;
        }
        .opt {
          width: 115px;
        }
        .opt:hover {
          color: #444;
        }
      }
      .arrow-small {
        position: absolute;
        top: 7px;
        right: 6px;
        z-index: 10;
        cursor: pointer;
      }
    }

    .feed-display {
      ul {
        margin: 0 0 0 10px;
      }
      li {
        float: left;
      }
      .opt {
        padding-top: 5px;
        height: 21px;
      }
    }

    .feed-layout {
      float: right;
      margin-right: 0;

      ul {
        margin: 0 0 0 10px;
      }
      li {
        float: left;
        margin-right: -1px;
      }
      .opt {
        padding: 6px 7px;
      }
    }

    .scrollTop {
      float: left;
      margin: 11px 0 0 10px;
      font-size: 8px;
      cursor: pointer;
      color: blue;
    }

    .feed-display {
      .on {
        font-weight: bold;
      }
      .on.talk {
        color: adjust-lightness($talk-color, -7);
      }
      .on.link {
        color: adjust-lightness($link-color, -7);
      }
      .on.picture {
        color: adjust-lightness($picture-color, -7);
      }
      .on.video {
        color: adjust-lightness($video-color, -7);
      }
    }
}

.edit-panel {
    position: relative;

    h4 {
    }

    .cancel {
        @include border-radius(3px);
        background-color: #E0230B;
        @include background-image(linear-gradient(#FD4E21, #E0230B));
        position: absolute; top: 7px; right: 7px;
        padding: 3px 12px;
        font-size: 13px;
        font-weight: bold;
        color: #FFF;
        cursor: pointer;
    }

    .section {
        @include clearfix();
        border-bottom:  2px solid #F3F3F3;
        padding:  5px 0;
    }

    input {
        float: left;
        margin-bottom: 3px;
    }

    .submit {
        @include green-button(2px, 13px);
        padding:  3px 12px;
        display: block;
        float: left;
    }

    .update {
        margin:  5px 0 0 0;
    }

    .add { margin: 2px 0 0 5px;}
}

.object-show {
  position: relative;
  padding: 0 10px 10px 10px;

  .tlink,
  .ulink {
    color: #2B3E8E;
  }

  &:hover {
    .disable {
      display: block;
    }
  }
  .disable {
    z-index: 300;
    position: absolute;
    top: 0px;
    right: 20px;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }

  h1 {
    font-size: 20px;
  }
  .img {
    float: left;
    margin: 6px 10px 0 0;
  }
  .content {
    margin: 6px 0 0 0;
    float: left;
    p {
      font-size: 16px;
    }
  }
  .createdC {
    font-size: 12px;
    color: #999;
    margin: 2px 0 0 0;
    >a,
    >div {
      display: inline;
    }
  }
  .response {
    color: #666;
    .r {
      position: relative;
      padding: 0 0 0 17px;
    }
    .icon {
      position: absolute;
      top: 2px;
      left: 0px;
    }
    a {
      font-weight: normal;
    }
  }

  .video-embed {
    float: none !important;
    margin: 10px 0 0 0;
  }

  &.talk {
    min-height: 30px;
    margin: 0 0 0 12px;
    .content {   
      p {
        font-size: 20px;
      }
    }
  }
}

#response-divider {
  position: relative;
  margin: 10px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 3px 5px;

  h3 {
    color: #444;
    float: left;
    cursor: default;
  }
}
#add_response {
  color: #444;
  font-size: 15px;
  cursor: pointer;
  color: $picture-color;
  float: left;
  margin: 0 0 0 20px;
}
#response-contribute {
  position: absolute;
  top: -5px;
  left: 95px;
  z-index: 101;
  border-top: 2px solid #94C530;
}
#responses {
  .none {
    font-size: 14px;
    font-style: italic;
    margin: 15px 0 0 10px;
  }
  .teaser.list {
    margin-bottom: 10px;
  }
  .comment-thread {
    padding-bottom: 15px;
    padding-top: 0;
    margin-top: -6px;
  }
}