/*
    Document   : _object
    Created on : Apr 14, 2011, 4:59:22 PM
    Author     : Marc
    Description:
        Handles anything that deals with manipulating objects in general.
*/

// QTip for successful object creation
.object-created-tip {
  background-color: #D2EC9F;
  border-color: #A5D93D;
  color: #658A1B;
  font-size: 14px;
}

// QTip for sharing a core object with friends
.coreShareTip {
  .ui-tooltip-content {
    background-color: #F2F8E4;
    border-color: #CAE09D;

    form {
      margin-top: 3px;
    }
    input {
      font-size: 10px;
      margin: 5px 5px 5px 0;
    }
    .core_object_share_receivers,
    .actions {
      float: left;
    }
  }
}

form.core_object {
  $form-width: 500px;
  $tag-width: 140px;
  position: relative;

  h3 {

  }
  .help {
    font-size: 11px;
    font-style: italic;
    margin: 5px 0;
    span {
      color: #CD070E;
      margin-left: 15px;
    }
  }
  .errors {
    margin: 0 10px 7px 10px;
  }
  // adds to .lClear styling in utilities.scss
  .field {
    input,
    textarea {
      font-size: 15px;
    }
    input {
      width: 500px;
    }
    .mention-box {
      height: 170px;
      width: $form-width - ($tag-width + 15);
      .under,
      .mention {
        height: 158px;
      }
    }
  }
  .mention-ooc {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #F3F3F3;
    width: 164px;
    height: 170px;

    .auto {
      label {
        top: 8px;
        left: 9px;
        color: #666666;
      }
      input {
        border-bottom: 1px solid #F3F3F3;
        width: 146px;
        padding: 6px 5px;
        margin: 0 0 0 4px;
      }
    }
    .mentions {
      padding: 10px;
      .item {
        @include clearfix();
        position: relative;
        padding: 6px 0 7px 33px;
      }
      img {
        @include border-radius(2px);
        position: absolute;
        top: 3px;
        left: 0;
      }
      .name {
        float: left;
        font-size: 13px;
        overflow: hidden;
        max-width: 93px;
        white-space: nowrap;
        cursor: default;
      }
      .remove {
        float: left;
        font-size: 10px;
        color: red;
        margin: 3px 0 0 5px;
        cursor: pointer;
      }
    }
  }
  .group {
    @include border-radius(2px);
    border: 1px solid #89ABC3;
    width: $form-width + 14;
    position: relative;
    label {
      top: 7px;
      z-index: 10;
    }
    input,
    textarea {
      border: none;
    }
    .bottom {
      border-bottom: 1px solid #DDD;
    }
    .important input {
      font-weight: bold;
    }
    .actions {
      background: #F1F1F1;
      border-top: 1px solid #DDD;

      input {
        @include green-conservative-button(15px, 0, 0);
        padding: 7px 0;
        width: 160px;
        text-align: center;
      }
      input.disabled {
        @include opacity(.65);
        cursor: default;
      }
    }
  }
  .field.image {
    font-weight: bold;
    color: #62728F;
  }
  .choices {
    float: left;
    width: 160px;
    padding: 0;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
    .upload,
    .fetch {
      padding: 8px;

      &.on {
        background: #62728F;
        color: #FFF;
      }
    }
    .upload {

    }
    .fetch {
      border-top: 1px solid #EEE;
    }
  }
  .image-preview {
    border-left: 1px solid #DDD;
    width: 352px;
    min-height: 8px;
    float: left;
    padding: 40px 40px 15px 40px;
    width: 270px;
    text-align: center;
    font-size: 16px;
    position: relative;
    margin: 0 0 0 -1px;

    .default {
      font-size: 12px;
      font-style: italic;
      cursor: default;
      margin: -13px 0 0 0;
    }
    .upload {
      text-align: center;
      width: 270px;
      text-align: center;
      margin-top: -25px;
      img {
        max-width: 210px;
        margin: auto;
        display: block;
      }
    }
    .fetch {
      display: none;

      .field {
        @include border-radius(2px);
        margin: -35px 0 0 -35px;
        width: 340px;
        border: 1px solid #EEE;

        input {
          font-size: 12px;
          width: 320px;
        }
      }
      .left,
      .right {
        position: absolute;
        top: 40px;
        cursor: pointer;
      }
      .left {
        left: 10px;
      }
      .right {
        right: 10px;
      }
      .images {
        @include clearfix();
        margin: 5px 0 0 0;
        img {
          @include border-radius(3px);
          max-width: 270px;
        }
      }
    }
  }
  .upload_image {
    @include border-radius(2px);
    font-size: 18px;
    padding: 15px 0;
    cursor: pointer;
  }
  .preview {
    display: none;
    width: 230px;
    position: absolute;
    left: $form-width + 30;
    top: 0px;

    h4 {
      color: #AAA;
      margin: 0 0 0 5px;
    }
    .content {
      margin: 10px 0 0 0;
    }
  }
}

.objectContent {
    padding: 0px 20px 20px;
}

.followB ,
.unfollowB {
    @include green-button(2px, 13px);
    margin: 5px 10px;
    padding: 5px 10px 3px 25px;
    display: block;

    > div {
      position: relative;
    }

    .plus-white-s-icon {
        position: absolute;
        top: 0px; left: -17px;
    }
    .minus-white-s-icon {
        position: absolute;
        top: 5px; left: -17px;
    }
}

// Styling for btnps that swap
.followB,
.favB,
.repostB,
.voteB,
.primaryB {
  .triggered {
    display: none;
  }
}
.unfollowB,
.unfavB,
.unrepostB,
.unvoteB,
.unprimaryB {
  .default {
    display: none;
  }
}

.object-feed {
    @include clearfix();
    padding: 5px 0 35px 0;
    li {
        padding: 0px
    }
}

.score-C { }
.score-C .on { font-weight: bold; color: green; }

// Object Teasers
$teaser-padding: 10px;
.teaser {
    position: relative;
    border: 1px solid #CCC;
    background: #FFF;
    a {
      color: #444;
      &:hover {
        color: #000;
        text-decoration: underline;
      }
    }
    p {
      color: #524D4D;
      .s { // the source link
        text-decoration: underline;
      }
    }
    .titleC {
        font-size: 18px;
        span {
          color: #444;
          cursor: default;
          font-size: 12px;
        }
        .r {
          position: relative;
          padding: 0 0 0 18px;
        }
        .icon {
          position: absolute;
          top: 1px;
          left: 0px;
        }
    }

    .respond {
      @include link();
      float: left;
      margin: 2px 20px 2px 10px;
    }

    img {
        @include border-radius(3px);
        clear: left;
        display: block;
        float: left;
    }

    .createdC {
        color: #999;
        font-size: 9px;
        margin: 0 0 0 1px;

        .tag {
            position: relative;
            top: -2px;
            margin-left: 5px;
        }
    }

    p {
        font-size: 14px;
        margin: 2px 0 0 0;
        a {
            text-decoration: none;
        }
    }

    .pop {
      div {
        white-space: nowrap;
      }
    }

    .tag.user,
    .time { float: left; }

    .connectionsC {
      margin: 0;
      background: #EBEEE2;
      clear: left;
      font-size: 11px;
      position: relative;
      .s {
        @include clearfix();
        display: block;
        padding: 3px 10px;
        overflow: none;
        border-bottom: 1px solid #DCDFD4;
        border-top: 1px solid #F3F6EA;
      }
      .mentions {
        @include clearfix();
        position: relative;
        margin: 0px;
        padding: 2px 0 3px 65px;
        .head {
          position: absolute;
          font-size: 11px;
          color: #666;
          cursor: default;
          position: absolute;
          top: 2px;
          left: 10px;
          font-weight: normal;
        }
      }
    }

    .oType {
      float: left;
      margin: 8px 10px 0 10px;
    }

    .commentC {
        float: left;
        font-size: 10px;
        margin: 5px 10px 0 0;
        .comment-icon {
            float: left;
            margin: 0px 5px 0 0;
        }
    }

    .mentions {
        margin: 0 0 0 85px;
        .tag {
          margin: 5px 10px 0 0;
        }
    }
}

.fab {
  .controlsC {
    position: relative;
    height: 153px;

    .pop {
      font-size: 24px;
      color: #555;
      cursor: default;
      padding: 0;
      text-align: center;
      width: 100%;
    }
    .scoreC {
      .up {
        position: absolute;
        left: 50%;
        margin-left: -14px;
        top: 35px;
      }
      .down {
        position: absolute;
        left: 50%;
        margin-left: -14px;
        top: 60px;
      }
    }
    .favB,
    .unfavB {
      position: absolute;
      left: 50%;
      margin-left: -14px;
      top: 85px;
    }
    .repostB,
    .unrepostB {
      position: absolute;
      left: 50%;
      margin-left: -14px;
      top: 110px;
    }
    .coreShareB {
      position: absolute;
      left: 50%;
      margin-left: -7px;
      top: 135px;
    }
  }
}

// Grid Teaser
.teaser.grid {
  $width: 200px;
  $height: 221px;
  $expand-height: 5px;
  float: left;
  width: $width;
  min-height: $height;
  max-height: $height;
  position: relative;
  z-index: 10;
  margin: 5px;

  .wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $width;
    min-height: $height;
    max-height: $height;
    z-index: 10;
  }
  .titleC {
    overflow: hidden;
    margin: 4px 5px 0 5px;
    padding: 0 2px 5px 2px;
    border-bottom: double #DDD;
    font-size: 12px;
    white-space: nowrap;
  }
  .content {
    padding: 1px 0px 0px 0px;
    position: relative;
    height: 198px;

    img,
    .video-embed {
      @include border-radius(0px);
      margin: 3px 0 0 0;
    }
    p {
      max-height: 165px;
      overflow: hidden;
    }
  }
  .createdC {
    margin: 2px 0 3px 7px;
  }
  .controlsC {
    display: none;
  }
  .oType {
    margin: 0 10px 0 0;
  }
  .commentC {
    margin: 0;
  }
  .connectionsC {
    display: none;
    .tag {
      margin-top: 0px;
    }
  }
  .mentions {
    @include clearfix();
    clear: both;
  }
  .pc {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 12px;
    background: #FFF;
    padding: 0 4px;
  }
  &.hover {
    z-index: 15;
    overflow: visible;
    max-height: none;

    .wrapper {
      @include single-box-shadow(#999, 1px, 2px, 3px);
      max-height: none;
      position: absolute;
      top: -2px;
      left: -2px;
      border: 2px solid;
      background: #FFF;
    }
    .titleC {
      white-space: normal;
    }
    .content {
      min-height: 198px;
      height: auto;
      p {
        max-height: none;
        overflow: visible;
        clear: both;
      }
    }
    .connectionsC {
      left: 0;
      display: block;
    }
  }
}

// Grid Teaser
.teaser.column {
  $width: 230px;
  width: $width;
  position: relative;
  z-index: 10;
  display: none;
  .titleC {
    margin: 6px 10px 0 10px;
    padding: 0 3px 5px 3px;
    border-bottom: double #DDD;
    font-size: 14px;
  }
  .content {
    padding: 7px 10px 8px 10px;
    p {
      font-size: 12px;
      margin: 0;
    }
  }
  .img {
    .icon {
      top: 3px;
    }
  }
  img {
    @include border-radius(0px);
    float: none;
  }
  .oType {
    margin: 1px 5px 0 0;
  }
  .commentC {
    margin: 0;
    font-weight: normal;
    font-size: 11px;
  }
  .tag {
    margin: 0px 10px 0 0;
  }
  .response {
    color: #666;
    .r {
      position: relative;
      padding: 0 0 0 17px;
    }
    .icon {
      position: absolute;
      top: 0px;
      left: 0px;
    }
    a {
      font-weight: normal;
    }
  }
  .video-embed {
    float: none;
  }
  .connectionsC {
    padding-top: 22px;
  }
  .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 210px;
    height: 14px;
  }
  .createdC {
    color: #666;
    font-size: 11px;
    font-weight: normal;
  }
  .controlsC {
    display: none;
  }
  .pc {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 12px;
    background: #FFF;
    padding: 0 4px;
  }
  &.hover {
    margin-top: -1px;
    margin-left: -1px;
    border: 2px solid;
  }
}

// List Teaser
$scoreBox-width: 160px;
.teaser.list {
  @include clearfix();
  padding: 4px 0 0 0;
  margin: 5px;
  z-index: 10;
  p {
    margin: 0;
    padding: 4px 0;
  }
  .controlsC {
    position: absolute;
    width: 110px;
    height: 100%;
    right: 0px;
    top: 0px;
    .pop {
      position: absolute;
      top: 4px;
      right: 83px;
      font-size: 26px;
      color: #555;
      cursor: default;
    }
    .up,
    .down {
      position: absolute;
    }
    .up {
      top: 12px;
      left: 40px;
    }
    .down {
      left: 74px;
      top: 18px;
    }
    .favB,
    .unfavB,
    .repostB,
    .unrepostB {
      position: absolute;
      top: 42px;
    }
    .coreShareB {
      position: absolute;
      top: 40px;
      left: 80px;
    }
    .favB,
    .unfavB {
      left: 5px;
    }
    .repostB,
    .unrepostB {
      left: 40px;
    }
  }
  .content {
    @include clearfix();
    margin: 0 140px 5px $teaser-padding;
  }
  .titleC {
    .icon {
      top: 6px;
    }
    font-size: 15px;
    margin: 0 0 10px 0;
    overflow: hidden;
    white-space: nowrap;
  }
  .pc {
    position: absolute;
    display: none;
    font-size: 12px;
    right: 105px;
    top: 10px;
    padding: 0 3px;
  }
  img,
  .video-embed {
    margin:  0 $teaser-padding 0 0;
  }
  .createdC {
    position: absolute;
    top: 22px;
    left: 9px;
  }
  .bodyC {
    font-size: 14px;
    padding-top: 2px;
    float: left;
  }
  .connectionsC {
    @include clearfix();
    height: 18px;
    .comment_form {
      clear: left;
      padding: 5px 5px 10px 10px;
    }
  }
  .oType {
    margin: 3px 10px 0;
  }
  .commentC {
    margin: 3px 10px 0 0;
  }
  .mentions {
    padding: 2px 0 0 5px;
    .tag {
      float: left;
      margin: 0 10px 3px 0;
    }
  }
  .r {
    font-size: 15px;
    .icon {
      top: 3px;
    }
  }
}

.img.expand {
  position: relative;
  .icon {
    @include opacity(.5);
    @include border-radius(3px);
    display: none;
    position: absolute;
    top: 7px;
    left: 2px;
    background: #FFF;
    padding: 3px;
    &:hover {
      @include opacity(1);
      cursor: pointer;
    }
  }
  &:hover {
    .icon {
      display: block;
    }
  }
}

// Right Object Sidebar
.sbrC {
  .scoreBox {
    margin: 20px 0px 20px 35px;
  }
  .connectionsC {
    @include clearfix();
    text-align: center;
    padding: 20px 5px 20px;
    border-top: 1px solid #CAE09D;
    .tag {
      float: left;
      margin: 2px;
      font-size: 11px;
    }
  }
}
#core-feed {
  padding: 0 5px;
  margin: 10px 0;
  position: relative;
  &.grid {
    display: inline-block;
    margin-top: 12px;
  }
  .overlay {
    @include opacity(.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    z-index: 100;
    background: #FFF;
    > div {
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -70px;
      font-size: 20px;
      color: #000;
    }
  }
}
#load-more {
  text-align: center;
  padding: 10px 0;
  margin: 0 0 20px;
  font-size: 20px;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 2px solid #ddd;
  clear: both;
  position: relative;
  top: 10px;

  &:hover {
    background: #EFEFEF;
    border-top-color: #DDD;
  }
  &.on {
    background: #EFEFEF;
    border-top-color: #DDD;
    cursor: default;
  }
}

#feed-filters {
    height: 30px;
    padding: 3px 0 4px 10px;

    .feed-display,
    .feed-sort,
    .feed-layout {
        position: relative;
        float: left;

        h5 {
            padding: 9px 0 0 0;
            color: #888;
            cursor: default;
        }

        > h5,
        > div {
            float: left;
        }
        ul {
            @include border-radius(4px);
            margin: 2px 0 0 10px;
            float: left;
        }
        .opt {
            color: #AAA;
            font-weight: bold;
            text-decoration: none;
            display: block;
            padding: 5px 8px;
            font-size: 12px;
            cursor: pointer;
        }
        .opt.on {
            color: #444;
        }
    }

    .feed-display {
        li {
            margin: 0 3px;
            float: left;
        }
    }

    .feed-layout {
        float: right;
        margin-right: 8px;

        ul {
        }
        li {
            @include border-radius(2px);
            border: 1px solid #AAA;
            margin: 1px 3px;
            float: left;
        }
        .opt {
            padding: 4px 5px;
            height: 15px;
        }
    }

    .feed-sort {
        width: 200px;

        .arrow-small {
            position: absolute; top: 9px; right: 8px;
            z-index: 10;
            cursor: pointer;
        }

        .feed-sort-select {
            @include border-radius(2px);
            border: 1px solid #AAA;
            position: absolute; top: 0px; left: 50px;
            z-index: 5;
            cursor: pointer;
            margin: 2px 0 0 10px;
            background: #FFF;
            float: left;
            &.closed {
              background: transparent;
            }
            &:hover {
              background: #FFF;
            }
            .opt {
                width: 95px;
            }
            .opt:hover {
                color: #444;
            }
        }
    }

    .scrollTop {
        float: left;
        margin: 11px 0 0 10px;
        font-size: 8px;
        cursor: pointer;
        color: blue;
    }

    .feed-display {
        .opt, > div {
            @include border-radius(2px);
            border: 1px solid #AAA;
            color: #444;
        }
        .on.talk {
            border-color: adjust-lightness($talk-color, 15);
            background-color: adjust-lightness($talk-color, 38);
            color: adjust-lightness($talk-color, -7);
        }
        .on.link {
            border-color: adjust-lightness($link-color, 15);
            background-color: adjust-lightness($link-color, 38);
            color: adjust-lightness($link-color, -7);
        }
        .on.picture {
            border-color: adjust-lightness($picture-color, 15);
            background-color: adjust-lightness($picture-color, 38);
            color: adjust-lightness($picture-color, -7);
        }
        .on.video {
            border-color: adjust-lightness($video-color, 15);
            background-color: adjust-lightness($video-color, 38);
            color: adjust-lightness($video-color, -7);
        }
    }
}

.contributeC {
  @include border-radius(0 0 3px 3px);
  @include single-box-shadow(#AAA, 1px, 1px, 3px);

  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 200;
  background: #FEFEFE;
  border: 2px solid #94C530;
  border-top: none;
  padding: 0;
  display: none;

  .icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .options {
    float: left;
    width: 130px;
    padding: 50px 0 0 15px;
    .option {
      font-size: 20px;
      padding: 10px 0;
      color: #888;
      position: relative;
      &:hover {
        cursor: pointer;
        .arrow-r-2424 {
          display: block;
        }
      }
      &.on {
        .arrow-g-r-2424 {
          display: block;
        }
      }
      &.on:hover {
        cursor: default;
        .arrow-r-2424 {
          display: none;
        }
      }
      &.talk.on {
        color: $talk-color;
      }
      &.picture.on {
        color: $picture-color;
      }
      &.video.on {
        color: $video-color;
      }
      &.link.on {
        color: $link-color;
      }
    }
  }
  .responding {
    font-style: italic;
    color: #333;
    font-size: 19px;
    margin: 14px 0 0 10px;
    width: 500px;
  }
  .forms {
    float: left;

    form {
      margin: 8px 0 0 0;
      .group {
        @include border-radius(2px 0 0 0);
        border-bottom: none;
        border-color: #CCC;
        margin-right: -1px;
      }
    }
  }
}

.edit-panel {
    position: relative;

    h4 {
    }

    .cancel {
        @include border-radius(3px);
        background-color: #E0230B;
        @include background-image(linear-gradient(#FD4E21, #E0230B));
        position: absolute; top: 7px; right: 7px;
        padding: 3px 12px;
        font-size: 13px;
        font-weight: bold;
        color: #FFF;
        cursor: pointer;
    }

    .section {
        @include clearfix();
        border-bottom:  2px solid #F3F3F3;
        padding:  5px 0;
    }

    input {
        float: left;
        margin-bottom: 3px;
    }

    .submit {
        @include green-button(2px, 13px);
        padding:  3px 12px;
        display: block;
        float: left;
    }

    .update {
        margin:  5px 0 0 0;
    }

    .add { margin: 2px 0 0 5px;}
}

.object-show {
  position: relative;
  padding: 0 10px 40px 150px;
  min-height: 150px;
  .left {
    @include border-radius(2px);
    position: absolute;
    top: 0;
    left: 8px;
    background: #fff;
    width: 130px;
    border: 1px solid #CCC;
    img {
      margin: 5px 0 0 10px;
    }
  }
  h1 {
    font-size: 20px;
  }
  .createdC {
    font-size: 12px;
    color: #999;
    margin: 2px 0 0 0;
  }
  .sources {
    margin: 5px 0 0 0;
    a {
      @include border-radius(2px);
      font-size: 12px;
      padding: 2px 6px;
      border: 1px solid #CCC;
      background: #FFF;
      margin: 0 10px 0 0;
      &:hover {
        background: #999;
        color: #FFF;
      }
    }
  }
  .content {
    font-size: 13px;
    margin: 10px 0 0 0;
  }
  .mentions {
    margin: 10px 0 10px 0;
    padding: 0 0 0 60px;
    position: relative;
    .head {
      font-size: 12px;
      cursor: default;
      position: absolute;
      top: 0px;
      left: 0px;
      color: #666;
    }
    .tag {
      float: left;
      font-size: 12px;
      margin-right: 8px;
    }
  }
  .controlsC {
    position: relative;
    height: 65px;

    .pop {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 24px;
      color: #555;
      cursor: default;
    }
    .scoreC {
      .up {
        position: absolute;
        top: 11px;
        left: 60px;
      }
      .down {
        position: absolute;
        top: 17px;
        left: 90px;
      }
    }
    .favB,
    .unfavB {
      position: absolute;
      top: 40px;
      left: 30px;
    }
    .repostB,
    .unrepostB {
      position: absolute;
      top: 40px;
      left: 60px;
    }
    .coreShareB {
      position: absolute;
      top: 38px;
      left: 95px;
    }
  }
  .video-embed {
    float: none !important;
    margin: 10px 0 0 0;
  }

  &.talk {
    min-height: 30px;
    margin: 0 0 0 12px;
  }
}

#response-divider {
  position: relative;
  h3 {
    color: #444;
    position: absolute;
    left: 0;
    top: -29px;
    padding: 0 18px 0 10px;
    cursor: default;
  }
}
#add_response {
  position: absolute;
  color: #444;
  left: 50;
  font-size: 15px;
  top: -28px;
  left: 125px;
  padding: 0 20px 0 0px;
  cursor: pointer;
  color: $picture-color;
  z-index: 101;
}
#response-contribute {
  position: absolute;
  top: -45px;
  left: 114px;
  z-index: 100;
  border-top: 2px solid #94C530;
}
#responses {
  .comment-thread {
    padding-bottom: 15px;
    padding-top: 0;
    margin-top: -6px;
  }
}