$feedFontColor: $grayDark;

.feed-header {
  margin: 0 0 10px 5px;
  h2 {
    display: inline-block;
    margin-right: 20px;
    cursor: default;
  }
  .stat {
    position: relative;
    display: inline-block;
    bottom: 3px;
    font-size: 13px;
    margin-right: 10px;
  }
}

#feed-ribbon {
  margin: 20px 26px 0px 20px;
  display: none;

  .inner {
    overflow: hidden;
    height: 103px;

    li {
      border: 1px solid transparent;
      float: left;
      position: relative;

      img {
        width: 100px;
        height: 100px;
        display: block;
      }
      .text {
        @include background-image(linear-gradient(transparent, rgba(68, 68, 68, 0.8)));
        color: #FFF;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 86px;
        padding: 6px 7px 4px 7px;
        font-size: 12px;
        > div {
          line-height: 13px;
        }
        .subtitle {
          font-size: 11px;
        }
      }
      &:hover {
        @include opacity(85);
        cursor: pointer;
      }
      &.on {
        border: 1px solid #a1271d;
        &:hover {
          @include opacity(100);
          cursor: default;
        }
      }
      &.all {
        width: 100px;
        height: 58px;
        padding-top: 42px;
        text-align: center;
      }
    }
  }
  .show-more {
    font-style: italic;
    cursor: pointer;
    color: $greenDarker;
    display: inline-block;
    margin: 5px 0 0 0;
    &:hover {
      text-decoration: underline;
    }
  }
  .topic-ribbon.open {
    .inner {
      height: auto;
    }
  }
}

.tile {
  margin-bottom: $feedColumnMargin + 10;
  position: relative;
  width: 300px;
  float: left;

  &.column-fixed {
    margin-top: 23px;
    #post-form {
      padding: 0px;
    }
  }
  &.new {
    .meat {
      border: 1px dotted red;
    }
  }
  .reasons {
    position: absolute;
    top: 1px;
    left: 1px;

    .earmark {
      @include border-radius(2px);
      display: none;
      position: absolute;
      left: 276px;
      top: -4px;
      background: #BDB5B1;
      background: rgba(189, 181, 177, 0.95);
      border: 1px solid #EEE;
      color: #FFF;
      z-index: 111;
      padding: 3px 8px;
    }
    ul {
      display: none;
      background: #BDB5B1;
      background: rgba(189, 181, 177, 0.95);
      padding: 0 10px !important;
      color: #FFF;
      position: absolute;
      z-index: 110;
      list-style: none;
      width: 276px;
      border-bottom: 1px solid #DDD;

      li {
        cursor: default;
        padding: 7px 0;
        border-top: 1px solid #DDD;

        &.first {
          border-top: none;
        }
        a {
          font-weight: bold;
          color: #FFF;
        }
      }
    }
  }
  .mentions {
    @include opacity(40);
    @include border-radius(2px 2px 0 0);

    position: relative;
    margin: 0 3px;
    padding: 5px 12px 5px 35px;
    background: #E7E7E7;

    .ll-arrow-r-dark {
      position: absolute;
      top: 10px;
      left: 13px;
    }
    > span {
      position: relative;
      padding: 0 3px;
      display: inline-block;
    }
    .tlink {
      white-space: nowrap;
      display: inline-block;
      padding: 0 15px 0 0;
      font-size: 12px;
      color: #000;
      &:hover {
        color: $blue !important;
        text-decoration: underline;
      }
    }
    .delete {
      cursor: pointer;
      display: none;
      position: absolute;
      top: 5px;
      right: 0;
    }
    .add {
      cursor: pointer;
      position: absolute;
      top: 11px;
      right: 5px;
      display: none;
    }
    .mention-add-form {
      display: none;
      padding: 10px 0;

      input {
        @include border-radius(1px);
        margin: 0px;
      }
      .btn {
        font-size: 12px;
        padding: 2px 7px;
      }
    }
    &:hover {
      .delete,
      .add {
        display: inline-block;
      }
    }
  }
  .ulink {
    font-weight: bold;
    color: #999;
  }
  #post-form {
    background: #FFF;
    border-bottom: 1px solid #CCC;
  }

  .reposts {
    padding: 0 1px 0 1px;
    cursor: pointer;

    ul {
      padding: 1px 0 0 0;
      list-style: none;
    }
    .repost {

      .meat {
        @include single-box-shadow(rgba(34, 25, 25, 0.5), 0px, 1px, 2px);
        @include border-radius(0 0 1px 1px);
        padding: 0 0 10px 0;
        background: #FFF;
      }
      .media {

        position: relative;
        margin: 0;

        h5 {
          font-size: 13px;
          padding: 10px 15px;
          border-bottom: 1px solid #DDD;
          margin-bottom: 10px;
          &:hover {
            color: $blue;
          }
        }
        .img {
          position: relative;
          cursor: pointer;
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 700px;
          min-height: 50px;
          padding: 0px;

          img {
            max-width: 300px;
            display: block;
            margin: auto;
          }
          .ll-video-play {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -19px 0 0 -19px;
          }
          .bg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0.1);
            display: none;
          }
          &:hover {
            .bg {
              display: block;
            }
          }
        }
        &.with-image {
          margin: 0 0 10px 0;

          h5 {
            @include single-text-shadow(#666, 0, 1px);
            @include background-image(linear-gradient(transparent, rgba(0, 0, 0, 0.1) 15%,rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.8)));
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 5;
            padding: 25px 15px 10px 15px;
            width: 268px;
            color: #FFF;
            border-bottom: none;
            margin-bottom: 0px;
          }
        }
      }
    }

    .top {
      position: relative;
      margin: 0 15px;
      padding: 0;

      .source {
        font-size: 11px;
        color: #999;

        a {
          color: #999;
          &:hover {
            color: $blue;
          }
        }
      }

      .when {
        position: absolute;
        top: 1px;
        right: 0;
        color: #999;
        font-size: 11px;
      }
      p {
        margin: 4px 0 0 0;
      }
    }
  }

  .actions {
    padding: 6px 15px 0 15px;
    font-size: 12px;
    color: #999;

    > span {
      color: #999;
      font-weight: normal;
      margin: 0 8px 0 0;
      font-size: 12px;
      display: inline-block;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .bottom {
    display: none;
    padding: 2px 15px 1px 15px;
    margin: 12px 0 5px 0;

    .comment-form {
      border: 1px solid #CEDCDF;
      padding: 5px 7px;
      background: #FFF;
      margin: 0;

      textarea {
        @include border-radius(0);
        @include single-box-shadow(none);
        width: 100%;
        background: transparent;
        border: none;
        text-shadow: none;
        resize: none;
        padding: 0px;
      }
    }
    .comment-list {
      margin: 10px 0 -5px 0;
    }
  }

  &:hover {
    .reasons {
      .earmark {
        display: block;
      }
    }
    .mentions {
      @include opacity(90);
    }
    .tlink {
      color: $blue;
    }
    .actions {
      span {
        color: $greenDarker;
      }
    }
  }
}