$feedFontColor: $grayDark;

.tile {
  @include border-radius(2px);
  padding: 5px;
  margin-bottom: 10px;

  &.link { background-color: $link10RGBA; }
  &.picture { background-color: $picture10RGBA; }
  &.video { background-color: $video10RGBA; }
  &.talk { background-color: $talk10RGBA; }
  &.topic { background-color: $topic10RGBA; }

  &:hover {
    .actions {
      .talk-form,
      .follow,
      .comment-form,
      .like {
        color: $greenDarker;
      }
    }
    &.link { background-color: $link50RGBA; }
    &.picture { background-color: $picture50RGBA; }
    &.video { background-color: $video50RGBA; }
    &.talk { background-color: $talk50RGBA; }
    &.topic { background-color: $topic50RGBA; }

    .root,
    .responses {
      @include single-box-shadow(#666, 1px, 1px, 3px);
    }
  }

  .mentions {
    color: $grayLight;
    .tlink {
      color: $grayLight;
    }
  }
  .ulink {
    font-weight: bold;
    color: $feedFontColor;
  }

  .root {
    background-color: #FFF;
    padding: 10px 15px 10px;
    position: relative;

    h4 {
      margin-bottom: 8px;
      .title {
        cursor: pointer;
      }
      .title-with-source {
        margin-right: 5px;
      }
      .source {
        position: relative;
        bottom: 1px;
        font-size: 11px;
        color: $grayLight;
        font-weight: normal;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .img {
      margin-bottom: 6px;
      position: relative;
      cursor: pointer;

      .ll-video-play {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -19px 0 0 -19px;
      }
      .bg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 0.3);
        display: none;
      }
      &:hover {
        .bg {
          display: block;
        }
      }
    }
    .score-pts {
      font-size: 11px;
      span {
        font-size: 13px;
      }
    }
    &.link,
    &.video,
    &.picture {
      .mentions {
        margin-bottom: 8px;
      }
    }
    &.topic {
      .top {
        margin-bottom: 10px;
        display: table;
      }
      img {
        width: 50px;
        height: 50px;
        background-color: #444;
        display: table-cell;
      }
      h4 {
        display: table-cell;
        margin: 0px;
        padding: 0 0 0 10px;
        vertical-align: middle;
      }
    }
  }

  .actions {
    > span {
      vertical-align: middle;
    }
    .score-pts {
      margin-right: 15px;
    }

    .talk-form,
    .follow,
    .comment-form,
    .like {
      padding: 0;
      margin: 0 15px 0 0;
      font-size: 13px;
      color: $grayLight;
      font-weight: bold;
      cursor: pointer;
      border: none;
      background: none;
      text-shadow: none;
    }
  }

  // Talks (root and responses)
  .root-talk,
  .response-talk {
    position: relative;
    min-height: 30px;
    font-size: 12px;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 30px;
      width: 30px;
      background-color: #444;
      z-index: 100;
    }
    p {
      position: relative;
      top: -1px;
      line-height: 16px;
      .actions {
        display: block;
        .score-pts,
        .comment-form,
        .like {
          font-size: 11px;
          margin-right: 5px;
          font-weight: normal;
        }
      }
    }
    .score-pts {
      font-size: 10px;
      span {
        font-size: 11px;
      }
    }
  }
  .root-talk {
    padding: 0 0 5px 40px;
  }
  .root.talk {
    padding: 10px 15px 0;
    img {
      z-index: 110;
    }
  }
  .responses {
    background-color: #FBFBFB;
    padding: 10px 15px 0;
    margin-top: 2px;

    .talking {
      font-weight: bold;
      font-size: 11px;
      margin: -3px 0 7px 0;
      cursor: default;
    }
    .response-talk {
      padding: 0 0 11px 40px;
      p {
        .response-float {
          background: #FBFBFB;
          position: absolute;
          top: 100%;
          left: -55px;
          padding: 4px 0 2px 55px;
          z-index: 105;
          border-bottom: 1px solid #777777;
          width: 165px;
          .actions {
            padding: 3px 0;
          }
        }
      }
      .response-float {
        display: none;
      }
      &:hover {
        .response-float {
          display: block;
          >span {
            display: block;
          }
        }
        img {
          z-index: 110;
        }
      }
    }
  }
}