$feedFontColor: $grayDark;

.feed-header {
  margin: 0 0 10px 5px;
  h2 {
    display: inline-block;
    margin-right: 20px;
    cursor: default;
  }
  .stat {
    position: relative;
    display: inline-block;
    bottom: 3px;
    font-size: 13px;
    margin-right: 10px;
  }
}

#feed-ribbon {
  @include border-radius(1px);
  @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
  overflow-y: hidden;
  overflow-x: auto;
  padding: 10px 15px;
  margin: 30px 19px 5px 5px;
  background: #F9F9F9;
  display: none;

  .topic-ribbon {
    @include clearfix();
    list-style: none;
    white-space: nowrap;

    li {
      margin: 0 25px 0 0;
      display: inline-block;

      &.on {
        font-weight: bold;
        a {
          color: #444;
          cursor: default;
        }
      }
    }
  }
}

.tile,
.response-talk {
  .mentions {
    position: relative;
    padding: 0 1px 0 15px;
    min-height: 22px;

    .tlink {
      white-space: nowrap;
      display: inline-block;
      padding: 0 15px 4px 0;
      font-size: 12px;
      color: #FBFBFB;
      font-weight: bold;
    }
    .delete {
      cursor: pointer;
      display: inline-block;
      position: relative;
      top: 1px;
      margin: 0 15px 0 -15px;
      display: none;
    }
    .add {
      cursor: pointer;
      position: absolute;
      top: 4px;
      right: 4px;
      display: none;
    }
    .mention-add-form {
      display: none;
      padding: 5px;
      background: #FFF;

      input {
        @include border-radius(1px);
        margin: 0px;
      }
      .btn {
        font-size: 12px;
        padding: 2px 7px;
      }
    }
    &:hover {
      .delete,
      .add {
        display: inline-block;
      }
    }
  }
}

.tile {
  margin-bottom: $feedColumnMargin + 10;
  position: relative;
  width: 310px;
  float: left;

  &.column-fixed {
    margin-top: 23px;
    #post-form {
      padding: 0px;
    }
  }
  &.new {
    border: 1px dotted red;
  }
  .reasons {
    position: absolute;
    top: 1px;
    left: 1px;

    .ll-tan-earmark {
      position: absolute;
      top: 0px;
      left: 302px;
    }
    ul {
      display: none;
      background: #BDB5B1;
      background: rgba(189, 181, 177, 0.95);
      padding: 0 10px;
      color: #FFF;
      position: absolute;
      z-index: 110;
      list-style: none;
      width: 298px;
      border-bottom: 1px solid #DDD;

      li {
        cursor: default;
        padding: 7px 0;
        border-top: 1px solid #DDD;

        &.first {
          border-top: none;
        }
        a {
          font-weight: bold;
          color: #FFF;
        }
      }
    }
  }
  .ulink {
    font-weight: bold;
    color: $feedFontColor;
  }
  > .mentions {
    .tlink {
      @include single-text-shadow(#888, 0, 1px, 2px);
      &:hover {
        @include single-text-shadow(none);
      }
    }
  }
  #post-form {
    background: #FFF;
    border-bottom: 1px solid #CCC;
  }
  .post {
    padding: 0;
    min-height: 59px;
    position: relative;
    cursor: pointer;
    background: #FFF;

    .when {
      color: $grayLight;
      font-size: 11px;
      a {
        color: $grayDark;
      }
    }

    .top {
      padding: 11px 15px 10px 77px;
      min-height: 40px;

      > img {
        @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
        position: absolute;
        width: 50px;
        height: 50px;
        top: 15px;
        left: 15px;
      }
      .ulink {
        font-size: 13px;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        font-size: 13px;
        margin: 3px 0;
        line-height: 16px;
      }
      .when {
        position: absolute;
        top: 12px;
        right: 15px;
      }
      .tlink {
        font-weight: normal;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .reposts {
    background: #FFF;
    padding: 0 1px 0 1px;
    cursor: pointer;

    ul {
      padding: 1px 0 0 0;
      list-style: none;
    }
    .repost {
      padding: 10px 0;

      .top {
        position: relative;
        margin: 0 13px;
        padding: 0 2px 8px 2px;
        border-bottom: 1px solid #EEE;

        .source {
          font-size: 11px;
          color: #999;

          a {
            color: #999;
            &:hover {
              color: $blue;
            }
          }
        }

        .when {
          position: absolute;
          top: 0;
          right: 0;
          color: #999;
          font-size: 11px;
        }
      }
      .media {
        h5 {
          font-size: 13px;
          padding: 9px 15px 0 15px;
          &:hover {
            color: $blue;
          }
        }
        .img {
          position: relative;
          cursor: pointer;
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 300px;
          min-height: 50px;
          padding: 5px 15px;
          margin-top: 5px;

          img {
            @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
            max-width: 279px;
          }
          .ll-video-play {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -19px 0 0 -19px;
          }
          .bg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255, 0.1);
            display: none;
          }
          &:hover {
            .bg {
              display: block;
            }
          }
        }
      }
      .actions {
        color: #999;
        padding: 12px 15px 0 15px;
        > span {
          margin: 0 8px 0 0;
          font-size: 12px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

      }
      .bottom {
        .comment-form {
          margin: 12px 0 5px 0;
        }
        .comment-list {
          margin: 10px 0 0 0;
        }
      }
    }
  }

  .actions {
    padding: 0;
    font-size: 12px;
    color: #999;

    .expand,
    .add-comment,
    .like,
    .score-pts {
      font-weight: normal;
      margin: 0 7px 0 0;
      font-size: 12px;
      display: inline-block;
    }
  }

  .bottom {
    display: none;
    padding: 2px 15px 1px 15px;

    .comment-form {
      border: 1px solid #CEDCDF;
      padding: 5px 7px;
      background: #FFF;
      margin: 0 0 15px 0;

      textarea {
        @include border-radius(0);
        @include single-box-shadow(none);
        width: 100%;
        background: transparent;
        border: none;
        text-shadow: none;
        resize: none;
        padding: 0px;
      }
    }
    .comment-list {
      margin: -10px 0 0 0;
    }
  }

  &:hover {
    .post,
    .reposts {
      background: #F9F9F9;
    }

    .actions {
      span {
        color: $greenDarker;
      }
    }
  }
}