#influence-increases {
  @include border-radius(2px);
  height: 50px;
  margin: 0 5px 10px 0;
  overflow: hidden;
  background: rgba(255,255,255,0.4);

  .none {
    margin: 16px 0 0 15px;
  }
  li {
    display: inline-block !important;
    position: relative;

    img {
      display: block;
      width: 50px;
      height: 50px;
      background-color: $gray;
      margin: 0 2px 0 0;
    }
    .amount {
      @include border-radius(1px);
      position: absolute;
      bottom: 3px;
      right: 5px;
      font-size: 10px;
      padding: 0 3px;
      background: rgba(255,255,255,.7);
      line-height: 15px;
      cursor: default;
    }
    &:hover {
      .amount {
        background: #fff;
      }
    }
  }
}