/*
    Document   : _library
    Created on : Apr 14, 2011, 2:59:21 PM
    Author     : Marc
    Description:
        Library overrides.
*/

/*
 * qTip
 */

.jgrowl {
  @include single-box-shadow(#333, 1px, 1px, 5px);
  .ui-tooltip-title { font-size: 18px; }
  .ui-tooltip-content { font-size: 17px; padding: 7px; line-height: 1.28; }
}

.fab { // feed action box
  border: 1px solid #666;
  .ui-tooltip-tip {
    border: 1px solid #666;
  }
}

.ui-tooltip,
.qtip
{
  font-size: 13px;
  line-height: 1.28;
  z-index: 40 !important;
}

/*
 * colorbox
 */

#cboxLoadedContent {
  padding: 0;
  border: 1px solid #000;
  background: #FFF;
}