/*
    Document   : _talk
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.link {
  &.teaser {
    &.hover {
      border-color: $link-color;
    }
  }
}