/*
    Document   : _talk
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.link {
  &.teaser {
    border-color: adjust-lightness($link-color, 35);
    &.hover {
      border-color: $link-color;
    }
  }
  &.teaser.grid {
    .time {
      display: block;
      float: none;
    }
    img {
      margin: 3px 10px 0 5px;
    }  
    p {
      margin: 0 5px 5px 5px;
    }
  }
  &.teaser.column {
    .img {
      float: left;
      padding: 5px 10px 0 0;
    }
  }
  &.teaser.list {
    img {
      margin-top: 2px;
    }
  }
}