html {
  height: 100%;
  width: 100%;
}

body {
  $sidebarWidth: 250px;
  $baseWidth: 750px;
  $columnWidth: 255px;

  background: #B8CFD6;
  color: $grayDark;
  position: relative;
  left: 0px;

  &#blank {
    background: #E9E9E9;
    padding: 0px;
    height: 100%;
    width: 100%;
  }
  &.two {
    .wrapper {
      width: $baseWidth;
      .content {
        width: $baseWidth - $sidebarWidth;
      }
    }
    header {
      .container {
        width: $baseWidth;
      }
    }
    #page-header {
      .container {
        width: $baseWidth;
      }
    }
  }
  &.three {
    $baseWidthThree: $baseWidth + $columnWidth;
    .wrapper {
      width: $baseWidthThree;
      .content {
        width: $baseWidthThree - $sidebarWidth;
      }
    }
    header {
      .container {
        width: $baseWidthThree;
      }
    }
    #page-header {
      .container {
        width: $baseWidthThree;
      }
    }
  }
  &.four {
    $baseWidthFour: $baseWidth + $columnWidth * 2;
    .wrapper {
      width: $baseWidthFour;
      .content {
        width: $baseWidthFour - $sidebarWidth;
      }
    }
    header {
      .container {
        width: $baseWidthFour;
      }
    }
    #page-header {
      .container {
        width: $baseWidthFour;
      }
    }
  }
  &.five {
    $baseWidthFive: $baseWidth + $columnWidth * 3;
    .wrapper {
      width: $baseWidthFive;
      .content {
        width: $baseWidthFive - $sidebarWidth;
      }
    }
    header {
      .container {
        width: $baseWidthFive;
      }
    }
    #page-header {
      .container {
        width: $baseWidthFive;
      }
    }
  }
  &.no-sidebar {
    .content {
      float: none;
    }
  }
}

a {
  text-decoration: none;
  outline: 0 !important;

  &:active {
    color: $linkColor;
  }
  &:hover {
    text-decoration: none;
  }
}

ul,ol,p {
  margin: 0px;
}

h1 {
  font-size: 26px;
  line-height: 30px;
}
h2 {
  font-size: 22px;
  line-height: 26px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 18px;
}
h6 {
  font-size: 12px;
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: $grayDark;
  a {
    color: $grayDark;
    cursor: pointer;
    &:hover {
      color: $grayDark;
    }
    &:hover.tlink {
      color: $greenDarker;
    }
  }
}

form {
  .alert-error {
    margin: 0 0 15px 0;
  }
}

.ulink {
  cursor: pointer;
  &:hover {
    color: $blue !important;
    h1, h2, h3, h4, h5, h6 {
      color: $blue !important;
    }
  }
}

.tlink {
  cursor: pointer;
  &:hover {
    color: $greenDarker !important;
    h1, h2, h3, h4, h5, h6 {
      color: $greenDarker !important;
    }
  }
}

.c {
  clear: both;
}

.none {
  font-size: 13px;
  font-style: italic;
  color: #666;
  cursor: default;
}

.disabled {
  @include opacity(60);
  cursor: default !important;
}

.wrapper {
  @include clearfix();
  margin: 0 auto;
  padding: 0 0 30px 0;

  .content {
    float: left;
    margin: auto;
  }
}

header {
  .container {
    margin: auto;
    position: relative;
    height: 43px;

    .brand {
      @include single-text-shadow(#444, 0, 1px);
      padding: 0 0 0 65px;
      font-size: 25px;
      position: relative;
      margin-left: 20px;
      line-height: 43px;
      font-weight: 300;
      color: #FFF;

      img {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
    .search {
      position: absolute;
      top: 5px;
      left: 350px;
      .add-on {
        @include border-radius(1px 0 0 1px);
        margin: 0 -5px 0 0;
        padding: 9px 8px 5px 8px;
      }
      input {
        @include border-radius(0 1px 1px 0);
        padding: 7px 10px;
        font-size: 14px;
      }
    }
    .talk,
    .login {
      @include border-radius(2px);
      position: absolute;
      top: 5px;
      font-size: 18px;
    }
    .talk {
      left: 250px;
      padding: 7px 14px 7px 12px;
    }
    .login {
      padding: 7px 12px;
      right: 0px;
    }
  }
}

#header-user-nav {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 16px;

  .profile-img {
    @include border-radius(1px);
    background: $grayLightest;
    padding: 2px;
    float: right;
    margin: 5px 5px 0 0;

    img {
      @include border-radius(1px);
      width: 30px;
      height: 30px;
      display: block;
    }
  }
  .numbers {
    @include border-radius(1px);
    float: right;
    background: $grayLightest;
    height: 34px;
    margin: 5px 5px 0 0;
    padding: 0 10px;
    line-height: 34px;
    cursor: default;

    .notifications {
      margin: 0 9px 0 0;
      padding: 0 4px 0 0;
      font-weight: bold;
      border-right: 1px solid #E3E3E3;
      cursor: pointer;
    }
    .score-pts {
      font-size: 12px;
      span {
        font-size: 16px;
      }
    }
  }
  .username {
    float: right;
    color: $grayLightest;
    cursor: pointer;
    height: 32px;
    padding: 12px 10px 0 12px;
    
    i {
      margin: 3px 0 0 4px;
    }
  }
}

#page-header {
  @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
  @include single-text-shadow(#DDD, 0, 1px);
  border-top: 1px solid #FFF;
  background: $grayLightest;
  display: none;
  height: 40px;
  width: 100%;
  margin: 65px 0 0 0;
  position: relative;
  z-index: 100;

  &.on {
    display: block;
  }
  .container {
    margin: auto;
    position: relative;
  }
  .inner {
    padding: 0 0 0 250px;
  }
  .top {
    position: absolute;
    top: -55px;
    height: 50px;
  }
  h1 {
    cursor: default;
    float: left;
    line-height: 50px;
    margin: 0 15px 0 0;
  }
  .score-pts {
    float: left;
    display: block;
    line-height: 50px;
    font-size: 13px;
    span {
      font-size: 18px;
    }
  }
  .follow {
    margin: 11px 0 0 20px;
  }
  .links {
    float: left;
    height: 40px;

    li {
      float: left;
      position: relative;
    }
    a {
      display: block;
      line-height: 40px;
      height: 40px;
      position: relative;
      font-size: 13px;
      font-weight: 300px;
      padding: 0 15px;
      color: #444;
      overflow: hidden;

      span {
        font-weight: bold;
      }
      &:hover {
        background: #C7E0A9;
      }
      &.on {
        @include background-image(linear-gradient(#C7E0A9, #E9F4DD));
        cursor: default;
        border-right: 1px solid #CDC5C5;
        border-left: 1px solid #CDC5C5;

        &:before {
          @include single-box-shadow(rgba(34, 25, 25, 0.1), 0, 0, 10px, $default-box-shadow-spread, inset);
          /*box-shadow: 0 0 10px  inset;*/
          position: absolute;
          top: -10px;
          bottom: -10px;
          left: 0;
          right: 0;
          content: "";
        }
      }
    }
  }
  .sorting {
    float: right;
    height: 40px;
    display: none;

    li {
      position: relative;
      display: inline-block;
      line-height: 40px;
      height: 40px;
      position: relative;
      font-size: 13px;
      font-weight: 300px;
      color: #444;
      overflow: hidden;
      cursor: pointer;

      span {
        margin: 0 7px;
      }
      &.on {
        font-weight: bold;
        cursor: default;
      }
      &.last {
        margin: 0 30px 0 0;
      }
    }
  }
  .ll-cloud-green {
    display: inline-block;
    position: relative;
    top: 11px;
    left: 20px;
  }
}

.sidebar {
  float: left;
  width: 220px;
  margin: -105px 0 0 10px;
  background-color: rgba(255,255,255,0.4);

  section {
    @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
    @include clearfix();

    background: #FFF;
    margin: 10px;
    .top {
      background: $grayLightest;
      border-bottom: 1px solid #EEE;
      padding: 8px 15px;
      h5 {
        @include single-text-shadow(#DDD, 0, 1px);
        font-weight: normal;
        cursor: default;
      }
      h5.sub {
        font-weight: normal;
        font-size: 13px;
      }
    }
    > .meat {
      @include clearfix();
      padding: 10px 15px;
      background: #FFF;
      h5 {
        margin: 15px 0 0 0;
      }
    }
  }
  .profile-image {
    @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
    width: 200px;
    margin: 10px 0 0 10px;
    position: relative;
    z-index: 110;
    background: #FFF;
  }
  .user-panel {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #EEEEEE;

    h4 {
      margin: 0 0 3px 0;
      cursor: default;
    }
    .score-pts {
      font-size: 13px;
      vertical-align: middle;
      span {
        font-size: 16px;
      }
    }
    .follow {
      font-size: 13px;
      padding: 2px 9px;
      margin: 0 0 0 10px;
    }
  }
  .topic-panel {
    padding: 10px 10px 0 10px;
    position: relative;

    h4 {
      margin: 0 0 7px 0;
      cursor: default;
    }
    .actions {
      margin: 0 0 10px 0;
    }
    .score-pts {
      font-size: 13px;
      vertical-align: middle;
      span {
        font-size: 16px;
      }
    }
    .follow {
      font-size: 13px;
      padding: 2px 9px;
      margin: 0 7px 0 0;
    }
    .img {
      @include border-radius(2px);
      padding: 5px;
      background: #FFF;
      margin: 0 0 10px 0;
      border: 1px solid $grayLighter;
      img {
        background: #999;
        width: 165px;
      }
    }    
  }
  .menu {
    margin: 0px;
    a {
      display: block;
      padding: 7px 10px;
      border-top: 1px solid #EEEEEE;
      font-size: 16px;
      position: relative;

      i {
        display: none;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -7px;
      }
      &.first {
        border-top: none;
      }
      &:hover,
      &.on {
        i {
          display: block;
        }
      }
      &.on {
        color: $linkColorHover;
        background: #FFF;
        cursor: default;
      }
    }
  }
  .sidebar-talk-form {
    input {
      @include border-radius(1px);
      width: 152px;
      margin: 5px 0;
      padding: 6px 8px;
    }
  }
  .sidebar-footer {
    a {
      margin-right: 10px;
    }
    .social {
      clear: both;
      height: 0px;
      position: relative;

      .fb-like,
      .twitter-share-button,
      .google {
        position: absolute;
      }
      .fb-like {
        left: 48px;
        top: 41px;
      }
      .twitter-share-button {
        left: 48px;
        top: 76px;
      }
      .google {
        left: 48px;
        top: 110px;
      }
    }
  }
}

#feed {
  @include clearfix();
  margin: 20px 0 0 5px;

  > h2 {
    margin: 0 0 15px 0;
    cursor: default;
  }
  .column {
    width: 240px;
    margin: 0 15px 0 0;
    float: left;
    overflow: hidden;

    &.last {
      margin-right: -10px;
    }
  }
}

.score-pts {
  cursor: default;

  span {
    font-weight: bold;
  }
}

#post-form {
  .main-content {
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    $transition: border linear .2s, box-shadow linear .2s;
    @include transition($transition);
    @include border-radius(3px);
    border: 1px solid #CCCCCC;
    width: 400px;
    margin: 0 0 30px 0;
    position: relative;

    .icons {
      position: absolute;
      bottom: -19px;
      left: 9px;

      .icon {
        float: left;
        margin: 0 10px 0 0;
        cursor: pointer;
        height: 12px;

        &:on {
          cursor: default;
        }
      }
      .cancel-preview {
        display: none;
      }
    }
    textarea,
    input {
      @include box-shadow(none);
      border: none;
      resize: none;
      margin: 0px;
      padding: 8px;
    }
    #post-form-content {
      height: 84px;
      width: 384px;
    }
    .preview {
      position: relative;
      overflow: none;
      display: none;
    }
    #post-form-fetch-url {
      width: 295px;
      border-top: 1px dashed #CCC;
      padding-right: 90px;
    }
    #fetch-url-btn {
      @include border-radius(0px);
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 8px 10px;
      border-right: 0px;
    }
    .preview-data {
      position: relative;
      padding: 0 0 20px 0;
      border-top: 1px dashed #CCC;

      .media {
        width: 115px;
        height: 100px;
        position: absolute;
        right: 10px;
        top: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: right;

        img {
          max-width: 100px;
        }
      }
      #post-form-title {
        width: 270px;
        height: 84px;
      }        
      .title {
        min-height: 85px;
        padding: 8px;
        width: 250px;

        p {
          font-size: 16px;
          margin: 0;
        }
        div {
          font-size: 12px;
          color: #999;
        }
      }
      .switcher {
        background: rgba(255,255,255,.9);
        position: absolute;
        top: 85px;
        right: 7px;
        width: 100px;

        .left {
          margin: 0 0 0 1px;
          cursor: pointer;
        }
        .right {
          margin: 0px;
          cursor: pointer;
        }
        .help {
          color: #444;
          font-size: 10px;
          position: relative;
          top: -2px;
          cursor: default;
        }
      }
    }
  }
  .mentions {
    > div {
      position: relative;
    }
    img {
      position: absolute;
      top: 1px;
      left: 1px;
    }
    .topic-mention {
      @include box-shadow(none);
      margin: 0px;
      padding: 6px 5px 6px 10px;
      width: 195px;
      &:focus {
        border-color: #CCC;
      }
    }
    #post-form-mention1 {
      @include border-radius(3px 3px 0 0);
      border-bottom: none;
    }
    #post-form-mention2 {
      @include border-radius(0 0 3px 3px);
    }
  }
  .btn-success {
    padding: 5px 10px;
  }
}

.ll-modal {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
  overflow: auto;
  padding: 30px 0 50px 0;
  text-align: center;
}

.content-tile {
  background-color: rgba(255,255,255,0.4);
  padding: 3px 0 10px 0;
  text-align: left;
  display: inline-block;

  &.modal {
    width: auto;
    max-height: none;
    margin: 20px auto 0 auto;
    top: auto;
    left: auto;
    position: static;
  }
  .half-sections {
    @include clearfix();
  }
  section {
    @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
    background: #FFF;
    margin: 7px 10px 0 10px;
    width: 680px;
    clear: both;

    .top {
      background: #F9F9F9;
      border-bottom: 1px solid #EEE;
      padding: 8px 15px;
      h4 {
        cursor: default;
      }
    }
    > .meat {
      padding: 10px 15px;
    }
    &.half-section {
      width: 337px;
      float: left;
      clear: none;

      > .meat {
        @include clearfix();
      }
    }
  }
  .static-page {
    span {
      font-weight: bold;
    }
    p {
      font-size: 15px;
      line-height: 18px;
      padding: 5px 0 10px;
    }
    #post-form {
      @include border-radius(6px);
      margin-top: 10px;
      h3 {
        margin: 0;
      }
      .modal-footer {
        background-color: transparent;
        border: none;
      }
    }
  }
}
#pages-c {
  .sidebar {
    margin-top: 0px;
  }
  #feed {
    margin-top: 0px;
  }
}