body {
  $sidebarWidth: 250px;
  $baseWidth: 745px;
  $columnWidth: 240px;

  background: #B8CFD6;
  color: $grayDark;

  &.two {
    .wrapper {
      width: $baseWidth;
      .content {
        width: $baseWidth - $sidebarWidth - 20;
      }
    }
    header {
      .container {
        width: $baseWidth;
      }
    }
  }
  &.three {
    $baseWidthThree: $baseWidth + $columnWidth;
    .wrapper {
      width: $baseWidthThree;
      .content {
        width: $baseWidthThree - $sidebarWidth - 20;
      }
    }
    header {
      .container {
        width: $baseWidthThree;
      }
    }
  }
  &.four {
    $baseWidthFour: $baseWidth + $columnWidth * 2;
    .wrapper {
      width: $baseWidthFour;
      .content {
        width: $baseWidthFour - $sidebarWidth - 20;
      }
    }
    header {
      .container {
        width: $baseWidthFour;
      }
    }
  }
  &.five {
    $baseWidthFive: $baseWidth + $columnWidth * 3;
    .wrapper {
      width: $baseWidthFive;
      .content {
        width: $baseWidthFive - $sidebarWidth - 20;
      }
    }
    header {
      .container {
        width: $baseWidthFive;
      }
    }
  }
  &.no-sidebar {
    .content {
      float: none;
    }
  }
}

a {
  text-decoration: none;
  outline: 0;

  &:active {
    color: $linkColor;
  }
  &:hover {
    text-decoration: none;
  }
}

ul,ol,p {
  margin: 0px;
}

h1 {
  font-size: 26px;
  line-height: 30px;
}
h2 {
  font-size: 22px;
  line-height: 26px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 18px;
}
h6 {
  font-size: 12px;
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: $grayDark;
  a {
    color: $grayDark;
    cursor: pointer;
    &:hover {
      color: $grayDark;
    }
    &:hover.tlink {
      color: $greenDarker;
    }
  }
}

form {
  .alert-error {
    margin: 0 0 15px 0;
  }
}

.ulink {
  cursor: pointer;
  &:hover {
    color: $blue !important;
  }
}

.tlink {
  cursor: pointer;
  &:hover {
    color: $greenDarker !important;
    h1, h2, h3, h4, h5, h6 {
      color: $greenDarker !important;
    }
  }
}

.c {
  clear: both;
}

.disabled {
  @include opacity(60);
  cursor: default !important;
}

.wrapper {
  @include clearfix();
  margin: 0 auto;

  .content {
    float: left;
    margin: auto;
  }
}

header {
  .container {
    margin: auto;
    position: relative;

    .brand {
      padding-left: 65px;
      font-size: 23px;
      position: relative;
      margin-left: 20px;

      img {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
    .talk {
      position: absolute;
      top: 0px;
      left: 260px;
      font-size: 18px;
      padding: 6px 14px 7px 12px;
    }
  }
}

#header-user-nav {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 16px;

  .profile-img {
    @include border-radius(3px);
    background: $grayLightest;
    padding: 2px;
    float: right;
    margin: 4px 5px 0 0;

    img {
      @include border-radius(2px);
      width: 30px;
      height: 30px;
      display: block;
    }
  }
  .numbers {
    @include border-radius(3px);
    float: right;
    background: $grayLightest;
    height: 34px;
    margin: 4px 5px 0 0;
    padding: 0 10px;
    line-height: 34px;
    cursor: default;

    .notifications {
      margin: 0 3px 0 0;
      padding: 0 9px 0 0;
      font-weight: bold;
      border-right: 1px solid #E3E3E3;
    }
    .score-pts {
      font-size: 12px;
      span {
        font-size: 16px;
      }
    }
  }
  .username {
    float: right;
    color: $grayLightest;
    cursor: pointer;
    height: 32px;
    padding: 11px 10px 0 12px;
    
    i {
      margin: 3px 0 0 4px;
    }
  }
}

.sidebar {
  @include border-radius(5px);
  float: left;
  width: 220px;
  margin: 0 0 0 10px;
  background-color: rgba(255,255,255,0.4);

  section {
    @include border-radius(3px);
    background: $grayLightest;
    border: 1px solid #E6E6E6;
    margin: 10px;
    > h4 {
      margin: 10px 0 7px 10px;
      font-weight: normal;
      cursor: default;
    }
  }
  .user-panel {
    padding: 10px 10px 10px 70px;
    position: relative;
    border-bottom: 1px solid #EEEEEE;

    img {
      @include border-radius(3px);
      position: absolute;
      top: 7px;
      left: 10px;
      width: 50px;
      height: 50px;
    }
    h4 {
      margin: 0 0 3px 0;
      cursor: default;
    }
    .score-pts {
      font-size: 13px;
      vertical-align: middle;
      span {
        font-size: 16px;
      }
    }
    .follow {
      font-size: 13px;
      padding: 2px 9px;
      margin: 0 7px 0 0;
    }
  }
  .topic-panel {
    padding: 10px 10px 0 10px;
    position: relative;

    h4 {
      margin: 0 0 7px 0;
      cursor: default;
    }
    .actions {
      margin: 0 0 10px 0;
    }
    .score-pts {
      font-size: 13px;
      vertical-align: middle;
      span {
        font-size: 16px;
      }
    }
    .follow {
      font-size: 13px;
      padding: 2px 9px;
      margin: 0 7px 0 0;
    }
    .img {
      @include border-radius(2px);
      padding: 5px;
      background: #FFF;
      margin: 0 0 10px 0;
      border: 1px solid $grayLighter;
      img {
        background: #999;
        width: 165px;
      }
    }    
  }
  p {
    margin: 0 0 10px 10px;
  }
  ul {
    margin: 0 0 10px 10px;
  }
  .menu {
    margin: 0px;
    a {
      display: block;
      padding: 7px 10px;
      border-top: 1px solid #EEEEEE;
      font-size: 16px;
      position: relative;

      i {
        display: none;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -7px;
      }
      &.first {
        border-top: none;
      }
      &:hover,
      &.on {
        i {
          display: block;
        }
      }
      &.on {
        color: $linkColorHover;
        background: #FFF;
        cursor: default;
      }
    }
  }
  .sidebar-talk-form {
    input {
      width: 168px;
      margin: 0 0 10px 10px;
    }
  }
}

#feed {
  @include clearfix();

  .column {
    width: 230px;
    margin: 0 10px 0 0;
    float: left;
    &.last {
      margin-right: 0px;
    }
  }
}

.score-pts {
  cursor: default;

  span {
    font-weight: bold;
  }
}

#post-form {
  .main-content {
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    $transition: border linear .2s, box-shadow linear .2s;
    @include transition($transition);
    @include border-radius(3px);
    border: 1px solid #CCCCCC;
    width: 400px;
    margin: 0 0 30px 0;
    position: relative;

    .icons {
      position: absolute;
      bottom: -19px;
      left: 9px;

      .icon {
        float: left;
        margin: 0 10px 0 0;
        cursor: pointer;
        height: 12px;

        &:on {
          cursor: default;
        }
      }
      .cancel-preview {
        display: none;
      }
    }
    textarea,
    input {
      @include box-shadow(none);
      border: none;
      resize: none;
      margin: 0px;
      padding: 8px;
    }
    #post-form-content {
      height: 84px;
      width: 384px;
    }
    #post-form-fetch-url {
      width: 384px;
      display: none;
      border-top: 1px dashed #CCC;
    }
    .preview-data {
      position: relative;
      padding: 0 0 14px 0;
      border-top: 1px dashed #CCC;

      .media {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 7px;
        top: 7px;

        img {
          max-width: 100px;
        }
      }
      #post-form-title {
        width: 270px;
        height: 84px;
      }        
      .title {
        min-height: 84px;
        padding: 8px;
        width: 270px;

        p {
          font-size: 16px;
          margin: 0;
        }
        div {
          font-size: 12px;
          color: #999;
        }
      }
      .switcher {
        background: rgba(255,255,255,.9);
        position: absolute;
        top: 85px;
        right: 7px;
        width: 100px;

        .left {
          margin: 0 0 0 1px;
          cursor: pointer;
        }
        .right {
          margin: 0px;
          cursor: pointer;
        }
        .help {
          color: #444;
          font-size: 10px;
          position: relative;
          top: -2px;
          cursor: default;
        }
      }
    }
  }
  .mentions {
    > div {
      position: relative;
    }
    img {
      position: absolute;
      top: 1px;
      left: 1px;
    }
    .topic-mention {
      @include box-shadow(none);
      margin: 0px;
      padding: 6px 5px 6px 37px;
      &:focus {
        border-color: #CCC;
      }
    }
    #post-form-mention1 {
      @include border-radius(3px 3px 0 0);
      border-bottom: none;
    }
    #post-form-mention2 {
      @include border-radius(0 0 3px 3px);
    }
  }
  .btn-success {
    padding: 5px 10px;
  }
}

.ll-modal {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
  overflow: auto;
  padding: 30px 0 50px 0;
  text-align: center;
}

.content-tile {
  @include border-radius(5px);
  background-color: rgba(255,255,255,0.4);
  padding: 0 0 10px 0;
  text-align: left;
  display: inline-block;

  &.modal {
    width: auto;
    max-height: none;
    margin: 20px auto 0 auto;
    top: auto;
    left: auto;
    position: static;
  }
  section {
    @include border-radius(3px);
    background: #FFF;
    border: 1px solid #E6E6E6;
    padding: 10px 20px;
    margin: 10px 10px 0 10px;
    width: 652px;
  }
}