/*
    Document   : _talk
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.news {
  &.teaser.hover {
    .oType { color: $news-color }
    .connectionsC
    {
      border-color: $news-color;
    }
  }
  &.teaser.grid {
    .time {
      display: block;
      float: none;
    }
    img {
      margin: 3px 10px 0 5px;
    }
  }
  &.teaser.list {
    img {
      margin-top: 2px;
    }
  }
}