/*
    Document   : _notifications
    Created on : Sept 11, 2011, 7:35:51 PM
    Author     : Matt McCormick
    Description:
        Purpose of the stylesheet follows.
*/

#notifications-c {
  .index-c {
    h4 {
      margin: 15px 0 5px 5px;
      color: #666;
    }
    .notification {
      padding: 10px 5px 10px 26px;
      position: relative;
      border-top: 2px solid #FFFFFF;
      .icon {
        position: absolute;
        top: 13px;
        left: 5px;
      }
      &.first {
        border-top: none;
      }
      &.unread {
        background: #FEEBEB;
      }
    }
  }
}