#user-notifications {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 220px;
  background: #EFEFEF;
  background: rgba(246, 246, 246, .96);
  border-left: 1px solid #999;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  z-index: 200;
  padding-top: 45px;

  h4 {
    margin: 10px;
    cursor: default;
    color: #333;
  }
  .close {
    @include opacity(40);
    position: absolute;
    top: 56px;
    right: 15px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
  }
  .none {
    margin: 10px;
  }
  li {
    margin: 0;
    padding: 7px 5px 8px 45px;
    border-bottom: 1px solid #DDD;
    position: relative;
    color: #444;

    &.unread {
      /*background: #E9E9E9;*/
    }
    &.mention:hover,
    &.repost:hover,
    &.comment:hover,
    &.also:hover {
      background: #E6E6E6;
      cursor: pointer;
      .content,
      .time {
        cursor: pointer;
      }
    }
    img {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 7px;
      left: 6px;
    }
    .content {
      margin: 1px 0 0 0;
      font-size: 11px;
      line-height: 14px;
      cursor: default;
      a {
        font-weight: bold;
        color: #444;
      }
    }
    .when {
      font-size: 10px;
      color: #777;
      cursor: default;
      line-height: 15px;
    }
  }
}