/*
    Document   : _notifications
    Created on : Sept 11, 2011, 7:35:51 PM
    Author     : Matt McCormick
    Description:
        Purpose of the stylesheet follows.
*/

#notifications-c {
  .index-c {
    margin: 10px;
    h4 {
      margin: 0 0 0 5px;
      color: #666;
    }
    .notification {
      padding: 10px 5px;
      border-bottom: 1px solid #DDD;
    }
  }
}