#pages-c {
  .about-c,
  .contact-c,
  .privacy-c,
  .terms-c,
  .help-c {
    p {
      margin-bottom: 10px;
    }
  }

  .privacy-c,
  .terms-c {
    p span {
      font-weight: bold;
    }
  }

  .admin-c {
  }
}

.static-page {
  padding: 10px;
}
