#pages-c {
  .about-c,
  .contact-c,
  .privacy-c,
  .terms-c,
  .help-c {
    p {
      margin-bottom: 10px;
    }
  }

  .privacy-c,
  .terms-c {
    p span {
      font-weight: bold;
    }
  }

  .admin-c {
    ul {
      margin: 3px 0 10px 10px;
    }
  }

  .splash-c {
    width: 100%;

    #auth_box {
      border: 5px solid #666666;
      left: 50%;
      margin-left: -310px;
      position: relative;
      top: 10%;
    }
  }
}

.static-page {
  padding: 10px;
}
