/*
    Document   : _picture
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.picture {
    &.teaser {
      border-color: adjust-lightness($picture-color, 30);
      &.hover {
        border-color: $picture-color;

        .wrapper
        {
          border-color: $picture-color;
        }
      }
    }
    
    &.teaser.grid {
        p {
            overflow: hidden;
            height: 22px;
            bottom: 22px;
        }
        .bodyC {
            .imageC {
                text-align: center;
            }
        }
    }
    &.teaser.column {
      p {
        margin-top: 5px;
      }
    }
    &.teaser.list {
      border: none;
      .wrapper {
        border-color: adjust-lightness($picture-color, 30);
      }
      &.hover {
        .wrapper {
          border-color: $picture-color;
        }
      }
    }
    &.objectContent {
        text-align: center;
    }
}

// Lightbox Images
.lbImg {
    cursor: pointer;
}