/*
    Document   : _picture
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.picture {
    &.teaser.hover {
        .oType { color: $picture-color }
        border-color: $picture-color;
        .wrapper
        {
            border-color: $picture-color;
        }
    }
    
    &.teaser.grid {
        p {
            overflow: hidden;
            height: 22px;
            bottom: 22px;
        }
        .bodyC {
            .imageC {
                text-align: center;
            }
        }
    }
    &.teaser.column {
      p {
        margin-top: 5px;
      }
    }
    &.objectContent {
        text-align: center;
    }
}

// Lightbox Images
.lbImg {
    cursor: pointer;
}