$postFontColor: $grayDark;

#post-show {
  .ulink {
    color: $postFontColor;
    font-weight: bold;
  }
  h1 {
    margin-bottom: 10px;
    .title-with-source {
      margin-right: 5px;
    }
    .source {
      position: relative;
      bottom: 3px;
      font-size: 16px;
      color: $grayLight;
      font-weight: normal;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h3 {
    margin: 5px 0 15px;
  }
  .like,
  .comment-form {
    cursor: pointer;
  }
  .post-root {
    .actions-created {
      margin-bottom: 20px;
      font-size: 16px;

      .actions {
        .score-pts {
          margin-right: 15px;
        }

        .like {
          padding: 0;
          font-size: 16px;
          margin: 0 15px 0 0;
          color: $greenDarker;
          font-weight: bold;
          border: none;
          background: none;
          text-shadow: none;
        }
      }
    }
    .media {
      margin-bottom: 10px;
      overflow-y: auto;
      max-height: 750px;
      img {
        max-width: 650px;
      }
    }
    .existing-mentions {
      float: right;
      width: 235px;
      height: 245px;
      overflow-y: auto;

      h3 {
        margin: 0 0 10px 0;
      }
      .tlink {
        display: table;
        height: 40px;
        margin-bottom: 10px;
        img {
          display: table-cell;
          height: 40px;
          width: 40px;
        }
        h5 {
          display: table-cell;
          margin: 0px;
          padding: 0 10px;
          vertical-align: middle;
        }
        .mention {
          display: table-cell;
          vertical-align: middle;
          padding: 0 0 0 10px;
        }
      }
    }
    .talk {
      width: 405px;
      margin-bottom: 10px;
      float: left;
      .modal-header {
        padding: 0 0 10px 0;
        border: none;
      }
      .modal-body {
        padding: 0px 0 10px;
        .main-content {
          margin-bottom: 10px;
        }
      }
      .modal-footer {
        padding: 0;
        background: transparent;
        border: none;
      }
    }
  }
  .response-talk {
    position: relative;
    padding: 0 0 10px 60px;
    min-height: 50px;

    .top-right {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 12px;
      color: $grayLight;

      .actions {
        position: absolute;
        top: 0px;
        right: 0px;
        background: #FFF;
        display: none;
        width: 200px;
        text-align: right;

        span {
          margin: 0 0 0 5px;
        }
        .like,
        .comment-form {
          &:hover {
            color: $greenDarker;
          }
        }
      }
    }
    .body {
      min-height: 50px;
    }
    > img {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 50px;
      width: 50px;
      background-color: #444;
    }
    > p {
      position: relative;
      font-size: 14px;
      line-height: 20px;
    }
    .mentions {
      font-size: 12px;
      color: $grayLight;
      .tlink {
        color: $grayLight;
      }
    }
    .comment-list {
      margin: 5px 0 10px -60px;
      background: #F6F6F6;
    }
    &:hover {
      .top-right {
        .actions {
          display: block;
        }
      }
    }
  }
}

#talk-show {
  .post-root {
    position: relative;

    > .meat {
      padding: 18px 20px 20px 85px;
    }
    .ulink {
      display: block;
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
    .user-image {
      position: absolute;
      top: 18px;
      left: 20px;
    }
    .actions-created {
      margin: 7px 0 0 0;
      font-size: 16px;

      .actions {
        .score-pts {
          margin-right: 15px;
        }

        .like {
          padding: 0;
          font-size: 16px;
          margin: 0 15px 0 0;
          color: $greenDarker;
          font-weight: bold;
          border: none;
          background: none;
          text-shadow: none;
          cursor: pointer;
        }
      }
    }
  }
  .content {
    .ulink {
      font-size: 24px;
      font-weight: bold;
      color: $grayDark;
      margin: 0 10px 0 0;
    }
  }
  h1 {
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
  }
  #comment-form {
    margin: 10px 0 0 0;

    textarea {
      width: 350px;
      margin: 0 0 20px 0;
    }
  }
}

section.post-responses {
  width: 317px;
  float: left;

  &.friend-responses {
    margin: 7px 6px 0 10px;
  }
  &.public-responses {
    margin: 7px 10px 0 0;
  }
  .none {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}