$postFontColor: $grayDark;

#post-form {
  &.modal {
    width: 630px;
    margin-left: -315px;
    margin-top: -295px;
  }

  .top-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .modal-header {
    background: #F9F9F9;
    padding: 9px 7px;
    .close {
      background: #FFF;
      border-left: 1px solid #CCC;
      margin: -5px -6px 0 0;
      padding: 15px 22px;
    }
    h4 {
      @include single-text-shadow(#CCC, 0, 1px);
      font-size: 20px;
      cursor: default;
      padding: 10px 0 4px 5px;
      color: #666;
    }
  }
  .modal-body {
    padding: 0px;
    max-height: 1000px;
  }
  .errors {
    padding: 0;
    margin: 5px 0 10px 0;
    display: none;

    .alert {
      @include border-radius(0px);
      border: none;
      margin: 0px;
      padding: 7px 29px 7px 7px;
      font-size: 12px;
    }
  }
  textarea,
  input {
    @include box-shadow(none);
    @include border-radius(0px);
    border: none;
    resize: none;
    margin: 0px;
    padding: 0px;
  }
  .fetch {
    position: relative;
    height: 87px;
    border-bottom: 1px solid #DDD;

    .url {
      padding: 9px;
      font-size: 16px;
      border: 1px solid #DDD;
      position: absolute;
      top: 25px;
      left: 25px;
      width: 440px;
    }
    .find-url {
      position: absolute;
      top: 27px;
      right: 25px;
      font-size: 18px;
      padding: 7px 12px;
    }
  }
  .modal-footer {
    padding: 15px 25px;
    text-align: left;
  }
  .content {
    > div {
      margin: 20px 0 0 0;
    }
    .meat {
      @include clearfix();
    }
    form {
      width: 260px;
      float: left;
      margin: 0 0 20px 25px;
    }
    .say-something {
      color: $blue;
      margin: 0 0 0 10px;
      font-size: 12px;
      cursor: pointer;
      display: inline-block;

      &:hover {
        color: $blueDarker;
      }
    }
    #post-form-content {
      @include box-sizing(border-box);
      height: 53px;
      width: 260px;
      padding: 7px;
      border: 1px solid #DDD;
      display: none;
    }
  }
  .type {
    @include clearfix();
    margin: 0 0 15px 0;

    span {
      font-size: 13px;
      float: left;
      margin: 4px 15px 0 3px;
      font-weight: bold;
      cursor: default;
    }
    .link,
    .picture,
    .video {
      @include border-radius(1px);

      float: left;
      margin: 0 5px 0 0;
      padding: 4px 12px;
      cursor: pointer;
      color: #333;

      &:hover {
        background: #cceef3;
      }
      &.on {
        background: #2F96B4;
        color: #FFF;
        cursor: default;
      }
      &.disabled {
        @include opacity(60);
        text-decoration: line-through;

        &:hover {
          background: transparent;
        }
      }
    }
  }
  .preview {
    position: relative;
    margin: 5px 0 25px 20px;
    width: 300px;
    display: inline-block;
    min-height: 130px;

    h5 {
    }
    .media {
      width: 300px;
      margin: auto;

      .img-wrap {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
      }
      textarea {
        @include single-text-shadow(#CCC, 0, 1px);
        width: 300px;
        font-weight: bold;
        font-size: 13px;
      }
      .img-wrap {
        display: none;
      }
    }
    .provider {
      color: #999;
      font-size: 13px;
      cursor: default;
    }
    &.with-image {
      margin-top: 26px;

      .provider {
        display: none;
      }
      .media {
        @include single-box-shadow(rgba(34, 25, 25, 0.5), 0px, 1px, 2px);
        position: relative;
        .img-wrap {
          display: block;
        }
        img {
          max-width: 300px;
          display: block;
          margin: auto;
        }
        h5 {
          @include single-text-shadow(#666, 0, 1px);
          @include background-image(linear-gradient(transparent, rgba(0, 0, 0, 0.1) 15%,rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.4) 50%,rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.8)));
          color: #FFF;
          position: absolute;
          bottom: 0px;
          left: 0px;
          z-index: 5;
          padding: 25px 15px 10px 15px;
          width: 270px;
          cursor: default;

          textarea {
            @include single-text-shadow(#666, 0, 1px);
            border: none;
            width: 100%;
            color: #FFF;

            background: transparent;
            height: 38px;
          }
        }
      }
    }
    .switcher {
      display: none;
      margin: -28px 0 0 0;
      height: 28px;
      position: relative;

      .controls {
        background: #EEE;
        display: inline-block;
        margin: 0 0 0 10px;

        .left,
        .right {
          display: inline-block;
          cursor: pointer;
          padding: 5px 8px;

          &:hover {
            background: #DDD;
          }
        }
        i {
          position: relative;
          top: 1px;
        }
      }
      .cancel-image {
        color: #a1271d;
        font-size: 12px;
        position: absolute;
        top: 4px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
  .mentions {
    @include clearfix();
    margin: 0 0 7px 0;

    .desc {
      font-size: 13px;
      margin: 0 0 5px 3px;
      cursor: default;
      font-weight: bold;
    }
    .topic-mention {
      border: 1px solid #DDD;
      width: 114px;
      padding: 7px;

      &.two {
        border-left: none;
        margin: 0 0 0 -4px;
        width: 115px;
      }
    }
  }
  .mention-suggestions {
    background: #F9F9F9;
    margin: -7px 3px 7px 3px;
    padding: 5px 7px;

    .head {
      font-size: 11px;
      color: #999;
      cursor: default;
      margin: 0 0 3px 0;
    }
    ul {
      @include clearfix();
      list-style: none;
    }
    li {
      float: left;
      color: $blue;
      margin: 0 20px 0 0;
      white-space: nowrap;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        color: $blueDarker;
      }
    }
  }
  .btn-success,
  .btn.cancel {
    @include border-radius(0px);
    padding: 5px 10px;
    margin-left: 0px;
  }

  .stats {
    font-size: 13px;
    color: #999;
    cursor: default;
    text-align: left;
    margin: 0 0 15px 2px;
  }
}

#post-show {
  .ulink {
    color: $postFontColor;
    font-weight: bold;
  }
  h3 {
    margin: 5px 0 15px;
  }
  .post {
    .meat {
      position: relative;
      padding: 15px 15px 15px 80px;
      min-height: 50px;
    }
    img {
      @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
      position: absolute;
      top: 15px;
      left: 15px;
    }
    .user {
      font-size: 18px;
    }
    .source {
      a {
        color: #999;
        &:hover {
          color: $blue;
        }
      }
    }
    p {
      font-size: 16px;
      line-height: 20px;
      margin: 10px 0 0 0;
    }
    .when {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 18px;
      cursor: default;
      color: #999;
    }
    .mentions {
      position: relative;
      padding: 10px 0 0 25px;
      .ll-arrow-r-dark {
        position: absolute;
        top: 15px;
        left: 0px;
      }
      .tlink {
        margin: 0 15px 0 0;
      }
    }
  }
  .media {
    position: relative;

    .top {
      padding: 15px;
      .title {
        font-size: 18px;
        line-height: 22px;
        a:hover {
          color: $blue;
        }
      }
      .source {
        margin-top: 10px;
        display: block;
        font-size: 13px;
        color: $grayLight;
        font-weight: normal;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: $blue;
        }
      }
    }
    .post-media {
      margin: 0;
      overflow-y: auto;
      max-height: 750px;
      text-align: center;
      img {
        @include single-box-shadow(rgba(34, 25, 25, 0.4), 0px, 1px, 2px);
        max-width: 680px;
      }
    }
    &.link.with-image {
      .top {
        padding-left: 80px;
      }
      .post-media {
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }
  .actions {
    margin: 10px 0 0 0;
    > span {
      font-size: 16px;
      font-weight: bold;
      margin: 0 15px 0 0;
      color: $greenDarker;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .comment-form {
    textarea {
      @include border-radius(0);
      padding: 10px;
      height: 60px;
      width: 290px;
      resize: none;
      margin: 5px 0;
    }
  }
}