/*
    Document   : _sprite
    Created on : May 6, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Sprite definitions.
*/

@import "icon/*.png";

.handle-black-small {
    @include icon-sprite(handle-black-small);
    width: 13px;
    height: 13px;
}
.handle-white-small {
    @include icon-sprite(handle-white-small);
    width: 13px;
    height: 13px;
}
.arrow-small {
    @include icon-sprite(arrow-small);
    width: 14px;
    height: 9px;
}
.arrow-g-r-2424 {
    @include icon-sprite(arrow_green_right_24x24);
    width: 24px; height: 24px;
}
.arrow-r-2424 {
    @include icon-sprite(arrow_grey_right_24x24);
    width: 24px; height: 24px;
}
.settings-icon {
    @include icon-sprite(settings-icon);
    height: 16px;
    width: 16px;
}
.badge-icon {
    @include icon-sprite(badge-icon);
    width: 16px;
    height: 16px;
}
.feed-icon {
    @include icon-sprite(feed-icon);
    width: 16px;
    height: 16px;
}
.user-contributions-icon {
    @include icon-sprite(user-contributions-icon);
    width: 16px;
    height: 16px;
}
.user-favorites-icon {
    @include icon-sprite(user-favorites-icon);
    width: 16px;
    height: 16px;
}
.panel-close-left-icon {
    @include icon-sprite(panel-close-left-icon);
    width: 11px;
    height: 11px;
}
.panel-open-left-icon {
    @include icon-sprite(panel-open-left-icon);
    width: 11px;
    height: 11px;
}
.plus-green-icon {
    @include icon-sprite(plus_green_16x16);
    width: 16px;
    height: 16px;
}
.plus-grey-icon {
    @include icon-sprite(plus_grey_16x16);
    width: 16px;
    height: 16px;
}
.minus-red-icon {
    @include icon-sprite(minus_red_16x4);
    width: 16px;
    height: 4px;
}
.minus-grey-icon {
    @include icon-sprite(minus_grey_16x4);
    width: 16px;
    height: 4px;
}
.comment-icon {

}
.heart-grey-icon {
    @include icon-sprite(heart_grey_16x14);
    width: 16px;
    height: 14px;
}
.heart-green-icon {
    @include icon-sprite(heart_green_16x14);
    width: 16px;
    height: 14px;
}
.repost-grey-icon {
    @include icon-sprite(loop_grey_16x14);
    width: 16px;
    height: 14px;
}
.repost-green-icon {
    @include icon-sprite(loop_green_16x14);
    width: 16px;
    height: 14px;
}
.share-grey-icon {
    @include icon-sprite(share_grey_16x16);
    width: 16px;
    height: 16px;
}
.share-green-icon {
    @include icon-sprite(share_grey_16x16);
    width: 16px;
    height: 16px;
}
.feed-grid {
    @include icon-sprite(grid-off);
    width: 15px;
    height: 15px;
    &.on { @include icon-sprite(grid-on); }
}
.feed-list {
    @include icon-sprite(list-off);
    width: 15px;
    height: 15px;
    &.on { @include icon-sprite(list-on); }
}