/*
    Document   : _sprite
    Created on : May 6, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Sprite definitions.
*/

@import "icon/*.png";

.ll-icon-picture {
  @include icon-sprite(camera_12x12_grey);
  width: 12px;
  height: 12px;

  &.on {
    @include icon-sprite(camera_12x12_green);
  }
}
.ll-icon-link {
  @include icon-sprite(link_12x12_grey);
  width: 12px;
  height: 12px;

  &.on {
    @include icon-sprite(link_12x12_green);
  }
}
.ll-icon-video {
  @include icon-sprite(movie_12x12_grey);
  width: 12px;
  height: 12px;

  &.on {
    @include icon-sprite(movie_12x12_green);
  }
}
.ll-video-play {
  @include icon-sprite(video-play);
  width: 38px;
  height: 38px;
}

.ll-white-arrow-down {
  @include icon-sprite(white-arrow-down);
  width: 20px;
  height: 11px;
}

.ll-grey-arrow-up {
  @include icon-sprite(grey-arrow-up);
  width: 20px;
  height: 11px;
}

.ll-green-arrow-left {
  @include icon-sprite(arrow_left_12x12);
  width: 12px;
  height: 12px;
}

.ll-tan-earmark {
  @include icon-sprite(tan-earmark);
  width: 16px;
  height: 16px;
}

.ll-grey-x {
  @include icon-sprite(grey-x);
  width: 11px;
  height: 11px;

  &:hover {
    @include icon-sprite(red-x);
  }
}

.ll-green-plus {
  @include icon-sprite(grey-plus);
  width: 8px;
  height: 8px;

  &:hover {
    @include icon-sprite(green-plus);
  }
}

.ll-ph-home {
  @include icon-sprite(ph-home-off);
  width: 40px;
  height: 40px;
  &:hover,
  &.on {
    @include icon-sprite(ph-home-on);
  }
}
.ll-ph-feed {
  @include icon-sprite(ph-feed-off);
  width: 40px;
  height: 40px;
  &:hover,
  &.on {
    @include icon-sprite(ph-feed-on);
  }
}
.ll-ph-likes {
  @include icon-sprite(ph-likes-off);
  width: 40px;
  height: 40px;
  &:hover,
  &.on {
    @include icon-sprite(ph-likes-on);
  }
}
.ll-ph-connections {
  @include icon-sprite(ph-connections-off);
  width: 40px;
  height: 40px;
  &:hover,
  &.on {
    @include icon-sprite(ph-connections-on);
  }
}
.ll-ph-posts {
  @include icon-sprite(ph-posts-off);
  width: 40px;
  height: 40px;
  &:hover,
  &.on {
    @include icon-sprite(ph-posts-on);
  }
}
.ll-ph-topics {
  @include icon-sprite(ph-topics-off);
  width: 40px;
  height: 40px;
  &:hover,
  &.on {
    @include icon-sprite(ph-topics-on);
  }
}
.ll-ph-users {
  @include icon-sprite(ph-users-off);
  width: 40px;
  height: 40px;
  &:hover,
  &.on {
    @include icon-sprite(ph-users-on);
  }
}
.ll-ph-carrot {
  @include icon-sprite(ph-carrot);
  width: 26px;
  height: 14px;
}