/*
    Document   : _sprite
    Created on : May 6, 2011
    Author     : Marc MacLeod (marbemac@gmail.com
    Description:
        Sprite definitions.
*/

@import "icon/*.png";

.ll-icon-picture {
  @include icon-sprite(camera_12x12_grey);
  width: 12px;
  height: 12px;

  &.on {
    @include icon-sprite(camera_12x12_green);
  }
}
.ll-icon-link {
  @include icon-sprite(link_12x12_grey);
  width: 12px;
  height: 12px;

  &.on {
    @include icon-sprite(link_12x12_green);
  }
}
.ll-icon-video {
  @include icon-sprite(movie_12x12_grey);
  width: 12px;
  height: 12px;

  &.on {
    @include icon-sprite(movie_12x12_green);
  }
}
.ll-video-play {
  @include icon-sprite(video-play);
  width: 38px;
  height: 38px;
}

//.handle-black-small {
//    @include icon-sprite(handle-black-small);
//    width: 13px;
//    height: 13px;
//}
//.handle-white-small {
//    @include icon-sprite(handle-white-small);
//    width: 13px;
//    height: 13px;
//}
//.arrow-small {
//    @include icon-sprite(arrow-small);
//    width: 12px;
//    height: 12px;
//}
//.arrow-g-r-2424 {
//    @include icon-sprite(arrow_green_right_24x24);
//    width: 24px; height: 24px;
//}
//.arrow-r-2424 {
//    @include icon-sprite(arrow_grey_right_24x24);
//    width: 24px; height: 24px;
//}
//.arrow-w-s {
//    @include icon-sprite(arrow_white_small);
//    width: 17px; height: 13px;
//}
//
//.sidebar {
//  .section-h {
//    height: 28px;
//    width: 187px;
//  }
//
//  &.left {
//    .section-h {
//      @include icon-sprite(section-h-l-bg);
//    }
//  }
//  &.right {
//    .section-h {
//      @include icon-sprite(section-h-r-bg);
//      margin-left: -6px;
//      padding-left: 13px;
//    }
//  }
//}
//.sb-btn-l {
//  @include icon-sprite(sb-btn-l-off);
//  height: 26px;
//  width: 180px;
//
//  &.on,
//  &:hover {
//    @include icon-sprite(sb-btn-l-on);
//  }
//}
//.settings-icon {
//    @include icon-sprite(settings-icon);
//    height: 16px;
//    width: 16px;
//}
//.badge-icon {
//    @include icon-sprite(badge-icon);
//    width: 16px;
//    height: 16px;
//}
//.feed-icon {
//    @include icon-sprite(feed-icon);
//    width: 16px;
//    height: 16px;
//}
//.user-contributions-icon {
//    @include icon-sprite(user-contributions-icon);
//    width: 16px;
//    height: 16px;
//}
//.user-favorites-icon {
//    @include icon-sprite(user-favorites-icon);
//    width: 16px;
//    height: 16px;
//}
//.panel-close-left-icon {
//    @include icon-sprite(panel-close-left-icon);
//    width: 11px;
//    height: 11px;
//}
//.panel-open-left-icon {
//    @include icon-sprite(panel-open-left-icon);
//    width: 11px;
//    height: 11px;
//}
//.plus-green-icon {
//    @include icon-sprite(plus_green_16x16);
//    width: 16px;
//    height: 16px;
//}
//.plus-grey-icon {
//    @include icon-sprite(plus_grey_16x16);
//    width: 16px;
//    height: 16px;
//}
//.plus-white-icon {
//    @include icon-sprite(plus_white_16x16);
//    width: 16px;
//    height: 16px;
//}
//.plus-white-s-icon {
//    @include icon-sprite(plus_white_12x12);
//    width: 12px;
//    height: 12px;
//}
//.minus-red-icon {
//    @include icon-sprite(minus_red_16x4);
//    width: 16px;
//    height: 4px;
//}
//.minus-grey-icon {
//    @include icon-sprite(minus_grey_16x4);
//    width: 16px;
//    height: 4px;
//}
//.minus-white-s-icon {
//    @include icon-sprite(minus_white_12x3);
//    width: 12px;
//    height: 3px;
//}
//.comment-icon {
//    @include icon-sprite(comment_grey_12x12);
//    width: 12px;
//    height: 12px;
//}
//.link-grey-icon {
//    @include icon-sprite(link_grey_12x12);
//    width: 12px;
//    height: 12px;
//}
//.picture-grey-icon {
//    @include icon-sprite(picture_grey_12x12);
//    width: 12px;
//    height: 12px;
//}
//.talk-grey-icon {
//    @include icon-sprite(talk_grey_12x11);
//    width: 12px;
//    height: 11px;
//}
//.video-grey-icon {
//    @include icon-sprite(video_grey_12x12);
//    width: 12px;
//    height: 12px;
//}
//.heart-grey-icon {
//    @include icon-sprite(heart_grey_16x14);
//    width: 16px;
//    height: 14px;
//}
//.heart-green-icon {
//    @include icon-sprite(heart_green_16x14);
//    width: 16px;
//    height: 14px;
//}
//.like-grey-icon {
//    @include icon-sprite(loop_grey_16x14);
//    width: 16px;
//    height: 14px;
//}
//.like-green-icon {
//    @include icon-sprite(loop_green_16x14);
//    width: 16px;
//    height: 14px;
//}
//.share-grey-icon {
//    @include icon-sprite(share_grey_16x16);
//    width: 16px;
//    height: 16px;
//}
//.share-grey-icon-12 {
//    @include icon-sprite(share_grey_12x12);
//    width: 12px;
//    height: 12px;
//}
//.share-green-icon {
//    @include icon-sprite(share_grey_16x16);
//    width: 16px;
//    height: 16px;
//}
//.at-grey-icon {
//    @include icon-sprite(at_grey_12x12);
//    width: 12px;
//    height: 12px;
//}
//.user-grey-icon {
//    @include icon-sprite(user_grey_9x12);
//    width: 9px;
//    height: 12px;
//}
//.chat-grey-icon {
//    @include icon-sprite(chat_grey_12x12);
//    width: 12px;
//    height: 12px;
//}
//.full-black-icon {
//  @include icon-sprite(full_black_12x12);
//  width: 12px;
//  height: 12px;
//}
//.feed-grid {
//    @include icon-sprite(grid-off);
//    width: 14px;
//    height: 14px;
//    &.on { @include icon-sprite(grid-on); }
//}
//.feed-column {
//    @include icon-sprite(column-off);
//    width: 14px;
//    height: 14px;
//    &.on { @include icon-sprite(column-on); }
//}
//.feed-list {
//    @include icon-sprite(list-off);
//    width: 14px;
//    height: 14px;
//    &.on { @include icon-sprite(list-on); }
//}
//.info-grey-icon {
//    @include icon-sprite(info_grey_8x16);
//    width: 8px;
//    height: 16px;
//}
//.twitter-bird-small {
//  @include icon-sprite(twitter_bird_small);
//  width: 18px;
//  height: 12px;
//}
//.play-button {
//  @include icon-sprite(play_alt_24x24);
//  width: 24px;
//  height: 24px;
//}
//.ajax-loader {
//  @include opacity(.8);
//  background: #FFF;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  top: 0px;
//  left: 0px;
//
//  .icon {
//    background: image-url("icon/ajax-loader.gif");
//    width: 30px;
//    height: 30px;
//    position: absolute;
//    top: 40px;
//    left: 50%;
//    margin-left: -15px;
//  }
//}