/*
    Document   : _talk
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.talk {
  &.teaser {
    &.hover {
      border-color: $talk-color;
    }
  }
}

#talks-c {
  .show-c {
    #page_header{
      .disable {
        z-index: 300;
        position: absolute;
        top: 38px;
        right: 20px;
        display: block;
      }
    }
    .root-response {
      padding: 10px 0 0 10px;
    }
    .talk-snippet {
      font-size: 16px;
      .ulink {
        color: #333;
        font-weight: bold;
      }
    }
    .root-object-c {
      background: #FFF;
      margin: 0 0 0 1px;
    }
    .root-object {
      position: relative;
      margin: 3px 0 15px 10px;

      .media {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .title {
        margin: 0px;

        .source {
          font-size: 11px;
          color: #999;
        }
      }
      .talking {
        margin: 5px 0 0 0;
        padding: 5px 0 0 0;
        width: 210px;
        border-top: 1px solid #CCC;
        display: block;
      }
      &.with-media {
        padding-left: 110px;
        min-height: 100px;
      }
      &.with-video {
        padding-left: 210px;
        min-height: 160px;
      }
    }
    .comment-thread {
      padding-left: 10px;
    }
  }
}