/*
    Document   : _talk
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.talk {
  &.teaser {
    border-color: #EFD299;
    &.hover {
      border-color: $talk-color;

      .wrapper
      {
        border-color: $talk-color;
      }
    }
  }
  &.teaser.grid {
    .content {
      p {
        clear: both;
        margin: 0 5px;
      }
    }
  }
  &.teaser.list {
    border: none;
    .wrapper {
      border-color: adjust-lightness($talk-color, 30);
    }
    &.hover {
      .wrapper {
        border-color: $talk-color;
      }
    }
  }
}

#talks-c {
  .show-c {
    .comment-thread {
      padding-left: 10px;
    }
  }
}