/*
    Document   : _talk
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.talk {
  &.teaser {
    &.hover {
      border-color: $talk-color;
    }
  }
}

#talks-c {
  .show-c {
    #page_header{
      .disable {
        z-index: 300;
        position: absolute;
        top: 38px;
        right: 20px;
        display: block;
      }
    }
    .comment-thread {
      padding-left: 10px;
    }
  }
}