.ui-tooltip-limelight {
  @include single-box-shadow(#333, 1px, 1px, 4px, 1px);
	border: 0;

  h3 {
    color: #FFF;
  }
  .ui-tooltip-tip {
    background: #333;
  }
  .ui-tooltip-titlebar,
  .ui-tooltip-content {
    margin: 0px;
    padding: 0px;
    border: 1px solid #333;
    background: #333;
  }

  .top {
    border-bottom: 1px solid #FFF;
    font-size: 18px;
    background: #333;
    padding: 12px 10px;
    color: #FFF;
  }
  .middle {
    background: #333;
    padding: 10px 10px;
    font-size: 13px;
    line-height: 16px;
    color: #FFF;
  }
  .bottom {
    padding: 7px 10px;
    background: #F5F5F5;
    box-shadow: 0 1px 0 white inset;
    border-top: 1px solid #DDD;
    text-align: right;
  }
  .close {
    color: #FFF;
  }
}

.tutorial-tip {
  z-index: 1020 !important;

  .middle {
    width: 225px;
  }
}

.comment-tip {
  .modal-body {
    padding: 0px;
  }
  .alert-error {
    @include border-radius(0px);
    margin: 0px;
    .close {
      color: #444;
      top: -4px;
    }
  }
  textarea {
    @include border-radius(0px);
    border: none;
    margin: 0px;
    padding: 10px;
    width: 220px;
    height: 100px;
    resize: none;
  }
}

.hover-tab {
  .middle {
    width: 225px;
  }
}

	/*.ui-tooltip-tipsy .ui-tooltip-titlebar,*/
	/*.ui-tooltip-tipsy .ui-tooltip-content{*/
		/*_margin-bottom: 0; *//* IE6 */
		/*.margin-bottom: 0; *//* IE7 */

		/*background: transparent;*/
		/*background: rgba(0, 0, 0, .87);*/
		/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);*/
		/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";*/

		/*color: white;*/
		/*border: 0px transparent;*/

		/*font-size: 11px;*/
		/*font-family: 'Lucida Grande', sans-serif;*/
		/*font-weight: bold;*/
		/*line-height: 16px;*/
		/*text-shadow: 0 1px black;*/
	/*}*/

	/*.ui-tooltip-tipsy .ui-tooltip-titlebar{*/
		/*padding: 6px 35px 0 10;*/
	/*}*/

	/*.ui-tooltip-tipsy .ui-tooltip-content{*/
		/*padding: 6px 10;*/
	/*}*/

	/*.ui-tooltip-tipsy .ui-tooltip-icon{*/
		/*border-color: #222;*/
		/*text-shadow: none;*/
	/*}*/

	/*.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover{*/
		/*border-color: #303030;*/
	/*}*/