/*
    Document   : _topic
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

// Trending topics
#trending-topics {
  margin: 9px 10px 0 10px;
  overflow: hidden;
  height: 20px;

  a {
    margin-left: 10px;
    color: white;
  }
}

// Topic tags.
.tag.topic {
  position: relative;
  a {
    color: #709721;
  }
  img {
    @include border-radius(2px);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &:hover {
    img {
      @include single-box-shadow(#CCC, 1px, 1px, 3px);
    }
  }
  &.with-image {
    padding: 6px 0 8px 37px;
  }
}

#topic-panel {
  padding: 5px 10px;

  h1 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.1em;
  }
  .topic-types {
    @include clearfix();
    margin: 2px 0 3px 0;
    min-height: 18px;
    li {
      font-size: 11px;
      float: left;
      color: #666;
    }
    a {
      color: #666;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .image {
    position: relative;
    min-height: 100px;
    margin: 10px 0 0 0;
  }
  .pop {
    @include single-box-shadow(#333, 1px, 1px, 2px);
    @include border-radius(3px);
    font-size: 26px;
    cursor: default;
    color: #555;
    position: absolute;
    top: -2px;
    left: -2px;
    border: 1px solid #888;
    background: #FFF;
    padding: 8px 10px;
  }
  .edit-topic-b {
    @include opacity(.85);
    position: absolute;
    padding: 1px 5px;
    background: #FFF;
    top: -2px;
    right: 0px;
    font-size: 12px;
    &:hover {
      @include opacity(1);
    }
  }
  .stats {
    position: relative;
    height: 35px;
  }
  .label {
    position: absolute;
    color: #999;
    font-size: 9px;
    cursor: default;

    &.followers {
      top: 0px;
      left: 4px;
      color: #666;
    }
  }
  .btn {
    @include border-radius(2px);
    padding: 1px 10px;
    margin: 5px 0 0 0;
    font-size: 12px;
    background: #F9F9F9;
    border: 1px solid #CCC;
    float: left;
    display: block;

    &.followers {
      right: 0px;
    }
  }
  .profile-image {
    margin: 3px 0 0 -10px;
  }
  .followB,
  .unfollowB {
    float: left;
    margin: 5px 10px 0 0;
  }
  .also {
    margin: 8px 0 0 0;
    .head {
      font-size: 14px;
    }
    div {
      font-size: 11px;
    }
  }
  .summary {
    font-size: 12px;
  }
  .topic-connections {
    .connection {
      @include clearfix();
      position: relative;
      .view-all {
        position: absolute;
        top: 4px;
        right: 5px;
        font-size: 12px;
      }
      h5 {
        border-bottom: 1px solid #F6F6F6;
        padding: 5px 0 1px 0;
        color: #777;
        margin: 0 0 5px 0;
      }
      .tag {
        margin: 3px 0 0 0;
      }
      .delete {
        float: right;
      }
    }
  }
}

#topics-c {
  .edit-c {
    .section {
      padding: 10px 5px;
      h3 {
        border-bottom: 1px solid #DDD;
        padding: 0 0 3px 5px;
      }
      label {
        font-weight: bold;
        padding: 0 0 2px 8px;
        font-size: 13px;
      }
      .field {
        margin-top: 5px;
      }
      .lClear {
        margin-top: 5px;
        label {
          font-weight: normal;
          padding: 0 0 0 5px;
          top: 5px;
        }
      }
      textarea {
        height: 150px;
      }
      input,
      textarea {
        width: 250px;
        margin: 0 0 0 5px;
      }
      select {
        margin: 5px 0 0 5px;
        font-size: 13px;
        width: 266px;
      }
      .check-label {
        input, label {
          width: auto;
        }
        label {
          font-weight: normal;
        }
      }
      .submit {
        @include green-button(2px, 12px);
        padding: 2px 6px;
        margin: 5px 0 0 5px;
        float: left;
        width: auto;
      }
      .topic-image {
        @include border-radius(2px);
        margin: 10px 5px;
        float: left;
      }
      .upload {
        @include green-button(2px, 12px);
        padding: 2px 6px;
        margin: 10px 0 0 5px;
        float: left;
        width: auto;
      }
      .con-topic {
        .tag {
          float: left;
        }
      }
      #freebase-update-form {
        .image-preview {
          max-height: 150px;
          max-width: 150px;
          margin: 5px;
        }
      }
      #user_uploadB-progress {
        float: left;
        color: #666;
        margin: 11px 0 0 13px;
        font-size: 13px;
      }
    }
  }
}

.topic-con-full {
  max-width: 500px;
  margin: auto;

  h4 {
    @include border-radius(2px);
    display: inline-block;
    margin: 10px 0 5px 0px;
    padding: 2px 7px;
    background: #B0D751;
    color: white;
  }
}

.ac_results {
  .auto-topic
  {
    .types {
      position: absolute;
      bottom: 2px;
      right: 90px;
      font-size: 11px;
      font-style: italic;
    }
  }
  .ac_over {
    .auto-topic {
      .types {
        color: #FFF;
      }
    }
  }
}