/*
    Document   : _topic
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.topic-list {
  li {
    position: relative;
    height: 50px;
    margin: 5px 0;

    &.odd {
      background: $grayLightest;
    }
    .tlink {
      padding: 16px 0 0 60px;
      position: relative;
      display: inline-block;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        display: block;
      }
    }
    h5 {
      vertical-align: middle;
    }
    .ll-cloud-green {
      position: absolute;
      top: 17px;
      right: 145px;
    }
    .score-pts {
      float: right;
      margin: 16px 0 0 0;
    }
    .follow-c {
      float: right;
      width: 85px;
      text-align: right;
      margin: 11px 10px 0 0;
    }
  }
}

.section.topic-section-list {
  margin: 7px 6px 0 10px;
  height: 107px;
  overflow: hidden;

  .none {
    margin: 16px 0 0 0;
  }
  .tlink {
    float: left;
    width: 50px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 15px;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

.section.like-section-list {
}

#topic-edit {
  .section {
    padding-bottom: 15px;
    .check {
      input {
        float: left;
        margin-right: 10px;
      }
    }
  }
  #topic-basic-form {
    .actions { margin-top: 5px }
  }
  #topic-connection-form .meat {
    h4 { margin-bottom: 5px; }
    ul { margin-bottom: 15px; }
    .actions {
      clear: left;
      margin-top: 10px;
    }
  }
  .alias,
  .topic-connection {
    margin-bottom: 5px;
    position: relative;
    @include clearfix();
    //>div {
    //  float: left;
    //}
    .ooac-btn,
    .delete {
      cursor: pointer;
      margin-left: 15px;
      position: absolute;
      top: 0px;
    }
    .ooac-btn {
      left: 80px;
      color: $blue;
    }
    .delete {
      left: 230px;
      color: $red;
    }
  }
}

#topic-image-form {
  @include clearfix();

  .current-image {
    float: left;
    display: block;
    max-width: 200px;
    max-height: 200px;
  }
  .google-images {
    display: none;
    position: relative;
    min-width: 250px;
    min-height: 250px;
    float: left;
    padding: 25px 0 0 0;
    text-align: center;
    margin: 0 0 0 25px;

    .left,
    .right {
      position: absolute;
      top: 0px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    .left {
      left: 0px;
    }
    .right {
      right: 0px;
    }
    .dimensions {
      position: absolute;
      top: 0px;
      left: 50%;
      margin: 0 0 0 -50px;
      width: 100px;
      text-align: center;
    }
    .images {
      width: 250px;

      img {
        display: block;
        margin: auto;
        max-width: 250px;
        max-height: 250px;
        border: 1px solid #999;
        padding: 2px;
      }
    }
    .btn {
      margin: 10px 0 0 0;
    }
  }
}

.sidebar {
  .edit-btn {
    margin: 10px;
  }
}

#topics-c {
  .duplicates-c {
    h4 {
      margin: 0 0 15px 0;
      text-align: center;
      width: 670px;
    }
    .content-tile {
      .check-all {
        color: $link;
        font-size: 14px;
        cursor: pointer;
      }
      .meat {
        ul {
          list-style: none;
        }
        li {
          @include clearfix();
          .radio {
            margin: 0 8px 0 0;
            position: relative;
            top: 1px;
          }
          > div {
            width: 14%;
            float: left;
          }
        }
        .delete {
          margin: 15px 0 0 0;
        }
      }
    }
  }
}