/*
    Document   : _topic
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

// Topic tags.
.tag.topic {
  a {
    color: #709721;
  }
}

#topic-panel {
  padding: 5px;

  .topic-types {
    margin: 2px 0 5px 8px;
    li {
      font-size: 14px;
      color: #999;
    }
    .none {
      font-style: italic;
    }
  }

  #topic-edit {
    font-size: 12px;
    h4 {
      font-size: 14px;
    }
    ul {
        margin: 0 0 5px 0;
    }
    form {
      margin-bottom: 5px;
      .lClear label {
        top: 5px;
      }
      .field {
        input,
        textarea {
          width: 195px;
        }
        textarea {
          height: 150px;
        }
      }
      .actions input {
        padding: 2px 0;
        width: 110px;
      }
      select {
        border: none;
        width: 100%
      }
    }
  }
}

.auto-topic
{
  .name.with-type {
    padding: 1px 0 14px 0;
  }
  .types {
    position: absolute;
    bottom: 0px;
    left: 39px;
    font-size: 11px;
    font-style: italic;
  }
}