#tutorial {
  margin: 80px 0 0 200px;
  width: 570px;
  position: relative;

  h2 {
    cursor: default;
  }
  .content-tile {
    position: relative;
  }
  .section {
    padding: 0px;
    width: 548px;
  }
  .modal-body {
    @include clearfix();
  }
  .modal-footer {
    position: relative;

    .btn { float: right; }
    .social {
      position: absolute;
      left: 20px;
      top: 44px;

      .fb-like,
      .twitter-share-button,
      .google {
        position: absolute;
      }
      .fb-like {
        left: 0px;
        bottom: -1px;
      }
      .twitter-share-button {
        left: 90px;
        bottom: 0px;
      }
      .google {
        left: 185px;
        bottom: -4px;
      }
    }
  }
  .step-count {
    float: right;
    cursor: default;
    color: #999;
    font-weight: bold;
    margin: 10px 20px 0 0;
  }
  .tutorial-head {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -260px;
    h3 {
      position: absolute;
      top: 36px;
      left: 120px;
      width: 400px;
    }
    img {
    }
  }
  #tutorial-1 {
    ul {
      list-style: none;
      margin: 10px 0 0 0;
      li {
        margin: 10px 0 0 0;
      }
    }
    .social-connect {
      width: 250px;
      float: left;
      margin: 30px 0 20px 0;
      h4 {
        color: #999;
        margin: 0 0 5px 2px;
        cursor: default;
      }
      &.on {
        h4 {
          color: $green;
        }
        a {
          cursor: default;
        }
        img {
          @include opacity(50);
        }
      }
    }
  }
  #tutorial-2 {
    h4 {
      cursor: default;
      margin: 20px 0 15px 0;
    }
    .tlink {
      cursor: default;
    }
    .load-more {
      margin: 20px 0 10px 0;
    }
  }
  #tutorial-3 {
    margin: -15px 0 0 0;

    h4 {
      margin: 20px 0 7px 0;
    }
    li {
      position: relative;
      padding: 3px 0 3px 15px;

      span {
        position: absolute;
        font-weight: bold;
        left: 1px;
      }
    }
  }
  #tutorial-4 {
    h4 {
      margin: 20px 0 5px 0;
    }
    .code {
      font-size: 17px;
      margin: 0 0 20px 0;
    }
  }
}