/*
    Document   : _users
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.ulink {
  span {
    position: relative;
    color: #999;
    font-weight: normal;
    font-size: 11px;
  }
}

.user-list {
  li {
    height: 50px;
    margin: 5px 0;

    &.odd {
      background: $grayLightest;
    }
    .ulink {
      padding: 16px 0 0 60px;
      position: relative;
      display: inline-block;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: #999;
        display: block;
      }
    }
    h5 {
      vertical-align: middle;
    }
    .score-pts {
      float: right;
      margin: 16px 0 0 0;
    }
    .follow-c {
      float: right;
      width: 85px;
      text-align: right;
      margin: 11px 10px 0 0;
    }
  }
}

.section.user-section-list {
  margin: 7px 10px 0 0;
  height: 107px;
  overflow: hidden;

  .none {
    margin: 16px 0 0 0;
  }
  .ulink {
    float: left;
    width: 50px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 15px;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

#user-settings {

  .section {
    @include clearfix();
  }
  form {
    position: relative;

    .field.bio {
      position: absolute;
      left: 240px;
      top: 0px;
        textarea {
          height: 150px;
          width: 400px;
        }
    }
    .value {
      margin: 10px 0 20px 5px;
    }
    .field {
      input {
        margin-bottom: 15px;
      }
    }
    .actions {
      margin: 5px 0 10px;
    }
  }
  .email-settings,
  .image-settings,
  .social-settings {
    font-size: 15px;
    .field {
      position: relative;
      padding: 15px 0;

      .btn-group,
      .s-btn,
      a.facebook,
      a.twitter {
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -14px;
      }
      a.facebook { margin-top: -11px; }
    }
  }
  .image-settings {
    padding-bottom: 20px;
    .profile-image {
      float: left;
      margin: 0 20px 0 0;
    }
    .upload {
      float: right;
      margin: 10px 0;
    }
  }
  .note {
    float: right;
    font-size: 13px;
    margin: 5px 0 10px;
  }
}

.username-reset {
  width: 410px;
  margin-left: -205px;

  h2 {

  }
  input {
    display: block;
    padding: 10px 8px;
    margin: 10px 0;
    font-size: 16px;
    width: 360px;
  }
  .btn {
    margin: 0px;
  }
}

.sidebar-invite {
  .code {
    float: left;
  }
  .remaining {
    float: right;
  }
}

.sidebar-social-connect {
  .status {
    font-weight: normal;
    margin: 0 0 3px 0;
    font-size: 12px;
    cursor: none;
  }
  .social-connect {
    > a {
      margin: 0 0 0 -2px;
    }
    &.on {
      .status {
        color: green;
      }
      > a {
        @include opacity(40);
        cursor: default;
      }
    }
    &.twitter {
      margin: 10px 0 0 0;
    }
  }
}

.contacts {
  @include border-radius(3px);
  width: 500px;
  margin-left: -250px;
  left: 50%;
  top: 50px;
  position: absolute;
  border: 1px solid $grayDark;
  margin-bottom: 50px;
  background: #FFF;
  h2 {
    margin: 10px;
  }
  li {
    position: relative;
    padding: 3px 10px;
    cursor: pointer;
    .name {
      position: absolute;
      top: 3px;
      left: 300px;
    }
    input {
      margin: -3px 5px 0 0;
    }
    &.check-all {
      margin-bottom: 10px;
    }
    &.on {
      background: $greenDarker;
      color: #FFF;
    }
  }
  div {
    margin: 10px;
  }
  .submit {
    float: right;
  }
}