/*
    Document   : _video
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.video {
    &.teaser {
      border-color: adjust-lightness($video-color, 20);
      &.hover {
        border-color: $video-color;
      }
    }
    .video-embed {
      float: left;
    }
    &.teaser.grid {
        p {
            overflow: hidden;
            height: 22px;
            bottom: 22px;
        }
    }
    
    &.teaser.list {
        .videoC {
            float: left;
            display: block;
        }
    }

    &.teaser.column {
      p {
        margin-top: 5px;
      }
    }

    &.objectContent {
        text-align: center;
    }
}