/*
    Document   : _video
    Created on : Mar 30, 2011, 4:04:51 PM
    Author     : Marc MacLeod
    Description:
        Purpose of the stylesheet follows.
*/

.video {
    &.teaser {
      &.hover {
        border-color: $video-color;
      }
    }

    &.objectContent {
        text-align: center;
    }
}