/*

specific to webkit browsers (chrome, safari)

*/

.sidebar {
  .section-h {
    line-height: 29px;
  }
}

#feed-filters {
  .feed-sort {
    .feed-sort-select {
      padding-top: 6px;
      min-height: 15px;
    }
  }
  .feed-display {
    .opt {
      padding-top: 6px;
    }
  }
}