<a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://localhost:3000/bookmarklet.js';})();">+Post</a>

<div>
  Count1: <%= @count1 %>
</div>

<div>
  Count2: <%= @count2 %>
</div>