<!DOCTYPE HTML>
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => 'shared/head' %>
  </head>

  <body id="blank">
    <%= yield %>
    <%= render 'shared/layout_js' %>
    <%= render :partial => 'shared/social_tools' %>
  </body>
</html>