<%
 #TODO: This sucks.
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<div align="center">
  <a href="<%= base %>">
    <%= image_tag base + image_path('logo_black.gif'), :style => 'max-width: 259px; max-height: 61px; margin-bottom: 15px;', :alt => "" %>
  </a>
</div>

<%= yield %>

<div>
  Marc and Matt<br/>
  -The Limelight Team
</div>

<div>
  Find us on
  <a href="http://facebook.com/DiscoverLimelight">Facebook</a>
  and
  <a href="http://twitter.com/Limelight_Team">Twitter</a>
</div>

<br/>
<%= yield :footer %>