<li class="coreObjectShare teaser <%= cycle("odd", "") -%>">
  <%= user_link notification.sender_snippet %>
  <div>sent you</div>
  <%= link_to notification.shared_object_snippet.name,
              url_for(:controller => notification.shared_object_snippet.type.underscore.pluralize,
                      :action => 'show',
                      :id => notification.shared_object_snippet.name.to_url )
               %>
</li>