// Root Colors
$picture: $purple;
$link: $blue;
$video: $red;
$talk: $orange;
$topic: $green;

$picture10RGBA: rgba(122,67,182,0.1);
$link10RGBA: rgba(32,94,176,0.1);
$video10RGBA: rgba(157,38,29,0.1);
$talk10RGBA: rgba(248,148,6,0.1);
$topic10RGBA: rgba(144,193,45,0.1);

$picture50RGBA: rgba(122,67,182,0.5);
$link50RGBA: rgba(32,94,176,0.5);
$video50RGBA: rgba(157,38,29,0.5);
$talk50RGBA: rgba(248,148,6,0.5);
$topic50RGBA: rgba(144,193,45,0.5);

$greyLight: #F9F9F9;
$grey: #999;
$greyDarker: #444;