// Root Colors
$picture: $purple;
$link: $blue;
$video: $red;
$talk: $orange;
$topic: $green;

$picture10RGBA: rgba(122,67,182,0.1);
$link10RGBA: rgba(32,94,176,0.1);
$video10RGBA: rgba(157,38,29,0.1);
$talk10RGBA: rgba(248,148,6,0.1);
$topic10RGBA: rgba(144,193,45,0.1);

$picture50RGBA: rgba(122,67,182,0.5);
$link50RGBA: rgba(32,94,176,0.5);
$video50RGBA: rgba(157,38,29,0.5);
$talk50RGBA: rgba(248,148,6,0.5);
$topic50RGBA: rgba(144,193,45,0.5);

$grayLightest: #F9F9F9;
$IETransparentBlue: #D4E2E6;

$feedColumnWidth: 335px;
$feedColumnMargin: 15px;
$feedColumnPadding: 15px;

// Overrides

// Buttons
.btn {
  @include border-radius(2px);
}
.btn-success {
  @include button-background($green, $greenDarker);

  &.gray {
    @include button-background(#CCC, #AAA);
  }
}

// Dropdowns
.dropdown-menu {
  &.right {
    left: auto;
    right: 0px;
  }
  li > a:hover,
  .active > a,
  .active > a:hover {
    background-color: $blue;
  }
}

.navbar {
  color: #444;
  .btn {
    margin-top: 0px;
  }
  .dropdown-menu {
    &:after {
      left: auto;
      right: 10px;
    }
    &:before {
      left: auto;
      right: 9px;
    }
  }
}

// Forms
form {
  margin: 0;
}

// Modals
.modal {
  @include border-radius(0px);
}
.modal-backdrop {
  background: #666;
}